/*.section_22{

    & .section_22__header {
        font-family: "Play-700";
        font-size: 16px;
        @include ls(25);
    }



    & .section_22__link {
        font-family: "Mulish-600";
        font-size: 16px;
        line-height: 18px;
        @include ls(25);
    }
}
*/