.section_4_bg {
    background-image: url("../img/svg/section_4__bg.svg");
    background-position: 25px center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 145px;
    padding-top: 187px;
    margin-bottom: 0;

    @include respond-to(md) {
        //background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
        margin-top: 80px !important;
        background-image: none;
        padding-top: 80px;
    }


    @include respond-to(sm) {
        background-image: url("../img/svg/mosaic_3.svg");
        background-position: 10px bottom;
        background-size: auto auto;
        padding-bottom: 80px;
        padding-top: 0px;
    }

}

.section_4 {
    padding-left: 8px;
    padding-right: 8px;

    & .section_4__header {
        font-family: "Almarai-700";
        font-size: 28px;
        margin-bottom: 0 !important;

        @include respond-to(md) {
            text-align: center;
        }
    }

    & .section_4__content {
        margin-top: 35px;


        & .section_4__item {

            padding-left: 32px;
            padding-right: 32px;
            padding-top: 40px;
            background-color: $blue-1;
            border-left: 5px solid $dark-blue-1;
            border-right: 5px solid $dark-blue-1;

            @include respond-to(sm) {
                //background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
                padding-left: 26px;
                padding-right: 26px;
                padding-top: 20px;

            }

            & .section_4__item__header {
                font-family: "Mulish-600";
                font-size: 24px;
                display: inline-block;
                color: $white;


                @include respond-to(md) {
                    max-width: 70%;
                }

                @include respond-to(sm) {
                    font-size: 22px;
                    max-width: 100%;

                }
            }

            & .section_4__item__other {
                justify-content: space-between;
                flex-grow: 1;

                & .section_4__item__img-wrapper {
                    max-height: 370px;
                    overflow: hidden;

                    @include respond-to(md) {
                        max-height: 310px;
                    }
    
                    @include respond-to(sm) {
                        max-height: 291px;
                    }

                    @include respond-to(xs) {
                        max-height: 180px;
                    }
                }


                & .section_4__item__link {
                    font-family: "Play-700";
                    font-size: 16px;
                    display: inline-block;
                    color: $light-blue-1;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                & .section_4__item__button {
                    background-color: transparent;
                    border: none;
                    color: $white;
                    text-transform: uppercase;

                    @include respond-to(md) {
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }

                    @include respond-to(sm) {
                        background-color: $light-blue-1;
                        color: $black;
                        padding: 16px 33px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }


                }

            }





            & .section_4__item__line {
                background-color: $light-blue-2;
                left: -40px;
                top: 48px;
                height: 7px;
                width: 55px;

                @include respond-to(sm) {
                    top: 28px;
                }
            }

        }




        & .section_4__right-side {
            padding-top: 0;

            @include respond-to(md) {
                padding-top: 43px;
            }

            @include respond-to(sm) {
                padding-top: 25px;
            }


            & .section_4__item_3 {
                margin-top: 43px;
                
                @include respond-to(md) {
                    padding-top: 24px;
                }
                @include respond-to(sm) {
                    margin-top: 25px;
                }
            }


            & .section_4__right-side__button {
                margin-top: 50px;

                @include respond-to(sm) {
                    margin-top: 25px;
                    margin-top: 25px;
                }
            }


        }
        
                & .section_4__item_1 {
                    height: 545px;
        
                    @include respond-to(xs) {
                        height: 416px;
                    }
        
                }
        
                & .section_4__item_2 {
                    height: 170px;
                }






    }

    


}