.section_13_bg {
    //background-color: $light-blue-1;

    padding-top: 73px;
    padding-bottom: 54px;

    background-image:  url("../img/svg/mosaic_1.svg"), url("../img/svg/mosaic_2.svg"), linear-gradient(90deg, $light-blue-1 33%, $light-blue-1 33%, $light-blue-1 100%);
    background-repeat: no-repeat;
    background-position: -14px 0%, 102% 100%, 0 0;
    background-size: 642px auto, auto auto, 100% 100%;


    @include respond-to(md) {
        background-image:  url("../img/svg/mosaic_1.svg"), linear-gradient(90deg, $light-blue-1 33%, $light-blue-1 33%, $light-blue-1 100%);

    }


    @include respond-to(sm) {
        background-image:  url("../img/svg/mosaic_1.svg"), linear-gradient(90deg, $light-blue-1 33%, $light-blue-1 33%, $light-blue-1 100%);
        background-position: -195px 0%, 0 0;
        background-size: 500px auto, 100% 100%;
        padding-bottom: 64px;
    }
}



.section_13 {
  

    & .section_13__header {
        font-family: "Almarai-700";
        font-size: 28px;        
    }
    
    
    & .section_13__text {
        font-family: "Mulish-400";
        font-size: 18px;        
        margin-top: 24px;  
    }

    & .section_13__button {        
        margin-top: 36px;
        width: 208px;        

        @include respond-to(sm) {
            width: 251px;
        }
    }
}