.section_8_bg {
    //border: 2px solid green;
    //margin-top: 90px !important; 

   //@at-root @include respond-to(sm) {
    //@at-root    margin-top: 0px !important; 
    //}
    /*
    <img src="./assets/img/sections/section_8_bg-mobile.jpg" alt="" class="section_8__img_mobile position-absolute ">
*/
    //background: url("../img/yellow_bubbles.jpg") #666;// linear-gradient(270deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
    //background-image: url("../img/yellow_bubbles.jpg");
    //background-position: 70% 50%;
    //background-size: auto 80%;
    //background-repeat: no-repeat;
    //background-position: 600px center;
    background: url('../img/svg/pages_about_quality_bg-2.svg'), linear-gradient(270deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
    padding-bottom: 68px;
    background-position: 100% 100%, 100% 0%;
    background-size: 34% auto, 100% 100%;
    background-repeat: no-repeat;

    @include respond-to(md) {
        background: linear-gradient(180deg, rgba(255,255,255,1) 33%, rgba(231,242,242,1) 33%, rgba(231,242,242,1) 100%);
        margin-bottom: 0;
        padding-bottom: 0px;
        //background: none;
    }

    @include respond-to(sm) {
        //background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(231,242,242,1) 0%, rgba(231,242,242,1) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,1) 250px, rgba(231,242,242,1) 250px, rgba(231,242,242,1) 100%);
    }


}

.section_8 {
    min-height: 985px; 
    
    padding-left: 8px !important;
    padding-right: 8px !important;


    & .section_8__data {

        //padding-top: 216px;
        //padding-bottom: 227px;

        @include respond-to(md) {
            padding-top: 0;
            padding-bottom: 0;

            /*background-image: url("../img/section_8__bg_mobile.jpg");
            background-position: left 50%;
            background-size: 70% 20%;
            background-repeat: no-repeat;*/
            //<h3 class="section_8__header">{{ data.header }}</h3>

        }
/*
        & .section_8__header {
            margin-bottom: 0;
        }
*/
        & .section_8__textarea {

            padding-left: 0 !important;
            padding-right: 0 !important;

            
            & .section_8__img_mobile {
                display: none;

                @include respond-to(md) {
                    display: block;
                    top: -90px;
                    left: -30px;
                    width: 60vw;
                    z-index: 20;
                    height: 100%;
                }
            }

        }





        & .section_8__img-wrapper {
            margin-bottom: 0;
            //border: 2px solid red;
    
            @include respond-to(md) {
                top: 0; 
                left: 25%;
                position: relative !important;
                order: -1;
                height: 500px;
                width: 900px !important;
                //overflow: hidden;
                //background-image: url("../img/yellow_bubbles.jpg");
                margin-bottom: 44px;
                //z-index: 60;
                //border: 2px solid red;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                //background-size: 100% 50%;
                margin-bottom: 0;
            }
             
            @include respond-to(sm) {
                background-size: auto 100%;
                height: 320px;
            }
    
            
            & .section_8__img-cont {
                position: absolute;
                height: 826px;
                width: auto;
                left: 50%;
                top: 98px;
                overflow: hidden; //!!!

    
                @include respond-to(md) {
                    display: none;
                    z-index: -1;
                }
            }
    
        }



    }




}

