{% extends "../_layout.twig" %}
{% set pageTitle = 'Accessibility' %}
{% set pageClass = 'body_accessibility' %}

{% set page_accessibility = {
    heading: {
        heading_top_text: "Accessibility",        
        bg_img: "./assets/img/pages/accessibility/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    },
    
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_accessibility.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_accessibility.heading} %}

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">At Plenco, we’re committed to accessibility. It is our policy to ensure that everyone, including persons with disabilities, has full and <span class='text-blue-l2'>equal access to our digital offerings</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>2
    </div>



    <div class="row col-12 my-0">
        <div class="col px-0">
            <div class="container cont-site mb-5 pb-2 pb-md-5 pt-4 pt-md-3">
                <p class="text_main mb-0 pt-4 pt-md-5 mt-2 mt-md-0">Our website strives to meet the following accessibility standards: <a href="#" class="text-black-1">Web Content Accessibility Guidelines (WCAG) 2.0 AA, PDF/Universal Accessibility (PDF/UA)</a> to ensure our digital offerings are ADA Compliant.</p>                
                <p class="text_add pb-0 mb-0 pt-4 px-4 ps-0 ps-md-4">Here are just some of the many ways that our website is accessible and meets the above accessibility standards:</p>
                <ul class="ul_3 mb-0 ps-4 pt-2">
                    <li class="ul_3__text text_add_small my-0 pt-2 pt-md-1">Background and foreground colors are made to have high contrast ratios</li>
                    <li class="ul_3__text text_add_small my-0 pt-3 pt-md-1">Buttons have discernible names</li>
                    <li class="ul_3__text text_add_small my-0 pt-3 pt-md-1">Clean, efficient coding practices</li>
                    <li class="ul_3__text text_add_small my-0 pt-3 pt-md-1">Descriptive alt tags are set on all meaningful images</li>
                    <li class="ul_3__text text_add_small my-0 pt-3 pt-md-1">We use a focus indicator to highlight interactable elements</li>
                    <li class="ul_3__text text_add_small my-0 pt-3 pt-md-1">We maintain a consistent and maintainable layout throughout the website</li>                    
                </ul>
                <p class="text_add_small pt-4 pt-md-5 mb-0">Plenco and it’s developers are committed to accessibility and we are always seeking to improve. If you know of a way we can improve, we’d love to hear more. You can email the developers of this site at <a href="mailto:info@fifthcolor.com" class="text-black-1" style="font-family: 'Mulish-600';">info@fifthcolor.com</a>.</p>
            </div> 
        </div>
    </div>


    
    
       







    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}