{% extends "../_layout.twig" %}
{% set pageTitle = 'BMC/Thermoset Polyester Molding Materials Environmental Details' %}
{% set pageClass = 'body_bmc-envir-details' %}

{% set page_bmc_envir_details = {
    heading: {
        heading_top_text: "Environmental Details of BMC/ Thermoset Polyester Molding Materials",
        heading_top: "Performance Characteristics of BMC/Thermoset Polyester Molding Materials",
        bg_img: "./assets/img/pages/bmc-envir-details/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_bmc_envir_details.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_bmc_envir_details.heading} %}
    
    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0 d-none d-md-block">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero <span class='text-blue-l2'>eos et accusam et justo</span>.</p>
                </div> 
                <div>
                    <p class="text_heading_main text-white-1 mb-0 d-md-none">Plenco Bulk Molding Compounds (BMC) are custom formulated to perform in a wide range of applications. BMC’s can be tailored to meet or <span class='text-blue-l2'>exceed performance expectations</span>.</p>
                </div>
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1 d-md-none"></p> 
                </div>                
            </div>
        </div>
    </div>
    
 



    <div class="section_37">
        <div>
            <div class="block_202">
                <div>
                    <a href="bmc.html">
                        <h3>BMC/Thermoset Polyester Molding Materials</h3>
                    </a>
                    <a >
                        <h3 class="current">Environmental Details</h3>
                    </a>
                    <a href="bmc-app.html">
                        <h3>Applications</h3>
                    </a>
                    <a href="bmc-cost-param.html">
                        <h3>Cost Parameters</h3>
                    </a>
                    <a href="#product-series">
                        <h3>Product Series</h3>
                    </a>
                    <a href="bmc.html">
                        <h3>Resources</h3>
                    </a>
                </div>
            </div>

            <div class="block_203">
                <div class="block_204">

                    <div class="block_205">
                        <div>
                            <img src="./assets/img/pages/bmc-envir-details/bmc-envir-details.jpg" alt="bmc-envir-details">
                        </div>
                        <h2 id="chemicals">Temperatures Associated with <span>BMC/Thermoset Polyester Molding Materials</span></h2>
                        <div>
                            <img src="./assets/img/pages/bmc-envir-details/bmc-envir-details.jpg" alt="bmc-envir-details">
                        </div>
                        <p>Plenco BMC materials are formulated to provide superior heat resistance and flame retardancy.  With a UL RTI rating of 160°C – 180°C and flammability of V-0, BMC’s exhibit a wide range of properties.</p>
                        <ul>
                            <li>V-0 5VA Flammability Rating</li>
                            <li>Up to 170°C RTI Rating</li>
                            <li>Continuous Use Temperature of 238°C</li>
                        </ul>

                        <a href="#plenco-buildings" class="block_button button_yel"> <!-- delete for this case, just example -->
                            <img src="./assets/img/svg/arrow_down_1.svg" alt="">
                            <h3>Just Example</h3> 
                        </a>
                    </div>


                    <div class="accordion accordion-flush section_37_accordion d-md-none mt-5 col-12" id="bmc-env-det__accordion-nav">
                        <div class="row ">
    
                            <div class="acc__item-wrap col-12 px-0">
                                <div class="accordion-item ">
                                    <h2 class="accordion-header border-bottom border-7 border-yellow-1" id="acc-nav__header-1">
                                        <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-white-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-nav__body-1" aria-expanded="true" aria-controls="acc-nav__body-1">
                                            <h3 class="accordion-header d-block mb-0 text-uppercase text-blue-1">Performance Characteristics</h3> 
                                        </button>
                                    </h2>
                                    <div id="acc-nav__body-1" class="accordion-collapse collapse" aria-labelledby="acc-nav__header-1" data-bs-parent="">
                                        <div class="accordion-body pt-2 pb-0">
                                            <a href="bmc.html" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                <h3 class="text-blue-1 mb-0">BMC/Thermoset Polyester Molding Materials</h3>
                                            </a>
                                            <a href="bmc-app.html" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                <h3 class="text-blue-1 mb-0">Applications</h3>
                                            </a>
                                            <a href="bmc-cost-param.html" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                <h3 class="text-blue-1 mb-0">Cost Parameters</h3>
                                            </a>
                                            <a href="#product-series" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                <h3 class="text-blue-1 mb-0">Product Series</h3>
                                            </a>
                                            <a href="bmc.html" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                <h3 class="text-blue-1 mb-0">Resources</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>






 <!--
                    <div class="section_37__textarea px-0 col-12 position-relative">
                        <div class="section_37__textarea-wrap col-12">
                            <div class="block_4 d-flex flex-column justify-content-between">
                                <div class="block_4__text-cont pe-3">
                                    <div class="mock d-none d-lg-block float-end  ms-5 mb-5">
                                        <div class="section_37__img-cont_dt position-relative  d-flex justify-content-end align-self-md-end  d-none d-lg-block">
                                            <img src="./assets/img/pages/bmc-envir-details/bmc-envir-details.jpg" alt="bmc-envir-details" class="section_37__image_dt position-relative d-none d-lg-block">
                                        </div>
                                    </div>
                                    <h2 class="block_4__header section_37__header-line position-relative mb-0 text-start d-none d-md-block " id="temperature">Temperatures Associated with <span class='text-blue-1 font-normal'>BMC/Thermoset Polyester Molding Materials</span></h2>
                                    <p class="text_add position-relative mb-0 text-lg-start mt-4 d-none d-md-block">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no</p>
                                    <p class="text_add position-relative mb-0 text-lg-start mt-4 d-md-none">Plenco BMC materials are formulated to provide superior heat resistance and flame retardancy.  With a UL RTI rating of 160°C – 180°C and flammability of V-0, BMC’s exhibit a wide range of properties.</p>
                                    <ul class="ul_3 d-md-none mt-3  ps-4">
                                        <li class="ul_3__text mt-2">V-0 5VA Flammability Rating</li>
                                        <li class="ul_3__text mt-2">Up to 170°C RTI Rating</li>
                                        <li class="ul_3__text mt-2">Continuous Use Temperature of 238°C</li>
                                    </ul>
                                    
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="section_37__img-cont position-relative  d-flex justify-content-end align-self-md-end d-lg-none">
                        <img src="./assets/img/pages/bmc-envir-details/bmc-envir-details.jpg" alt="bmc-envir-details" class="section_37__image position-relative">
                    </div>
                    <h2 class="block_4__header section_37__header-line position-relative mb-4 text-start mt-5 mt-lg-0 d-md-none align-self-start">Temperatures Associated with <span class='text-blue-1 font-normal'>BMC/Thermoset Polyester Molding Materials</span></h2>
                

                </div>
-->
                

                <div class="block_205">
                    <h2 id="chemicals">Chemicals Used with <span>BMC/Thermoset Polyester Molding Materials</span></h2>
                    <p>Bulk Molding Compounds have excellent resistance to most substances and can be formulated to provide superior chemical and corrosion resistance. </p>
                    <ul>
                        <li>Most Acids</li>
                        <li>Oxidizers and Solvents</li>
                        <li>Hydrocarbon Fuels, Oils & Lubricants</li>
                    </ul>
                </div>


                <div class="block_205">
                    <h2 id="characteristics">Characteristics of <span>BMC/Thermoset Polyester Molding Materials</span></h2>
                    <h3>Heading</h3>    
                    <p>Plenco BMC formulations can range from easily customizable general-purpose materials with good mechanical strength to an excellent flame and tracking resistant material with outstanding electrical properties. The versatility of BMC makes it suitable for a wide range of applications. Depending on the raw materials selected, BMC’s exhibit UV stability, resistance to heat and corrosion, minimal shrink, electrical insulation and stability, and low smoke and flame retardance.</p>
                </div>    


                <div class="row section_27_bg bg-blue-l1 ms-3 ms-md-n4">
                    <div class="col px-0">
                        <div class="container section_27 d-flex flex-column justify-content-center mt-4 mt-md-5">
                            <h2 class="section_37__header-line mb-0 position-relative mt-0 ms-n5 ps-2 ps-md-0 ms-md-0" id="product-series">Related <span class='text-blue-1 font-normal'>Product Series</span></h2>
            
                            <div class="section_27__blocks row row-cols-sm-2 row-cols-lg-2 g-3 g-md-4 mx-n2 mt-1">
            
            
                                <div class="block_6-wrap">
                                    <div class="block_6 position-relative bg-white-1 d-flex flex-column justify-content-between py-3">
                                        <div class="block_6__header d-flex align-items-center px-4 flex-grow-1">
                                            <p class="block_6__text mb-0 text-black-1">Polyester Bulk Molding Compounds</p>
                                        </div>
                                        <div class="block_6__line h-0 w-50 border-bottom border-1 border-blue-l2 ms-4"></div>
                                        <div class="block_6__links mt-2 ps-4 pe-5">
                                            <div class="block_6__link text-decoration-none">
                                                <h3 class="mb-0 text-blue-1 d-inline-block">Plenco Series 08000</h3>
                                            </div> 
                                            <div class="btn button_arrow_45_r bg-yellow-1 block_6__button position-absolute bottom-0 end-0"></div>
                                        </div>
                                        <a href="series-08000.html" class="stretched-link "></a>
                                    </div>    
                                </div>
            

                                <div class="block_6-wrap">
                                    <div class="block_6 position-relative bg-white-1 d-flex flex-column justify-content-between py-3">
                                        <div class="block_6__header d-flex align-items-center px-4 flex-grow-1">
                                            <p class="block_6__text mb-0 text-black-1">Granular Polyester Molding Compounds</p>
                                        </div>
                                        <div class="block_6__line h-0 w-50 border-bottom border-1 border-blue-l2 ms-4"></div>
                                        <div class="block_6__links mt-2 ps-4 pe-5">
                                            <div class="block_6__link text-decoration-none">
                                                <h3 class="mb-0 text-blue-1 d-inline-block">Plenco Series 01500</h3>
                                            </div> 
                                            <div class="btn button_arrow_45_r bg-yellow-1 block_6__button position-absolute bottom-0 end-0"></div>
                                        </div>
                                        <a href="series-01500.html" class="stretched-link "></a>
                                    </div>    
                                </div>

                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row section_107_bg h-100 p-0 m-0 overline-r overline_mob-r"> 
        <div class="section_107 col-12 px-0 d-flex align-items-start align-items-md-center pt-5 pb-4 pb-lg-5">
            <div class="container cont-site section_107__content col-md-12 d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center mt-3 mt-md-0">
                <div class="section_107__left col-lg-8 position-relative">
                    <h1 class="section_107__header text-center text-lg-start text-blue-l3 mb-0">Learn More</h1>
                    <p class="section_107__text text-center text-lg-start text-white-1 mb-0 pe-lg-4">Environmental Details of BMC/Thermoset <wbr>Polyester Molding Materials</p>
                </div>
                <div class="section_107__right col-lg-4  position-relative align-self-center align-self-lg-end">
                    <a type="button" class="btn btn-yellow-1 section_107__button ms-0 ms-md-4 mt-4 mt-lg-0 navbtn" data-navbtn="contact_modal">Contact Plenco</a>
                </div>
            </div>
        </div>
    </div>
    
    
    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}
