{% extends "../_layout.twig" %}
{% set pageTitle = 'BMC/Thermoset Polyester Molding Materials' %}
{% set pageClass = 'body_bmc' %}

{% set page_bmc = {
    heading: {
        heading_top_text: "BMC/Thermoset Polyester <br>Molding Materials",
        bg_img: "./assets/img/pages/bmc/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_bmc.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_bmc.heading} %}
    
    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Plenco BMC is UL listed and is available in a variety of standard and custom formulations, colors, and <span class='text-blue-l2'>extrusions for compression, transfer, and injection molding</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>
    
 



    <div class="row section_37 overflow-hidden">
        <div class="col px-0">
            <div class="container cont-site col-12 d-flex ">
                <div class="section_37__left col-3 py-2 pe-5 d-none d-md-block ">
                    <div class="section_37__left__content-cont border-start border-7 border-blue-l2 ms-n3 ps-3">
                        <a href="#" class="section_37__left__link text-decoration-none d-flex">
                            <h3 class="text-blue-l2 mb-0">BMC/Thermoset Polyester Molding Materials</h3>
                        </a>
                        <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Environmental Details</h3>
                        </a>
                        <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Applications</h3>
                        </a>
                        <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Cost Parameters</h3>
                        </a>
                        <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Product Series</h3>
                        </a>
                        <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resources</h3>
                        </a>
                    </div>
                </div>

                <div class="section_37__right col-12 col-md-9 ps-md-5">
                    <div class="section_37__data d-flex flex-column-reverse flex-lg-row position-relative align-items-center">
                        <div class="section_37__textarea px-0 col-12 position-relative">
                            <div class="section_37__textarea-wrap col-12">
                                <div class="block_4 d-flex flex-column justify-content-between">
                                    <div class="block_4__text-cont pe-3">
                                        <div class="mock d-none d-lg-block float-end  ms-5 mb-5">
                                            <div class="section_37__img-cont_dt position-relative  d-flex justify-content-end align-self-md-end  d-none d-lg-block">
                                                <img src="./assets/img/pages/bmc/bmc.jpg" alt="bmc" class="section_37__image_dt position-relative d-none d-lg-block">
                                            </div>
                                        </div>
                                        <h2 class="block_4__header section_37__header-line position-relative mb-0 text-start d-none d-md-block " id="bmc">BMC/Thermoset Polyester <span class='text-blue-1 font-normal'>Molding Materials</span></h2>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Typically, BMC is selected for its high strength-to-weight ratio at relatively low cost per cubic inch. Parts molded from Plenco BMC offer dimensional stability and retention of physical properties at high ambient temperatures.</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">With these characteristics, Plenco BMC can be evaluated to replace steel and die cast aluminum or iron when weight and noise reduction, corrosion resistance, and reduced secondary machining costs are important goals. Also, Plenco Bulk Molding Compound can be evaluated as an alternative to certain more costly high temperature thermoplastic resins.</p>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="section_37__img-cont position-relative  d-flex justify-content-end align-self-md-end d-lg-none">
                            <img src="./assets/img/pages/bmc/bmc.jpg" alt="bmc" class="section_37__image position-relative">
                        </div>
                        <h2 class="block_4__header section_37__header-line position-relative mb-4 text-start mt-5 mt-lg-0 pt-3 pt-lg-0 d-md-none align-self-start">BMC/Thermoset Polyester <span class='text-blue-1 font-normal'>Molding Materials</span></h2>
                    
                        <div class="accordion accordion-flush section_37_accordion d-md-none mt-5 col-12" id="oil-accordion-nav">
                            <div class="row ">
        
                                <div class="acc__item-wrap col-12 px-0">
                                    <div class="accordion-item ">
                                        <h2 class="accordion-header border-bottom border-7 border-yellow-1" id="acc-nav__header-1">
                                            <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-white-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-nav__body-1" aria-expanded="true" aria-controls="acc-nav__body-1">
                                                <h3 class="accordion-header d-block mb-0 text-uppercase text-blue-1">BMC/Thermoset Polyester Molding Materials</h3> 
                                            </button>
                                        </h2>
                                        <div id="acc-nav__body-1" class="accordion-collapse collapse" aria-labelledby="acc-nav__header-1" data-bs-parent="">
                                            <div class="accordion-body pt-2 pb-0">
                                                <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Environmental Details</h3>
                                                </a>
                                                <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Applications</h3>
                                                </a>
                                                <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Cost Parameters</h3>
                                                </a>
                                                <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Product Series</h3>
                                                </a>
                                                <a href="#" class="section_37__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Resources</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                    </div>
                    

                    <h2 class="section_37__header-line mb-0 position-relative d-none d-md-block" id="details">Environmental <span class='text-blue-1 font-normal'>Details</span></h2>
                    <p class="text_add position-relative mb-0 text-start mt-2 d-none d-md-block">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                    <a href="#" class="btn btn-yellow-1 section_37__button d-none d-md-inline-flex w-auto mt-4 px-3">Environmental Details</a>


                    <div class="w-100 d-flex flex-column d-md-none">
                        <h2 class="section_37__header-line mb-0 position-relative" id="performance">Performance <span class='text-blue-1 font-normal'>Characteristics </span></h2>
                        <p class="text_add position-relative mb-0 text-start mt-3">Thermosetting BMC/Polyester molding compounds are highly engineered and formulated plastics. Having a putty like consistency, BMC composites consist of a thermosetting resin, inert mineral fillers, short glass fiber, catalysts and pigments. Plenco’s BMC composite’s value lies in its versatility. Able to satisfy a variety of end use requirements in applications where good finishes, dimensional stability, part complexity and good overall mechanical properties are important.</p>
                        <a href="#" class="btn btn-yellow-1 section_37__button w-auto mt-4 px-3 align-self-center">Performance Characteristics</a>
                    </div>


                    <div class="w-100 d-flex flex-column">
                        <h2 class="section_37__header-line mb-0 position-relative"  id="app">Applications of BMC/Thermoset Polyester<span class='text-blue-1 font-normal'> Molding Materials</span></h2>
                        <p class="text_add position-relative mb-0 text-start mt-2 d-none d-md-block">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                        <p class="text_add position-relative mb-0 text-start d-md-none mt-3">Plenco’s Bulk Molding Compound (BMC) and Thermoset Polyester molding materials are often specified for its high strength to weight ratio and relatively low cost per cubic inch. These versatile materials are suitable for a wide range of industries and applications. From the strength and durability needed in a harsh oil field environment, to the sleek design of an automotive headlamp reflector, or the aesthetics and stain resistance needed for kitchen appliances, Plenco can customize formulation for your application.</p>    
                        <a href="#" class="btn btn-yellow-1 section_37__button d-inline-flex w-auto mt-4 px-3 align-self-center">applications</a>
                    </div>

                    

                        
                    <h2 class="section_37__header-line mb-0 position-relative"  id="cost">Cost <span class='text-blue-1 font-normal'>Parameters</span></h2>
                    <p class="text_add position-relative mb-0 text-start mt-2 d-none d-md-block">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                    <p class="text_add position-relative mb-0 text-start d-md-none mt-3">Thermoset polymers are highly engineered composite materials that exhibit an excellent cost-performance relationship. Due to their pattern of properties, thermosets can be used in a relatively broad range of applications, particularly since they are capable of versatile (organic and inorganic) modification. Performance advantages include long-term retention of mechanical properties at elevated temperatures or when exposed to chemicals, very good electrical isolation properties, and high FST (fire, smoke and toxicity) properties.</p>
                    <a href="#" class="btn btn-yellow-1 section_37__button d-none d-md-inline-flex w-auto mt-4 px-3">Cost Parameters</a>
                        


                    <div class="row section_27_bg bg-blue-l1 ms-3 ms-md-n4">
                        <div class="col px-0">
                            <div class="container section_27 d-flex flex-column justify-content-center mt-4 mt-md-5">
                                <h2 class="section_37__header-line mb-0 position-relative mt-0 ms-n5 ps-2 ps-md-0 ms-md-0" id="cost">Related <span class='text-blue-1 font-normal'>Product Series</span></h2>
                
                                <div class="section_27__blocks row row-cols-sm-2 row-cols-lg-2 g-3 g-md-4 mx-n2 mt-1">
                
                
                                    <div class="block_6-wrap">
                                        <div class="block_6 position-relative bg-white-1 d-flex flex-column justify-content-between py-3">
                                            <a href="#" class="block_6__link position-absolute w-100 h-100"></a>
                                            <div class="block_6__header d-flex align-items-center px-4 flex-grow-1">
                                                <p class="block_6__text mb-0 text-black-1">Polyester Bulk Molding Compounds</p>
                                            </div>
                                            <div class="block_6__line h-0 w-50 border-bottom border-1 border-blue-l2 ms-4"></div>
                                            <div class="block_6__links mt-2 ps-4 pe-5">
                                                <div class="block_6__link text-decoration-none">
                                                    <h3 class="mb-0 text-blue-1 d-inline-block">Plenco Series 08000</h3>
                                                </div> 
                                                <a class="btn button_arrow_45_r bg-yellow-1 block_6__button position-absolute bottom-0 end-0"></a>
                                            </div>
                                        </div>    
                                    </div>
                

                                    <div class="block_6-wrap">
                                        <div class="block_6 position-relative bg-white-1 d-flex flex-column justify-content-between py-3">
                                            <a href="#" class="block_6__link position-absolute w-100 h-100"></a>
                                            <div class="block_6__header d-flex align-items-center px-4 flex-grow-1">
                                                <p class="block_6__text mb-0 text-black-1">Granular Polyester Molding Compounds</p>
                                            </div>
                                            <div class="block_6__line h-0 w-50 border-bottom border-1 border-blue-l2 ms-4"></div>
                                            <div class="block_6__links mt-2 ps-4 pe-5">
                                                <div class="block_6__link text-decoration-none">
                                                    <h3 class="mb-0 text-blue-1 d-inline-block">Plenco Series 01500</h3>
                                                </div> 
                                                <a class="btn button_arrow_45_r bg-yellow-1 block_6__button position-absolute bottom-0 end-0"></a>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row section_30_bg overflow-hidden">
        <div class="container cont-site section_30 col-12 d-flex flex-column">
            <h2 class="section_30__header">BMC/Thermoset Polyester Molding Materials <span class="text-blue-1">Resources</span> </h2>
            <div class="section_30__cards row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mx-n4 align-items-stretch mt-0">

                <div class="section_30__card-wrap pt-sm-5">
                    <a href="#" class="section_30__block-link text-decoration-none">
                        <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4">
                            <p class="text_main mb-0 text-black-1">Resources Example Heading Placeholder text text</p>
                            <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">White Paper</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="section_30__link text-blue-1 mt-3 mb-0">read article</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="section_30__card-wrap pt-sm-5">
                    <a href="#" class="section_30__block-link text-decoration-none">
                        <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4">
                            <p class="text_main mb-0 text-black-1">Resources Example Heading consetetur sadipscing elitr</p>
                            <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">Video</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">BMC/Thermoset Polyester</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="section_30__link text-blue-1 mt-3 mb-0">Watch Video</h3>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="section_30__card-wrap pt-sm-5">
                    <a href="#" class="section_30__block-link text-decoration-none">
                        <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4">
                            <p class="text_main mb-0 text-black-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                            <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div  class="section_37__left__link text-decoration-none mt-3 d-flex align-items-center">
                                    <img src="./assets/img/svg/download_1.svg" alt="download" class="section_37__left__icon">
                                    <h3 class="text-blue-1 mb-0 ms-2">DOWNLOAD PDF</h3>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>


                <div class="section_30__card-wrap pt-sm-5">
                    <a href="#" class="section_30__block-link text-decoration-none">
                        <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4">
                            <p class="text_main mb-0 text-black-1">Resources Example Heading consetetur sadipscing elitr</p>
                            <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">Video</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="section_30__link text-blue-1 mt-3 mb-0">Watch Video</h3>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="section_30__card-wrap pt-sm-5">
                    <a href="#" class="section_30__block-link text-decoration-none">
                        <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4">
                            <p class="text_main mb-0 text-black-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                            <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_tag_1-wrap px-1 py-1">
                                    <div class="text-decoration-none"> 
                                        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                            <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div  class="section_37__left__link text-decoration-none mt-3 d-flex align-items-center">
                                    <img src="./assets/img/svg/download_1.svg" alt="download" class="section_37__left__icon">
                                    <h3 class="text-blue-1 mb-0 ms-2">DOWNLOAD PDF</h3>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <a href="#" class="section_30__button btn btn-yellow-1 section_37__button d-inline-flex w-auto px-4 px-md-3 align-self-center">View all Resources</a>

        </div>
    </div>





    
    
    <div class="row section_29_bg overflow-hidden">
        <div class="container cont-site section_29 col-12 ">
            <h2 class="px-0 mb-0">Questions? <span class="text-blue-1">We can help</span></h2>
            <p class="text_add mt-4 pt-2 mb-0">Select what your question is about…</p>
            <form class="questions-form px-0 py-0 mt-2 col-md-8" id="questionsForm">

                <!--
                    <select class="questions-select w-100 ps-3 border-0 mb-3" aria-label="Default select example">
                        <option class="questions-select__item" value="oil" selected>Oil & Gas Markets & Applications</option>
                        <option class="questions-select__item" value="1">Question 1</option>
                        <option class="questions-select__item" value="2">Question 2</option>
                        <option class="questions-select__item text-wrap" value="42">What is the answer to life, the universe, and everything?</option>
                    </select>
                -->


                <div class="accordion accordion-flush section_29_accordion" id="accordion-questions">
                    <div class="accordion-item mb-2">
                        <h2 class="accordion-header" id="acc-questions__header-1">
                            <button id="accordion-questions__button" class="accordion-button d-flex align-items-center justify-content-between position-relative collapsed bg-blue-1 ps-4" type="button" data-bs-toggle="collapse" data-bs-target="#acc-questions__body-1" aria-expanded="true" aria-controls="acc-questions__body-1">
                                <p class="d-block mb-0 text-white-1" id="accordion-questions__current">BMC/Thermoset Polyester Molding Materials</p> 
                            </button>
                        </h2>
                        <div id="acc-questions__body-1" class="accordion-collapse collapse" aria-labelledby="acc-questions__header-1" data-bs-parent="#accordion-questions">
                            <div class="accordion-body pb-2 pt-0">
                                <div role="button" class="accordion-body__item d-flex align-items-center bg-blue-1 px-4 border border-1 border-blue-3 hover">
                                    <span role="button" class="accordion__text-2 accordion-questions__select mb-0 text-white-1">BMC/Thermoset Polyester Molding Materials</span>
                                </div>
                                <div role="button" class="accordion-body__item d-flex align-items-center bg-blue-1 px-4 border border-1 border-blue-3">
                                    <span role="button" class="accordion__text-2 accordion-questions__select mb-0 text-white-1">1</span>
                                </div>
                                <div role="button" class="accordion-body__item d-flex align-items-center bg-blue-1 px-4 border border-1 border-blue-3">
                                    <span role="button" class="accordion__text-2 accordion-questions__selectmb-0 text-white-1">2</span>
                                </div>
                                <div role="button" class="accordion-body__item d-flex align-items-center bg-blue-1 px-4 border border-1 border-blue-3">
                                    <span role="button" class="accordion__text-2 accordion-questions__select mb-0 text-white-1">What is the answer to life, the universe, and everything?</span>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                
                <h3 class="questions__subheader text-blue-1 mt-4 pt-4">Contact Information</h3>

                <div class="questions__inputs-wrap px-0 w-auto d-flex flex-wrap justify-content-between mt-3 pb-3 mx-n3">
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_name-first">First Name*</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_name-first" placeholder="First Name" required>
                      </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_name-last">Last Name*</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_name-last" placeholder="Last Name" required>
                    </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_email">Email Address*</label>
                        <input type="email" class="form-control questions__input validate col-12 px-3" id="questions-contact_email" placeholder="email@adress.com" required>
                    </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_phone">phone number</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_phone" placeholder="(000) 000-0000">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_company">Company Name</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_company" placeholder="My Company’s Name">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-0">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_message">message</label>
                        <textarea type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_message" placeholder="Write your message" style="height: 119px"></textarea>
                        <p class="form-text questions__add-text mb-0 w-100 px-0 mt-1">*fields are required. Our team will try to respond as soon as we can.</p> 
                    </div> 
                    <input type="text" class="form-control questions__input d-none" id="questions-contact_theme" placeholder="">
                </div>
                <button type="submit" form="questionsForm" class="btn btn-yellow-1 questions__btn_submit mx-auto position-relative mt-3" >Submit</button>
            </form>

        </div>
    </div>


{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}



{% block scripts %}
    <script src='./assets/js/questions.js'></script>
{% endblock %}