{% extends "../_layout.twig" %}
{% set pageTitle = 'Compression Molding Guidelines (Single & Two Stage Phenolic)' %}
{% set pageClass = 'body_cmg-single-two-stage' %}

{% set page_cmg_single_two_stage = {
    heading: {
        heading_top_text: "Single & Two Stage Phenolic",
        heading_top_subheader: "Compression Molding Guidelines",
        bg_img: "./assets/img/pages/cmg-single-two-stage/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_cmg_single_two_stage.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_cmg_single_two_stage.heading} %}

    <div class="row section_23_bg overflow-hidden px-0">
        <div class="section_23 col px-0">
            <div class="container cont-site">
                <h2 class="section_23__header pb-2">Compression Molding Guidelines for Preheat Molding of <span class="text-blue-1">PLENCO Single Stage & Two Stage Phenolic Molding Compounds</span></h2>
                <div class="section_23__blocks-cont border-start border-20 border-blue-1 mt-3 pt-2 pb-4">
                    
                    <div class="section_23__table position-relative">
                        <div class="section_23_dt d-none d-md-block">
                            <div class="row section_23__table__hero">
                                <div class="section_23__block col-5 col-lg-4 position-relative bg-grey-2 py-1 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Parameter</span>
                                </div>
                                <div class="section_23__block col-7 col-lg-4 position-relative bg-yellow-1 py-10 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Suggested Press Settings</span>
                                </div>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col-5 col-lg-4 pe-4 mb-0 ms-4 px-0 mt-2">Mold Temperatures</p>
                                <p class="section_23__table__text text_add col mb-0 ms-0 px-0 mt-2">165° - 182°C (330° - 360°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col-5 col-lg-4 pe-4 mb-0 ms-4 px-0 mt-2">Preheated Material Temperature</p>
                                <p class="section_23__table__text text_add col mb-0 ms-0 px-0 mt-2">104° - 115°C (220° - 240°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col-5 col-lg-4 pe-4 mb-0 ms-4 px-0 mt-2">Mold Close Time</p>
                                <p class="section_23__table__text text_add col mb-0 ms-0 px-0 mt-2">3 - 8 seconds</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col-5 col-lg-4 pe-4 mb-0 ms-4 px-0 mt-2">Clamp Tonnage</p>
                                <p class="section_23__table__text text_add col mb-0 ms-0 px-0 mt-2">27.6 - 41.4 MPa (2 -3 Tons/in2) of Projected Part Area</p>
                            </div>
                        </div>




                        <div class="accordion accordion-flush section_23_accordion d-md-none" id="CMG-STS__accordion-1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-1__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-1" aria-expanded="true" aria-controls="acc-1__body-1">
                                        <p class="d-block mb-0 ms-4">Mold Temperatures</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-1" class="accordion-collapse collapse show" aria-labelledby="acc-1__header-1" data-bs-parent="#CMG-STS__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">165° - 182°C (330° - 360°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-2">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-2" aria-expanded="true" aria-controls="acc-1__body-2">
                                        <p class="d-block mb-0 ms-4">Preheated Material Temperature</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-2" class="accordion-collapse collapse" aria-labelledby="acc-1__header-2" data-bs-parent="#CMG-STS__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">104° - 115°C (220° - 240°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-3">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-3" aria-expanded="true" aria-controls="acc-1__body-3">
                                        <p class="d-block mb-0 ms-4">Mold Close Time</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-3" class="accordion-collapse collapse" aria-labelledby="acc-1__header-3" data-bs-parent="#CMG-STS__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">3 - 8 seconds</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-4">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-4" aria-expanded="true" aria-controls="acc-1__body-4">
                                        <p class="d-block mb-0 ms-4">Clamp Tonnage</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-4" class="accordion-collapse collapse" aria-labelledby="acc-1__header-4" data-bs-parent="#CMG-STS__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">27.6 - 41.4 MPa (2 -3 Tons/in2) of Projected Part Area</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="section_23__subheader text-blue-1 mb-0 ">Additional Technical Information</h3>
                <p class="text-add text-black-1 mb-0 ">A clean, highly polished, chrome plated mold is recommended. Use a mold release such as 
                Carnauba Wax, being careful to coat the entire surface. After several shots wipe off the excessive mold release using a clean, 
                soft cloth.</p>
                <p class="text-add text-black-1 mb-0 ">Each time a mold using a Single Stage compound has sat idle, it is highly recommended that 
                the mold is started with a Two Stage general purpose product for the first several shots and then switched to the Single Stage 
                compound. This is done to minimize problems with part and flash sticking.</p>    
            </div>
        </div>
    </div>



    <div class="row section_24_bg overflow-hidden px-0 bg-blue-l1">
        <div class="section_24 col px-0">
            <div class="container cont-site">
                <h2 class="section_24__header mb-0">Common Molding <span class="text-blue-1">Problems</span></h2>
                <div class="section_24__blocks-cont mt-4">

                    <div class="accordion accordion-flush section_24_accordion" id="CMG-STS__accordion-2">
                        <div class="row row-cols-1 row-cols-md-2 g-4 g-md-5 accordion-cont">

                            <div class="acc__item-wrap col">
                                <div class="accordion-item ">
                                    <h2 class="accordion-header" id="acc-2__header-1">
                                        <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-1" aria-expanded="true" aria-controls="acc-2__body-1">
                                            <p class="d-block mb-0 ms-4 text-uppercase text-blue-l3">Blistering</p> 
                                        </button>
                                    </h2>
                                    <div id="acc-2__body-1" class="accordion-collapse collapse show" aria-labelledby="acc-2__header-1" data-bs-parent="">
                                        <div class="accordion-body ms-4 py-4">
                                            <p class="accordion__text-1 text-grey-1 text-uppercase mb-0 mt-2">Potential Solutions</p>
                                            <ul class="ul_2 accordion-list mt-8 mb-0">
                                                <li class="ul_2__text mt-2">Increase mold temperature</li>
                                                <li class="ul_2__text mt-1">Increase material temperature</li>
                                                <li class="ul_2__text mt-1 mb-2">Increase cure time</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="acc__item-wrap col">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="acc-2__header-2">
                                        <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-2" aria-expanded="true" aria-controls="acc-2__body-2">
                                            <p class="d-block mb-0 ms-4 text-uppercase text-blue-l3">Short Parts</p> 
                                        </button>
                                    </h2>
                                    <div id="acc-2__body-2" class="accordion-collapse collapse show" aria-labelledby="acc-2__header-2" data-bs-parent="">
                                        <div class="accordion-body ms-4 py-4">
                                            <p class="accordion__text-1 text-grey-1 text-uppercase mb-0 mt-2">Potential Solutions</p>
                                            <ul class="ul_2 accordion-list mt-8 mb-0">
                                                <li class="ul_2__text mt-2">Increase preform weight</li>
                                                <li class="ul_2__text mt-1">Lower mold temperature</li>                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="acc__item-wrap col">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="acc-2__header-3">
                                        <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-3" aria-expanded="true" aria-controls="acc-2__body-3">
                                            <p class="d-block mb-0 ms-4 text-uppercase text-blue-l3">Gas Burns</p> 
                                        </button>
                                    </h2>
                                    <div id="acc-2__body-3" class="accordion-collapse collapse show" aria-labelledby="acc-2__header-3" data-bs-parent="">
                                        <div class="accordion-body ms-4 py-4">
                                            <p class="accordion__text-1 text-grey-1 text-uppercase mb-0 mt-2">Potential Solutions</p>
                                            <ul class="ul_2 accordion-list mt-8 mb-0">
                                                <li class="ul_2__text mt-2">Slow mold close time</li>
                                                <li class="ul_2__text mt-1">Check for blocked vent(s)</li>
                                                <li class="ul_2__text mt-1 mb-2">Lower material temperature</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="acc__item-wrap col">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="acc-2__header-4">
                                        <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-4" aria-expanded="true" aria-controls="acc-2__body-4">
                                            <p class="d-block mb-0 ms-4 text-uppercase text-blue-l3">Sticking Parts</p> 
                                        </button>
                                    </h2>
                                    <div id="acc-2__body-4" class="accordion-collapse collapse show" aria-labelledby="acc-2__header-4" data-bs-parent="">
                                        <div class="accordion-body ms-4 py-4">
                                            <p class="accordion__text-1 text-grey-1 text-uppercase mb-0 mt-2">Potential Solutions</p>
                                            <ul class="ul_2 accordion-list mt-8 mb-0">
                                                <li class="ul_2__text mt-2">Increase mold temperature</li>                                                
                                                <li class="ul_2__text mt-1 mb-2">Increase cure time</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row section_25_bg overflow-hidden px-0">
        <div class="section_25 px-0">
            <div class="container cont-site">
                <div class="section_25__content my-5 py-4">
                    <p class="section_25__text mb-0">The listed parameters are suggested for use as a guide when setting up a 
                    compression molding machine for molding Plenco Thermoset materials. These parameters are for your evaluation 
                    and may or may not be compatible for all mold designs, press configurations, and material rheology. 
                    Please feel free to call Plenco and a Plenco Technical Service Representative will be happy to assist you. 
                    Revised 10-9-01</p>
                </div>
            </div>
        </div>
    </div>


{% include '../components/sections/section_21.twig' %}
{% endblock %}



{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}