{% extends "../_layout.twig" %}
{% set pageTitle = 'Contact' %}
{% set pageClass = 'body_contact' %}

{% set page_contact = {
    heading: {
        heading_top_text: "Contact Plenco",
        bg_img: "./assets/img/pages/contact/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_contact.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_contact.heading} %}
    

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Get in Touch. Thank you for your interest in <span class='text-blue-l2'>Plastics Engineering Company</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1">Do you want to join our story as a customer or as a talent? We are looking forward to hearing about your ideas or help you if you would like to know more about a product or technology.</p> 
                </div>           
            </div>
        </div>
    </div>




    <div class="row section_29_bg overflow-hidden">
        <div class="container cont-site section_29 col-12 ">
            <h2 class="px-0 mb-0">Contact <span class="text-blue-1">Plenco</span></h2>
            <form class="questions-form px-0 py-0 mt-2 col-md-8" id="questionsForm">

                <h3 class="questions__subheader text-blue-1 mt-4">Contact Information</h3>

                <div class="questions__inputs-wrap px-0 w-auto d-flex flex-wrap justify-content-between mt-3 pb-3 mx-n3">
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_name-first">First Name*</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_name-first" placeholder="First Name" required>
                      </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_name-last">Last Name*</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_name-last" placeholder="Last Name" required>
                    </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_email">Email Address*</label>
                        <input type="email" class="form-control questions__input validate col-12 px-3" id="questions-contact_email" placeholder="mail@adress.com" required>
                    </div> 
                    <div class="block_input_2__inputarea col-12 col-md-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_phone">phone number</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_phone" placeholder="(000) 000-0000">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_company">Company Name</label>
                        <input type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_company" placeholder="My Company’s Name">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-0">
                        <label class="questions__header mb-2 text-capitalize" for="questions-contact_message">message</label>
                        <textarea type="text" class="form-control questions__input validate col-12 px-3" id="questions-contact_message" placeholder="Write your message" style="height: 119px"></textarea>
                        <p class="form-text questions__add-text mb-0 w-100 px-0 mt-1">*fields are required. Our team will try to respond as soon as we can.</p> 
                    </div> 
                    <input type="text" class="form-control questions__input d-none" id="questions-contact_theme" placeholder="">
                </div>
                <button type="submit" form="questionsForm" class="btn btn-yellow-1 questions__btn_submit mx-auto position-relative mt-3" >Submit</button>
            </form>

        </div>
    </div>


    <div class="row section_38_bg overflow-hidden">
        <div class="container cont-site section_38 col-12 d-flex flex-column-reverse flex-lg-row align-items-center align-items-lg-stretch">
            <img src="./assets/img/pages/contact/map.jpg" alt="Our map" class="section_38__image me-xl-5 col-12 col-md-10 col-lg-6 mt-5 mt-md-0">
            <div class="section_38__textarea d-flex flex-column flex-md-row flex-lg-column flex-wrap justify-content-around ms-lg-5 col-12 col-lg-5 pe-lg-5 align-self-start align-self-lg-stretch">
                <div class="section_38__block mb-md-5 mt-5 my-lg-3 col-12 col-md-5  col-lg-12">
                    <h2 class="section_38__header-line mb-0 position-relative ms-md-5">Sales <span class="text-blue-1">Inquiries</span></h2>
                    <div class="section_38__contact-data ms-lg-5">
                        <div class="section_38__contact__email-cont mt-2 mt-lg-0 mb-2 mb-lg-0">
                            <img src="./assets/img/svg/envelope.svg" alt="" class="section_38__img_email pe-2">
                            <a href="mailto:salesinfo@plenco.com" class="section_38__contact__email-adress text_add text-black-1">salesinfo@plenco.com</a>
                        </div>
                    </div>
                </div>
                <div class="section_38__block mb-md-5 mt-5 my-lg-3 col-12 col-md-5 col-lg-12">
                    <h2 class="section_38__header-line mb-0 position-relative ms-md-5">Order <span class="text-blue-1">Requests</span></h2>
                    <div class="section_38__contact-data ms-lg-5 mt-2 mt-lg-0">
                        <div class="section_38__contact__email-cont mb-2 mb-lg-0">
                            <img src="./assets/img/svg/envelope.svg" alt="" class="section_38__img_email pe-2">
                            <a href="mailto:orders@plenco.com" class="section_38__contact__email-adress text_add text-black-1">orders@plenco.com</a>
                        </div>
                        <span class="text_add">Phone <span class="section_38__contact-bold">(920) 451-3885</span></span><br>
                        <span class="text_add">Fax (920) 451-3847</span>
                    </div>
                </div>
                <div class="section_38__block mb-md-5 mt-5 my-lg-3  col-12 col-md-5  col-lg-12">
                    <h2 class="section_38__header-line mb-0 position-relative ms-md-5">Mailing <span class="text-blue-1">Address</span></h2>
                    <div class="section_38__contact-data ms-lg-5 mt-2 mt-lg-0">
                        <span class="text_add">Plastics Engineering Company<br>3518 Lakeshore Road, P.O. Box 758<br>Sheboygan, WI 53082-0758<br>U.S.A</span>
                    </div>
                </div>
                <div class="section_38__block mb-md-5 mt-5 my-lg-3  col-12 col-md-5  col-lg-12">
                    <h2 class="section_38__header-line mb-0 position-relative ms-md-5">Phone & <span class="text-blue-1">Fax</span></h2>
                    <div class="section_38__contact-data ms-lg-5 mt-2 mt-lg-0">
                        <span class="text_add">Phone <span class="section_38__contact-bold">(920) 458-2121</span></span><br>
                        <span class="text_add">Fax (920) 458-1923</span>
                    </div>
                </div>


            </div>


        </div>
    </div>  


    <div class="row section_39_bg overflow-hidden bg-grey-2 py-4">
        <div class="container cont-site section_39 col-12 overflow-hidden">
            <div class="section_39__content d-flex align-items-stretch justify-content-md-around justify-content-lg-between flex-wrap row row-cols-md-2 row-cols-lg-4 ">
                <div class="section_39__block d-flex flex-column py-4 px-0 pe-md-4">
                    <h3 class="section_39__block__header text-blue-1 mb-0">main office</h3>
                    <span class="text_add mt-3">3518 Lakeshore Road<br>Sheboygan, WI 53083</span>  
                    <a href="#" class="text_add text-black-1 mt-3">View Location</a>  
                </div>
                <div class="w-100 h-0 border-bottom border-1 border-blue-l2 d-md-none"></div>
    
                <div class="section_39__block d-flex flex-column py-4 border-start border-1 border-blue-l2 px-md-4 px-0">
                    <h3 class="section_39__block__header text-blue-1 mb-0">North Avenue Plant</h3>
                    <span class="text_add mt-3">1720 North Avenue<br>Sheboygan, WI 53083</span>  
                    <a href="#" class="text_add text-black-1 mt-3">View Location</a>  
                </div>

                <div class="w-100 h-0 border-bottom border-1 border-blue-l2 d-lg-none"></div>
    
                <div class="section_39__block d-flex flex-column py-4 border-start border-1 border-blue-l2 px-lg-4 px-0">
                    <h3 class="section_39__block__header text-blue-1 mb-0">Address #3</h3>
                    <span class="text_add mt-3">0000<br>Sheboygan, WI 53083</span>  
                    <a href="#" class="text_add text-black-1 mt-3">View Location</a>  
                </div>
                <div class="w-100 h-0 border-bottom border-1 border-blue-l2 d-md-none"></div>
    
    
                <div class="section_39__block d-flex flex-column py-4 border-start border-1 border-blue-l2 ps-md-4 px-0">
                    <h3 class="section_39__block__header text-blue-1 mb-0">Address #4</h3>
                    <span class="text_add mt-3">0000<br>Sheboygan, WI 53083</span>  
                    <a href="#" class="text_add text-black-1 mt-3">View Location</a>  
                </div>

            </div>

        </div>
    </div>




    <div class="row section_16_bg overflow-hidden px-0">
        <div class="section_16 col px-0">
            <div class="container cont-site">
                <h3 class="section_16__header mb-0">Plenco <span class="text-blue-1">Locations</span></h3>
                <p class="text_main mt-4 mb-0"><span class="text_main_bold">Plant Visitors</span> and <span class="text_main_bold">Carriers</span> 
                    picking up or dropping off loads must sign in with the Security Officer at the Truck/Visitor Entrance located at 1720 North Avenue.</p>

                <div class="block_7 col flex-column flex-md-row d-flex align-items-center">
                    <div class="block_7__left col col-md-6 overflow-hidden h-100">
                        <div class="block_7__img-wrap col col-md-11">
                            <img src="./assets/img/pages/contact/main-office.jpg" alt="Main office" class="block_7__left__img w-100 h-100 d-none d-md-block">
                            <img src="./assets/img/pages/contact/main-office.jpg" alt="Main office" class="block_7__left__img_mob d-md-none w-100 w-md-auto">
                        </div>
                    </div>
                    <div class="block_7__right position-relative d-flex col-12 col-md-6 d-flex flex-column align-items-start justify-content-center border-start border-7 border-blue-l2 ms-4 ms-md-0">
                        <div class="block_7__text-wrap col-11 col-md-11 offset-md-1 ">
                            <h3 class="block_7__header text-uppercase mb-0 text-blue-1">Main Office</h3>
                            <p class="text_add text_add__extrabold mt-2 mb-0">3518 Lakeshore Road<br>Sheboygan, WI 53083</p>
                            <p class="block_7__text text_add mb-0 text-black-1 mt-3">From Milwaukee or Green Bay (I-43):</p>
                                <ul class="ul_1 block_7-ul ps-4 mb-0">
                                    <li class="ul_1__text mb-0 position-relative mt-2">I-43 to exit 128, turn east on Hwy 42 and travel 1.9 miles</li>
                                    <li class="ul_1__text mb-0 position-relative mt-2">Left on North Avenue at lights</li>
                                    <li class="ul_1__text mb-0 position-relative mt-2">Left on North 15th Street at lights</li>
                                    <li class="ul_1__text mb-0 position-relative mt-2">Left into parking lot prior to stop sign</li>
                                    <li class="ul_1__text mb-0 position-relative mt-2">Park and enter from the east parking lot</li>
                                    <li class="ul_1__text mb-0 position-relative mt-2">Job applicants please park and enter from the north parking lot</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="block_7 block_7_pic-right col flex-column flex-md-row d-flex align-items-center ms-0 ms-md-4">
                    <div class="block_7__right position-relative d-flex col-12 col-md-6 d-flex flex-column align-items-start justify-content-center border-start border-7 border-blue-l2 ms-4 ms-md-0 order-2 order-md-1">
                        <div class="block_7__text-wrap col-11 col-md-10 offset-md-1">
                            <h3 class="block_7__header text-uppercase mb-0 text-blue-1">North Avenue Plant</h3>
                            <p class="text_add text_add__extrabold mb-0 text-black-1 mt-3">1720 North Avenue<br>Sheboygan, WI 53083</p>
                            <p class="block_7__text text_add mb-0 text-black-1 mt-2">Warehouse Hours:</p>
                            <ul class="ul_1 block_7-ul ps-4">
                                <li class="ul_1__text mb-0 position-relative mt-2">Mon-Fri 7:30AM to 4:00PM</li>
                            </ul>
                            <p class="block_7__text text_add mb-0 text-black-1 mt-3">Plant Visitors and Carriers picking up or dropping off loads must sign in with the Security Officer at the Truck/Visitor Entrance located at 1720 North Avenue.</p>
                            <p class="block_7__text text_add mb-0 text-black-1 mt-3">From Milwaukee or Green Bay (I-43):</p>
                            <ul class="ul_1 block_7-ul ps-4">
                                <li class="ul_1__text mb-0 position-relative mt-2">I-43 to exit 128, turn east on Hwy 42 and travel 1.9 miles</li>
                                <li class="ul_1__text mb-0 position-relative mt-2">Left on North Avenue at lights</li>
                                <li class="ul_1__text mb-0 position-relative mt-2">Left into plant entrance just past railroad tracks</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block_7__left col col-md-6 overflow-hidden h-100 order-1 order-md-2">
                        <div class="block_7__img-wrap col col-md-11">
                            <img src="./assets/img/pages/contact/north-avenue-plant.jpg" alt="North Avenue Plant" class="block_7__left__img w-100 h-100 d-none d-md-block">
                            <img src="./assets/img/pages/contact/north-avenue-plant.jpg" alt="North Avenue Plant" class="block_7__left__img_mob d-md-none w-100 w-md-auto">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}