{% extends "../_layout.twig" %}
{% set pageTitle = 'Home page' %}
{% set pageClass = 'body_home' %}


{% set page_home = {
    section_6: {
        gallery_data: [
            {
                img: "./assets/img/pages/home/gallery_1-1.jpg",
                icon: "./assets/img/svg/tyre.svg",
                text: "Automotive"
            },   
            {
                img: "./assets/img/pages/home/gallery_1-2.jpg",
                icon: "./assets/img/svg/bolt.svg",
                text: "Electrical Insulation"
            },   
            {
                img: "./assets/img/pages/home/gallery_1-3.jpg",
                icon: "./assets/img/svg/v-engine.svg",
                text: "Small Engine"
            },   
            {
                img: "./assets/img/pages/home/gallery_1-4.jpg",
                icon: "./assets/img/svg/pot.svg",
                text: "Home & Commercial Kitchen"
            },   
            {
                img: "./assets/img/pages/home/gallery_1-5.jpg",
                icon: "./assets/img/svg/light-bulb.svg",
                text: "Lighting"
            },   
            {
                img: "./assets/img/pages/home/gallery_1-6.jpg",
                icon: "./assets/img/svg/valve.svg",
                text: "Oil & Gas"
            },   
        ]
    },

    nav_side: {
        visible: true
    }
}
%}
 

{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_home.nav_side} %}


    <div class="row section_7_bg overflow-hidden position-relative bg-blue-3">
        <div class="section_7__bg_img-cont position-absolute p-0 m-0 bg-blue-1 bg-blue-3">
            <div class="section_7__bg_img w-100 m-0 p-0">
            </div>
        </div>
        <div class="section_7 col px-0">
            <div class="container cont-site">
                <div class="section_7__center-block__cont position-relative col-10 col-md-7 col-lg-5 align-items-center overline overline_mob mx-auto">
                    <div class="section_7__center-block d-flex flex-column align-items-center position-relative bg-blue-3 mx-auto px-3 px-sm-4 pt-5 pb-4">
                        <h1 class="section_7__center__header text-center text-white-1 mb-0">Innovative <br class="d-md-none">Products & <br class="d-md-none">Solutions</h1>
                        <a class="btn btn-yellow-1 section_7__center__button mt-4 col-12 px-3 mb-3">Markets & Applications</a>
                    </div>
                </div>
    
                <div class="section_7__cards-wrap position-relative">
                     
                    <div class="row row-cols-2 row-cols-md-4 g-2 g-md-3 g-lg-4">

                        <div class="section_7__card-wrap">
                            <div class="section_7__card d-flex flex-column justify-content-between position-relative pt-4 pb-3 bg-grey-3 mt-0 px-3 px-lg-4 w-100">
                                <div class="section_7__card__highlighter col-12 bg-white-1 position-absolute"></div>
                                <p class="section_7__card__text_header col-12 mb-0 text-black-1">Phenolic Novolac and Resol</p>
                                <p class="section_7__card__text_category text-uppercase text-blue-1 col-12 mb-0">Materials</p>
                                <a href="#" class="stretched-link section_7__card-link text-decoration-none"></a>
                            </div>
                        </div>
                        <div class="section_7__card-wrap">
                            <div class="section_7__card d-flex flex-column justify-content-between position-relative pt-4 pb-3 bg-grey-3 mt-0 px-3 px-lg-4 w-100">
                                <div class="section_7__card__highlighter col-12 bg-white-1 position-absolute"></div>
                                <p class="section_7__card__text_header col-12 mb-0 text-black-1">BMC/ Thermoset Polyester Molding</p>
                                <p class="section_7__card__text_category text-uppercase text-blue-1 col-12 mb-0">Materials</p>
                                <a href="#" class="stretched-link section_7__card-link text-decoration-none"></a>
                            </div>
                        </div>
                        <div class="section_7__card-wrap">
                            <div class="section_7__card d-flex flex-column justify-content-between position-relative pt-4 pb-3 bg-grey-3 mt-0 px-3 px-lg-4 w-100">
                                <div class="section_7__card__highlighter col-12 bg-white-1 position-absolute"></div>
                                <p class="section_7__card__text_header col-12 mb-0 text-black-1">Melamine-Phenolic Molding</p>
                                <p class="section_7__card__text_category text-uppercase text-blue-1 col-12 mb-0">Materials</p>
                                <a href="#" class="stretched-link section_7__card-link text-decoration-none"></a>
                            </div>
                        </div>
                        <div class="section_7__card-wrap">
                            <div class="section_7__card d-flex flex-column justify-content-between position-relative pt-4 pb-3 bg-grey-3 mt-0 px-3 px-lg-4 w-100">
                                <div class="section_7__card__highlighter col-12 bg-white-1 position-absolute"></div>
                                <p class="section_7__card__text_header col-12 mb-0 text-black-1">Phenolic Novolac and Resol</p>
                                <p class="section_7__card__text_category text-uppercase text-blue-1 col-12 mb-0">resins</p>
                                <a href="#" class="stretched-link section_7__card-link text-decoration-none"></a>
                            </div>
                        </div>

                    </div>
                </div>
    
                <p class="section_7__text_bottom_main text_heading_main text-white-1">Plastics Engineering Company is a leading North American 
                    manufacturer of phenolic resins and thermoset molding materials, <span class="text-blue-l2">selling products 
                    under its trademark Plenco.</span></p>
                <p class="section_7__text_bottom text_heading_add text-white-1">If you have a phenolic resin or thermoset molding material project, chances 
                    are, the Plenco team can make it work. We’ve been doing it for over 80 years.</p>
                <p class="section_7__text_bottom text-white-1 text_heading_add pb-3">Come and benefit from the Plenco difference.</p>
                    <div class="row mt-4 mt-md-4">
                        <a class="btn btn-yellow-1 section_7__button ms-auto ms-md-0 me-4">about</a>
                        <a class="btn btn-yellow-1 section_7__button me-auto me-md-0">facilities</a>
                    </div>
    
            </div>
        </div>
    </div>



    <div class="row section_6_bg overflow-hidden overline_mob-r">
        <div class="section_6 col px-0">
            <div class="container cont-site">
                <h2 class="section_6__header col-lg-4 mb-4">Markets & <span class="text-blue-1">Applications</span></h2>
                <div class="section_6__gallery_1-wrapper row row-cols-2 row-cols-sm-3 g-3 g-sm-5">
                    
                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-1.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/tyre.svg" alt="Automotive" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Automotive</p>
                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>

                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-2.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/bolt.svg" alt="Electrical Insulation" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Electrical Insulation</p>
                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>

                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-3.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/v-engine.svg" alt="Small Engine" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Small Engine</p>
                            </div>
                        </div>
                    </div>

                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-4.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/pot.svg" alt="Home & Commercial Kitchen" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Home & Commercial Kitchen</p>
                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>

                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-5.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/light-bulb.svg" alt="Lighting" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Lighting</p>
                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>

                    <div class="gallery_1__item-wrap position-relative">
                        <div class="gallery_1__item bg-blue-1">
                            <div class="gallery_1__item__img-wrap d-none d-md-block">
                                <img src="./assets/img/pages/home/gallery_1-6.jpg" alt="Automotive" class="gallery_1__item__img w-100 h-100">
                            </div>
                            <div class="gallery_1__item__descr-cont col d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between justify-content-md-start px-3 py-3">
                                <img src="./assets/img/svg/valve.svg" alt="Oil & Gas" class="gallery_1__item__icon col-6 col-md-2">
                                <p class="gallery_1__item__text text-white-1 mb-0 mx-0 mx-md-4">Oil & Gas</p>
                            </div>
                        </div>
                        <a href="#" class="stretched-link"></a>
                    </div>

                </div>
                
            </div>
        </div>
    </div>



    <div class="section_1 col align-items-center d-flex overline_mob-r px-0">
        <div class="container cont-site">
            <div class="row">
                <div class="section_1__sub-cont col offset-md-4 col-md-8 offset-lg-6 col-lg-6 bg-blue-3 px-0">
                    <div class="row justify-content-center px-4 px-sm-5 w-100">
                        <h2 class="section_1__sub-cont__header text-white-1 mb-0 px-0 px-md-3 px-lg-4">The Environment in Which We Live and Work</h2>
                        <p class="section_1__sub-cont__text text_heading_add text-white-1 mt-3 mb-4 px-md-3 px-0 px-lg-4">The environment in which we live and work is of utmost importance to Plenco. The principle and 
                            process are clear. Ever since our founding, Plenco has been a good employer, supplier and neighbor when it comes to the environment.</p>
                        <div class="button_wrapper d-flex justify-content-evenly w-100 px-0 px-md-3 px-lg-4">
                            <a class="btn btn-yellow-1 col">Policy</a>
                            <div class="gap col-1"></div>
                            <button class="btn btn-yellow-1 col">CSR Manual</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row section_2_bg overline_mob-r">
        <div class="section_2 col px-0 ">
            <div class="container cont-site pb-0">
                <h2 class="text-center">Plenco <span class="text-blue-1">Products</span></h2>
                <div class="section_2__cards-cont row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 px-0">

                    <div class="section_2__card-wrap">
                        <div class="section_2__card px-0 pt-5 pt-md-4">
                            <div class="section_2__card__img-cont col-auto">
                                <img class="d-block mx-auto" src="./assets/img/svg/schema_resins.svg" alt="resins">
                            </div>
                            <div class="section_2__card__content-cont col d-flex flex-column bg-blue-3 px-4 pt-5 position-relative">
                                <p class="section_2__card__header text-blue-l3 mb-0">Phenolic Novolac and Resol Resins</p>

                                <p class="section_2__card__text mt-3 mb-0 text-white-1">Our extensive range of phenolic resins are used in applications to 
                                    impart a desirable combination of high hardness, long-term thermal and mechanical stability, 
                                    high fire and flame resistance, combined with good electrical insulating capability.</p>
                                <div class="section_2__card__line col-7 h-0 border-bottom border-1 border-white-1 mt-4"></div>
                                <div class="section_2__card__bottom-block position-relative d-flex align-items-center justify-content-between col-12">
                                    <h3 class="section_2__card__bottom-block__text text-blue-l3">resins</h3>
                                    <div class="section_2__link position-relative">
                                        <img src="./assets/img/svg/button_60__arrow-right.svg" alt="" class="h-100">
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>



                    <div class="section_2__card-wrap">
                        <div class="section_2__card px-0 pt-5 pt-md-4">
                            <div class="section_2__card__img-cont col-auto">
                                <img class="d-block mx-auto" src="./assets/img/svg/schema_phenolic.svg" alt="resins">
                            </div>
                            <div class="section_2__card__content-cont col d-flex flex-column bg-blue-3 px-4 pt-5 position-relative">
                                <p class="section_2__card__header text-blue-l3 mb-0">Phenolic Molding Compounds</p>

                                <p class="section_2__card__text mt-3 mb-0 text-white-1">Highly engineered and custom formulated thermosets are used 
                                    across a number of industries including automotive, aerospace, industrial, electrical and more. See how 
                                    you can benefit from our composites.</p>
                                <div class="section_2__card__line col-7 h-0 border-bottom border-1 border-white-1 mt-4"></div>
                                <div class="section_2__card__bottom-block position-relative d-flex align-items-center justify-content-between col-12">
                                    <h3 class="section_2__card__bottom-block__text text-blue-l3">phenolic</h3>
                                    <div class="section_2__link position-relative">
                                        <img src="./assets/img/svg/button_60__arrow-right.svg" alt="" class="h-100">
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="section_2__card-wrap">
                        <div class="section_2__card px-0 pt-5 pt-md-4">
                            <div class="section_2__card__img-cont col-auto">
                                <img class="d-block mx-auto" src="./assets/img/svg/schema_bmc.svg" alt="resins">
                            </div>
                            <div class="section_2__card__content-cont col d-flex flex-column bg-blue-3 px-4 pt-5 position-relative">
                                <p class="section_2__card__header text-blue-l3 mb-0">BMC/Thermoset Polyester Molding Compounds</p>

                                <p class="section_2__card__text mt-3 mb-0 text-white-1">Bulk Molding Compounds are used for high-strength applications 
                                    that can be evaluated to replace steel, die cast aluminum or iron when reduction of weight and secondary operation c
                                    osts are important goals.</p>
                                <div class="section_2__card__line col-7 h-0 border-bottom border-1 border-white-1 mt-4"></div>
                                <div class="section_2__card__bottom-block position-relative d-flex align-items-center justify-content-between col-12">
                                    <h3 class="section_2__card__bottom-block__text text-blue-l3">BMC/ THERMOSET</h3>
                                    <div class="section_2__link position-relative">
                                        <img src="./assets/img/svg/button_60__arrow-right.svg" alt="" class="h-100">
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="section_2__card-wrap">
                        <div class="section_2__card px-0 pt-5 pt-md-4">
                            <div class="section_2__card__img-cont col-auto">
                                <img class="d-block mx-auto" src="./assets/img/svg/schema_melamine.svg" alt="resins">
                            </div>
                            <div class="section_2__card__content-cont col d-flex flex-column bg-blue-3 px-4 pt-5 position-relative">
                                <p class="section_2__card__header text-blue-l3 mb-0">Melamine-Phenolic Molding Compounds</p>

                                <p class="section_2__card__text mt-3 mb-0 text-white-1">Our melamine-phenolic (MP) compounds add strength and electrical insulating characteristics to many applications. 
                                    MP molding compounds feature enhanced tracking resistance, arc resistance and surface abrasion during repetitive cycling.</p>
                                <div class="section_2__card__line col-7 h-0 border-bottom border-1 border-white-1 mt-4"></div>
                                <div class="section_2__card__bottom-block position-relative d-flex align-items-center justify-content-between col-12">
                                    <h3 class="section_2__card__bottom-block__text text-blue-l3">MELAMINE</h3>
                                    <div class="section_2__link position-relative">
                                        <img src="./assets/img/svg/button_60__arrow-right.svg" alt="" class="h-100">
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row section_8_bg position-relative">
        <div class="section_8 col px-0 overflow-hidden">
            <div class="container cont-site">
                <div class="section_8__data d-flex flex-column-reverse flex-lg-row align-items-lg-center position-relative">
                    
                    <div class="section_8__textarea px-0 col-12 col-lg-6 position-relative">
                        <div class="section_8__textarea-wrap col-12 col-sm-11 col-md-8 col-lg-11">
                            <h2 class="block_1__header mt-5 mt-lg-0 mb-0">Plenco Reports & <span class="text-blue-1">Resources</span></h2>
                            <p class="block_1__text text_heading_add mt-3 mb-0">Search our website for product information and data reports.</p>
                            
                            <form class="block_input_1__searcharea d-flex align-items-center mt-4" id="home__form-1">
                                <input class="block_input_1__input form-control position-relative w-100 h-100" type="text" placeholder="Search">
                                <button type="submit" class="btn block_input_1__button h-100 p-0">
                                    <img src="./assets/img/svg/button_60__arrow-right.svg" alt="Search" class="block_input_1__button-icon m-0 p-0">                                         
                                </button>
                            </form>
                            
                            <div class="w-100 mt-5 pt-2 pt-lg-4"></div>
                            <h3 class="block_1__span col-10 text-uppercase">Quick Links</h3>
                            <a href="#" class="block_1__link mt-4">Plenco Data Reports/SDS</a>
                            <a href="#" class="block_1__link mt-3">Plenco Data Glossary</a>
                            <a href="#" class="block_1__link mt-3">Technical Tips</a>
                            <a href="#" class="block_1__link mt-3">Plenco Processing Guide (English)</a>
                            <a href="#" class="block_1__link mt-3">Plenco Processing Guide (Spanish)</a>
                            <a href="#" class="block_1__link mt-3">Material Storage</a>
                            <a class="btn btn-yellow-1 block_1__button d-none d-lg-flex col-md-7 col-lg-9 mt-5">Reports & Resources</a>
                        </div>
                    </div>

                    <img src="./assets/img/pages/home/reports.jpg" alt="Quality Assurance" class="section_8__image position-relative">

                </div>
            </div> 
        </div>
    </div>



    <div class="row section_4_bg col-12 overline_mob-r">
        <div class="section_4 col px-0">
            <div class="container cont-site">
                <h2 class="section_4__header">Plenco <span class="text-blue-1">News</span></h2>
                <div class="section_4__content row col-12 pt-4">
                    
                    <div class="section_4__item section_4__item_1 col-12 col-lg-5 position-relative d-flex flex-column pt-4 pb-4 px-4 bg-blue-1 border-start border-end border-5 border-blue-3">
                        <p class="section_4__item__header col-12  text-white-1 text-center text-md-start mb-0 pt-2">Plenco Reaches 15% on Energy Savings from Better Plants Program</p>
                        <div class="section_4__item__other">
                            <img src="./assets/img/pages/home/news.jpg" alt="Tech line" class="w-100 section_4__item__img mt-4">
                            <span class="section_4__item__link uppercase mt-4 py-4 text-center text-decoration-none text-white-1 d-none d-md-block">
                                <h3 class="mb-0">Read Article</h3>
                            </span>
                            <span class="section_4__item__link uppercase mt-4 py-3 text-center d-block d-md-none text-decoration-none text-black-1 bg-blue-l1 w-75 mx-auto">
                                <h3 class="mb-0">Read Article</h3>
                            </span>
                        </div>
                        <div class="section_4__item__line position-absolute border-top border-7 border-blue-l2 h-0"></div>
                        <a href="#" class="stretched-link"></a>
                    </div>
    
    
                    <div class="section_4__right-side col-12 col-lg-6 offset-0 offset-lg-1 px-0 mt-4 mt-lg-0">
                        
                        <div class="section_4__item section_4__item_2 col-12 position-relative d-flex flex-column bg-blue-1 px-4 py-4 border-start border-end border-5 border-blue-3">
                            <p class="section_4__item__header col-12 text-white-1 pt-2">Plenco’s Story, A Video Journey</p>
                            <div class="section_4__item__other d-flex flex-column justify-content-between flex-grow ">
                                <div class="blank"></div>
                                <span class="section_4__item__link uppercase text-left pb-3 text-decoration-none text-white-1">
                                    <h3>Watch Video</h3>
                                </span>
                                <div class="blank"></div>
    
                            </div>
                            <div class="section_4__item__line position-absolute border-top border-7 border-blue-l2 h-0"></div>
                            <a href="#" class="stretched-link"></a>
                        </div>
        
                        <div class="section_4__item section_4__item_2 section_4__item_3 col-12 position-relative d-flex flex-column bg-blue-1 px-4 py-4 border-start border-end border-5 border-blue-3 mt-4">
                            <p class="section_4__item__header col-12 text-white pt-2 text-white-1">Placeholder: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </p>
                            <div class="section_4__item__other d-flex flex-column justify-content-between flex-grow ">
                                <div class="blank"></div>
                                <span class="section_4__item__link uppercase text-left pb-3 text-decoration-none text-white-1">
                                    <h3>Read Article</h3>
                                </span>
                                <div class="blank"></div>
                            </div>
                            <div class="section_4__item__line position-absolute border-top border-7 border-blue-l2 h-0"></div>
                            <a href="#" class="stretched-link"></a>
                        </div>
    
                        <a class="btn btn-yellow-1 section_4__right-side__button button_yellow col-10 offset-1 col-sm-6 col-lg-6 offset-sm-3 offset-lg-0 mt-4 mt-lg-5">View all news</a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>


    <div class="row section_13_bg overflow-hidden">
        <div class="section_13 col px-0">
            <div class="container cont-site">
                <h2 class="section_13__header mb-0 pb-0 text-center">Industry <span class='text-blue-1'>Insights</span></h2>
                <p class="section_13__text text_heading_add mx-auto col-md-6 col-lg-5 text-sm-center text-start text-md-center mt-4">Sign up for Plenco’s newsletter to learn more about the latest technology in plastic engineering.</p>
                
                <form class="block_input_1__searcharea d-flex align-items-center mt-4 col-12 col-sm-10 col-md-6 col-lg-5  mx-auto" id="home__form-2">
                    <input class="block_input_1__input form-control position-relative w-100" type="text" placeholder="Search">
                    <button type="submit" class="btn block_input_1__button h-100 p-0">
                        <img src="./assets/img/svg/button_60__arrow-right.svg" alt="Search" class="block_input_1__button-icon m-0 p-0">                                         
                    </button>
                </form>

            </div> 
        </div>
    </div>


{% endblock %}
 

{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}