{% extends "../_layout.twig" %}
{% set pageTitle = 'News/Blog Detail Page' %}
{% set pageClass = 'body_news_blog_detail_page' %}

{% set page_news_blog_detail_page = {
    heading: {
        heading_top_text: "Technical Service",
        bg_img: "./assets/img/pages/technical-service/heading.jpg",
        class: "page_news_blog_detail_page"
    },
    nav_side: {
        visible: false
    },
  

}
%}


{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_news_blog_detail_page.nav_side} %}
   


    <div class="row section_heading_bottom bg-blue-3 {{ page_technical_service_nb_detail_1.heading.class }}" style="{{ page_technical_service_nb_detail_1.heading.style }}">
        <div class="col px-0">
            <div class="container cont-site section_heading_bottom__content d-flex flex-column justify-content-center h-100">
                <div class="h1 text-white-1 mb-0">Plenco Reaches 15% on Energy Savings from Better Plants Program </div>
                <div > 
                    <p class="text_heading_add pt-4 text-white-1 mb-0" style="font-size: 14px;">October 12, 2021</p> 
                    <p class="text_add-bold text-white-1 mb-0">Author Name (if needed)</p> 
                </div>
            </div>
        </div>
    </div>




    <div class="row section_108_bg position-relative bg-grey-3">
        <div class="container cont-site">
            <div class="section_108 bg-white-1 ">
                <div class="section_108__content col-12 px-4 px-md-0 col-md-9 mx-auto">
                    <h2 class="mb-0">Heading</h2>
                    <p class="text_main mt-2 mt-md-5 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet 
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p class="text_add mt-4 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet 
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                    
                    <img src="./assets/img/pages/news-blog-detail/img-1.jpg" alt="Img-1" class="col-12 mt-5">
                    <p class="text_spec mt-4 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod </p>
                    <p class="text_add mt-5 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                    <p class="text_quote_add text-center text-blue-3 mt-5">“Placeholder pulled quote: Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua.”</p>
                    <p class="text_add mt-5 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo 
                        duo dolores et ea rebum. </p>
                    <ul class="ul_3 mt-3">
                        <li class="ul_3__text mt-1">Bullet 1</li>
                        <li class="ul_3__text mt-1">Bullet point 2</li>
                        <li class="ul_3__text mt-1">Bullet point 3</li>
                    </ul>


                    <div id="carousel_nbd" class="carousel slide mt-5 mx-n4" data-bs-ride="carousel">
                        <div class="carousel-inner col-12">

                            <div class="carousel-item active" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-1.jpg" class="card-img-top" alt="1">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-2.jpg" class="card-img-top" alt="2">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-3.jpg" class="card-img-top" alt="3">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-4.jpg" class="card-img-top" alt="4">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-5.jpg" class="card-img-top" alt="5">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-6.jpg" class="card-img-top" alt="6">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel_nbd__controls d-flex justify-content-between mx-auto position-absolute">
                            <button class="carousel-control-prev opacity-100 position-relative w-auto opacity-1" type="button" data-bs-target="#carousel_nbd" data-bs-slide="prev">
                                <img src="./assets/img/svg/button_60__arrow-right.svg" class="caruosel__button_prev" alt="NEXT">
                            </button>
                            <button class="carousel-control-next opacity-100 position-relative w-auto" type="button" data-bs-target="#carousel_nbd" data-bs-slide="next">
                                <img src="./assets/img/svg/button_60__arrow-right.svg" class="caruosel__button_next" alt="NEXT">
                            </button>
                        </div>
                    </div>


        
        
                    <div class="section_108__tags d-flex flex-wrap mx-n2 mt-4 col-12">
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 position-relative">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    <a href="#" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 position-relative">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    <a href="#" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 position-relative">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    <a href="#" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
        
                    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mt-5">
                        <a  class="text-decoration-none"><h3 class="text-blue-1 mb-0 ">Share article</h3></a>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_facebook_blue.svg" alt="facebook">
                            <p class="text_add_small mb-0 ps-2">Facebook</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_envelope_blue.svg" alt="email">
                            <p class="text_add_small mb-0 ps-2">Email Article</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_linkedin_blue.svg" alt="linkedin">
                            <p class="text_add_small mb-0 ps-2">LinkedIn</p>
                            <a  class="stretched-link"></a>
                        </div> 
                    </div>
                
                </div> 
            </div>
        </div>
    </div>




    

    <div class="row section_30_bg overflow-hidden">
        <div class="container cont-site section_30 col-12 d-flex flex-column">
            <h2 class="section_30__header">Related <span class="text-blue-1">News</span> </h2>
            <div class="section_30__cards row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mx-n4 align-items-stretch pt-sm-0 pt-5">

                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Resources Example Heading Placeholder text text</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">White Paper</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="section_30__link text-blue-1 mt-3 mb-0">read article</h3>
                        </div> 
                        <a  class="stretched-link "></a>
                    </div>
                </div>

                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Resources Example Heading consetetur sadipscing elitr</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">Video</p>
                                    </div>
                                </div>
                            </div>
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">Resol Resin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="section_30__link text-blue-1 mt-3 mb-0">Watch Video</h3>
                        </div>
                        <a  class="stretched-link "></a>
                    </div>
                </div>


                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    </div>
                                </div>
                            </div>
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div  class="section_37__left__link text-decoration-none mt-3 d-flex align-items-center">
                                <img src="./assets/img/svg/download_1.svg" alt="download" class="section_37__left__icon">
                                <h3 class="text-blue-1 mb-0 ms-2">DOWNLOAD PDF</h3>
                            </div>

                        </div>
                        <a  class="stretched-link "></a>
                    </div>
                </div>               

            </div>

            <a href="news-blog.html" class="section_30__button btn btn-yellow-1 section_37__button d-inline-flex col-12 col-sm-auto px-4 px-md-5 align-self-center">View all News</a>

        </div>
    </div>



{% endblock %}

     
{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}


{% block scripts %}
    <script src='./assets/js/carousel.js'></script>
{% endblock %}