{% extends "../_layout.twig" %}
{% set pageTitle = 'Novolac Resins' %}
{% set pageClass = 'body_novolac-resins' %}

{% set page_novolac_resins = {
    heading: {
        heading_top_text: "Novolac Resins",
        bg_img: "./assets/img/pages/novolac-resins/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %} 
    {% include '../layouts/nav/_nav_side.twig' with {data: page_novolac_resins.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_novolac_resins.heading} %}
    
    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">An acidic catalyst and a molar excess of phenol to formaldehyde are conditions used to make novolac resins. The following simplified chemistry illustrates the wide range of <span class='text-blue-l2'>polymers possible</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>


    


     <div class="row section_28 overflow-hidden">
        <div class="col px-0">
            <div class="container cont-site col-12 d-flex flex-column flex-md-row">
                <div class="section_28__left col-3  pe-5 d-none d-md-block ">
                    <div class="section_28__left__content-cont border-start border-7 border-blue-l2 ms-n3 ps-3 py-3">
                        <a href="pn-rr.html" class="section_28__left__link text-decoration-none d-flex">
                            <h3 class="text-blue-1 mb-0">Phenolic Novolac & Resol Resins Main Page</h3>
                        </a>
                        <a class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-l2 mb-0">Novolac Resins</h3>
                        </a>
                        <a href="resol-resins.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resol Resins</h3>
                        </a>
                        <a href="pn-rr-app.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resin Applications</h3>
                        </a>
                        <a href="pn-rr.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resources</h3>
                        </a>                        
                    </div>
                </div>



                <div class="accordion accordion-flush section_28_accordion d-md-none col-12" id="oil-accordion-nav">
                    <div class="row ">

                        <div class="acc__item-wrap col-12 px-0">
                            <div class="accordion-item ">
                                <h2 class="accordion-header border-bottom border-7 border-yellow-1" id="acc-nav__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-white-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-nav__body-1" aria-expanded="true" aria-controls="acc-nav__body-1">
                                        <h3 class="accordion-header d-block mb-0 text-uppercase text-blue-1">Novolac Resins</h3> 
                                    </button>
                                </h2>
                                <div id="acc-nav__body-1" class="accordion-collapse collapse" aria-labelledby="acc-nav__header-1" data-bs-parent="">
                                    <div class="accordion-body pt-2 pb-0">
                                        <a href="pn-rr.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                            <h3 class="text-blue-1 mb-0">Phenolic Novolac & Resol Resins Main Page</h3>
                                        </a>                                                
                                        <a href="resol-resins.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                            <h3 class="text-blue-1 mb-0">Resol Resins</h3>
                                        </a>
                                        <a href="pn-rr-app.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                            <h3 class="text-blue-1 mb-0">Resin Applications</h3>
                                        </a>
                                        <a href="pn-rr.html" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                            <h3 class="text-blue-1 mb-0">Resources</h3>
                                        </a>                                                
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>





                <div class="section_28__right col-12 col-md-9 ps-md-5 mt-5 mt-md-0 pt-4 pt-md-0">
                    <div class="section_28__data d-flex flex-column position-relative">
                        <h2 class="block_4__header section_28__header-line position-relative mb-0 text-start" id="chemistry">Novolac Resin <span class='text-blue-1 font-normal'>Chemistry</span></h2>
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">An acidic catalyst and a molar excess of phenol to formaldehyde are conditions used to make novolac resins. The following simplified chemistry illustrates the wide range of polymers possible. The initial reaction is between methylene glycol and phenol. (Phenolic Novolac & Resol Resins text - Novolac Resins)</p>
                        
                        <img src="./assets/img/pages/novolac-resins/elements-1.jpg" alt="novolac-resins" class="section_28__image position-relative mt-4 col-12 col-md-8">
                        
                        <p class="text_add position-relative mb-0 text-lg-start mt-5">The reaction continues with additional phenol, and splitting off of water.</p>
                        <img src="./assets/img/pages/novolac-resins/elements-2.jpg" alt="novolac-resins" class="section_28__image position-relative mt-4 col-12 col-md-9">
                        
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">The reaction creates a methylene bridge at either the ortho position or the para position of the phenolic aromatic rings. The “rule of thumb” is that the para position is approximately twice as reactive as the ortho position, but there are twice as many ortho sites (two per phenol molecule) so the fractions of ortho-ortho, para-para and ortho-para bridges are approximately equal.</p>
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Branching occurs because reaction can occur at any of three sites on each ring. As the reaction continues, the random orientations and branching quickly result in an extremely complex mixture of polymers of different sizes and structures. The reaction stops when the formaldehyde reactant is exhausted, often leaving up to 10% of un-reacted phenol. Distillation of the molten resin during manufacturing removes the excess phenol and water.</p>
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">The final novolac resin is unable to react further without the addition of a cross-linking agent. Plenco novolac resins come with and without a curing agent. The resins having the curing agent incorporated cure or “thermoset” to the desired degree when processed by the customer.</p>
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Because an additional agent is required to complete the resin’s cure, the industry commonly refers to novolac resins as “two-stage” or “two-step” products. The most common phenolic resin cross-linking agent is hexamethylenetetramine, also known as hexa, hexamine, or HMTA. Ground and blended with the resin, hexa serves as a convenient source of formaldehyde when heated to molding and curing temperatures. A special attribute of hexa is that it reacts directly with resin and phenol without producing appreciable amounts of free formaldehyde. Hexa cures the resin by further linking and polymerizing the molecules to an infusible state. Due to the bond angles and multiple reaction sites involved in the reaction chemistry, the resulting polymer is not a long straight chain but rather a complex three-dimensional polymer network of extreme molecular weight. This tightly cured bonding network of aromatic phenolics accounts for the cured materials’ hardness, and heat and solvent resistant properties.</p>
                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Certain catalysts can affect the orientations of the methylene linkages. Catalysts that preferably promote ortho-ortho linkages tend to preserve the more reactive para positions:</p>

                        <img src="./assets/img/pages/novolac-resins/elements-3.jpg" alt="novolac-resins" class="section_28__image position-relative mt-4 col-6 col-md-8 col-lg-5">


                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Novolac resins made with these catalysts tend to cure more rapidly than the standard randomly linked resins. Novolac resins are amorphous (not crystalline) thermoplastics. As they are most typically used, they are solid at room temperature and will soften and flow between 150° and 220°F (65°C - 105°C). The number average molecular weight (Mn) of a standard phenol novolac resin is between 250 and 900. As the molecular weight of phenol is 94 grams per mole, a Mn of 500 corresponds to a resin where the average polymer size in the entire distribution of polymers is five linked phenol rings. Novolac resins are soluble in many polar organic solvents (e.g., alcohols, acetone), but not in water. (Phenolic Novolac & Resol Resins text - Novolac Resins)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row section_107_bg h-100 p-0 m-0 overline-r overline_mob-r"> 
        <div class="section_107 col-12 px-0 d-flex align-items-start align-items-md-center pt-5 pb-4 pb-lg-5">
            <div class="container cont-site section_107__content col-md-12 d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center mt-3 mt-md-0">
                <div class="section_107__left col-auto position-relative">
                    <h1 class="section_107__header text-center text-lg-start text-blue-l3 mb-0">Learn More</h1>
                    <p class="section_107__text text-center text-lg-start text-white-1 mb-0">About Novolac Resin</p>
                </div>
                <div class="section_107__right col-auto position-relative align-self-center align-self-lg-end">
                    <a type="button" class="btn btn-yellow-1 section_107__button ms-0 ms-md-4 mt-4 mt-lg-0 navbtn" data-navbtn="contact_modal">Contact Plenco</a>
                </div>
            </div>
        </div>
    </div>

                    
                    


    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}
