{% extends "../_layout.twig" %}
{% set pageTitle = 'Phenolic Molding Compounds Applications' %}
{% set pageClass = 'body_pmc-app' %}

{% set page_pmc_app = {
    heading: {
        heading_top_text: "Phenolic Molding Compounds Applications",
        bg_img: "./assets/img/pages/pmc-app/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_pmc_app.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_pmc_app.heading} %}
    
    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero <span class='text-blue-l2'>eos et accusam et justo</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p>
                </div>                
            </div>
        </div>
    </div>
    
 

 

    




{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}



{% block scripts %}
    <script src='./assets/js/questions.js'></script>
{% endblock %}