{% extends "../_layout.twig" %}
{% set pageTitle = 'Phenolic Novolac & Resol Resins Applications' %}
{% set pageClass = 'body_pn-rr-app' %}

{% set page_pn_rr_app = {
    heading: {
        heading_top_text: "Phenolic Novolac & Resol Resins Applications",
        bg_img: "./assets/img/pages/pn-rr-app/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %} 
    {% include '../layouts/nav/_nav_side.twig' with {data: page_pn_rr_app.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_pn_rr_app.heading} %}
    
    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Plastics Engineering Company manufactures an extensive range of products for many application fields that benefit from the outstanding characteristics and <span class='text-blue-l2'>performance advantages of phenolic resins</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1">We welcome the opportunity to be of service to your company, and to customize a Plenco phenolic resin specifically for your application.</p> 
                </div>                
            </div>
        </div>
    </div>








 

    <div class="row section_37 overflow-hidden">
        <div class="col px-0">
            <div class="container cont-site col-12 d-flex ">
                <div class="section_37__left col-3 py-2 pe-5 d-none d-md-block ">
                    <div class="section_37__left__content-cont border-start border-7 border-blue-l2 ms-n3 ps-3 py-3">
                        <a href="#" class="section_28__left__link text-decoration-none d-flex">
                            <h3 class="text-blue-1 mb-0">Phenolic Novolac & Resol Resins Main Page</h3>
                        </a>
                        <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Novolac Resins</h3>
                        </a>
                        <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resol Resins</h3>
                        </a>
                        <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resin Applications</h3>
                        </a>
                        <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                            <h3 class="text-blue-1 mb-0">Resources</h3>
                        </a> 
                    </div>
                </div>

                <div class="section_37__right col-12 col-md-9 ps-md-5">
                    <div class="section_37__data d-flex flex-column-reverse flex-lg-row position-relative align-items-center">
                        <div class="section_37__textarea px-0 col-12 position-relative">
                            <div class="section_37__textarea-wrap col-12">
                                <div class="block_4 d-flex flex-column justify-content-between">
                                    <div class="block_4__text-cont pe-3">
                                        <div class="mock d-none d-lg-block float-end  ms-5 mb-5">
                                            <div class="section_37__img-cont_dt position-relative  d-flex justify-content-end align-self-md-end  d-none d-lg-block">
                                                <img src="./assets/img/pages/pn-rr-app/pn-rr-app.jpg" alt="Phenolic Novolac and Resol Resins Applications" class="section_37__image_dt position-relative d-none d-lg-block">
                                            </div>
                                        </div>
                                        <h2 class="block_4__header section_37__header-line position-relative mb-0 text-start d-none d-md-block " id="case">Phenolic Novolac and Resol Resins <span class='text-blue-1 font-normal'>Applications</span></h2>
                                        <h3 class="position-relative mb-0 text-start mt-4 text-blue-1 text-uppercase">Ablation</h3>                                        
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Phenolic resin chars when heated to temperatures greater than 480°F (250°C). This process continues at very high temperatures greater than 1,000°F (>500°C), until the resin completely converts to amorphous carbon. This characteristic contributes to the unique ablative properties of phenolic resins. An ablative surface is a heat shield designed to wear away in a controlled fashion at very high temperatures. Examples are rocket nozzles, rocket blast shields, and atmospheric reentry shields. Several aerospace ablative applications specify Plenco resins.</p>
                                                        
                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Abrasives</h3>                                        
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">The variety of abrasive products available in the market is practically endless, as they have to meet the specific needs of the individual grinding applications and substrates. Applications range from simple cut off wheels to precision sanding tasks, and involve materials like metal, wood, minerals, and composites. Generally, there are three groups of abrasive products: bonded, coated, and non-woven.</p>
                                        
                                        <p class="text_heading_add position-relative mb-0 text-lg-start mt-4">Bonded Abrasives:</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Bonded abrasives like grinding wheels are comprised of abrasive particles embedded in a bonding matrix. While the grit used may be from a wide variety of minerals and abrasive particles, phenolic resin is the matrix binder of choice. Achieving the optimal combination of resistance to burst or fracture strength, flexibility and porosity, coupled to the manufacturing method, requires optimization of the binding resin to the specific application of the wheel in question. Modification of the blend of phenolic novolac powder, hexa, and liquid resol resin is usually needed to achieve such optimization. For increased strength, fiberglass reinforcement inlays are used. These inlays are themselves typically saturated with a special liquid phenolic resin.</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Plastics Engineering Company tailors powdered and liquid resins for bonded abrasives to the specific needs of the customers and their unique cold forming or hot molding process. Accelerated cure resins are available as well as dust reduced powdered novolac-hexa products. Plenco resins are available as solvent-based flexible phenolic resins for use in fiberglass reinforcement inlays as well.</p>

                                        
                                        <p class="text_heading_add position-relative mb-0 text-lg-start mt-4">Coated Abrasives:</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Coated abrasives are flexible grinding materials typically available as sheets, discs or belts. These applications require abrasive grains fixed to the surface of a variety of backings, like paper or fabric, by special liquid phenolic resin binders. The manufacture of coated abrasives with their unique properties requires multiple production steps. Plenco resins in solvent or aqueous liquid solutions meet the special requirements of this application.</p>


                                        <p class="text_heading_add position-relative mb-0 text-lg-start mt-4">Non-Woven Abrasives:</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Household and industrial applications use non-woven abrasives, also called abrasive pads. The characteristically green pads used for cleaning the dishes are the most publicly visible non-woven abrasive. Manufacturers of non-woven abrasive parts typically employ the use of liquid phenolic binders. Plenco phenolic resins provide the excellent wetting properties and the short drying times needed by abrasive pad manufacturers to meet the technical requirements while achieving a high line speed for improved productivity.</p>

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Adhesives</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Wood bonding applications such as particleboard or wafer-board have traditionally used phenolic resin binders. Due to their specific “affinity” for wood and wood fibers, special liquid phenolic resins may be required for the specialty wood adhesives industry typically in combination with a polyvinylacetate (PVAc) backbone polymer. Plenco liquid phenolic resol resins with low free phenol and low free formaldehyde contents are available especially for use in adhesive applications. Plastics Engineering Company can also supply low ash content, soluble solid resol resins, and of course a wide range of novolac resin-hexa systems.</p>   

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Carbon</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Phenolic resins have an excellent affinity for graphitic and other forms of carbon. Manufacturers often use the resin simply as a binder and adhesive for their carbon materials. At high temperature, phenolic resins form a char of amorphous carbon. This means phenolic bonded carbon materials can be heat treated to yield an all carbon structure. Because of these unique properties, phenolic resins find application in the manufacture of electrodes, carbon-carbon composites, carbon seals, and washers. Phenolic resins are the binder of choice for manufacturing the carbon brushes used in electrical motors, starters and the like. Depending on the manufacturing process, powdered or liquid solutions of novolac resin-hexa blends, powdered resol resins, and liquid resol binding systems provide the desired binding properties. Several Plenco phenolic resins meet the requirements demanded by this technically challenging application.</p> 

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Coatings</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Cured phenolic resins demonstrate exceptional chemical resistance. Railroad cars, storage tanks and heat transfer equipment are coated using phenolic resins as part of baked phenolic coating systems. Plenco straight phenolic resin systems approved for coating applications are available and the researchers at Plastics Engineering Company are ready to tailor a resin system to the requirements of the customer.</p> 

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Composites</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Phenolic resins are the polymer matrix of choice in composite products especially when meeting high flame, smoke and toxicity (FST) properties. Phenolic resins provide for excellent strength at elevated temperatures in a variety of environments and are compatible with a multitude of composite fibers and fillers. Multiple applications benefit by using phenolic resins in the following composite part manufacturing processes:</p>        
                                        <ul class="ul_3 d-md-none mt-3 ps-4">
                                            <li class="ul_3__text mt-2">Resin Transfer Molding</li>
                                            <li class="ul_3__text mt-2">Pultrusion and Profile Extrusion</li>
                                            <li class="ul_3__text mt-2">Filament Winding</li>
                                            <li class="ul_3__text mt-2">Hand Lay-up</li>
                                        </ul>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Lightweight and high strength honeycomb structured core materials for aircraft and other aerospace applications utilize phenolic binding resins, usually in a dipping-saturating process. The composite manufacturing processes and components vary significantly from product to product and process to process so that customized Plenco phenolic resins are the best answer for our customers to find the optimum process and composite performance.</p>

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Felt Bonding</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Fiber felt manufacturers use phenolic resins with reclaimed or virgin fibers to produce thermal and acoustical insulation for the automotive and household appliance industries. Felt manufacturers achieve optimum rigidity, sound absorption and acoustical insulation performance by varying the density of the felt product. The versatility of the phenolic resin to affect the part density mirrors the versatility of substrate fibers used. Phenolic resins provide exceptional resistance under all environmental conditions. Specific applications are:</p>        
                                        <ul class="ul_3 d-md-none mt-3 ps-4">
                                            <li class="ul_3__text mt-2">Functional components used in visible areas (e.g., package deck)</li>
                                            <li class="ul_3__text mt-2">Below surface products used for padding and sound absorption (e.g., hood liner)</li>
                                            <li class="ul_3__text mt-2">Rigid parts used as substrate for decorative material</li>
                                        </ul>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Felt manufacturers achieve specific performance requirements by judicious use of Plenco powder resins. Resin formulation provides for good mold release, improved compatibility with scrim materials, and accelerated cure speeds for production efficiency. Environmental considerations continue to grow in importance. Plenco phenolic resins for felt bonding applications exhibit low emission and odor levels. Low dust level versions of Plenco phenolic resins are available also.</p>


                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Foam</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Special phenolic resins in combination with the proper cure catalysts, surfactants and blowing agents produce foam products. Phenolic foam has a unique set of properties such as excellent fire and heat resistance and a low smoke and toxicity rating when burned. Proper surfactants produce closed cell foams with excellent insulating R-values. Other surfactants produce open cell foams demonstrating unique water absorption properties. Typical application fields are:</p>        
                                        <ul class="ul_3 d-md-none mt-3 ps-4">
                                            <li class="ul_3__text mt-2">Floral foam (dry and wet forms)</li>
                                            <li class="ul_3__text mt-2">Orthopedic foam (for making foot print casts)</li>
                                            <li class="ul_3__text mt-2">Insulating Foams</li>
                                        </ul>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Plenco phenolic resins are widely accepted by the foam industry for their superior consistency, crucial for the challenging production process.</p>

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Foundry</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Many technologies are available to foundries for the production of dies for metal castings. Manufacturers using the shell molding process experience excellent dimensional accuracy, surface smoothness and high production rates using phenolic resin coated foundry sands. The shell molding process involves first creating mold cavities and cores by shaping sand coated with phenolic resin over a not metal form. Removed from the form and assembled, the mold and cores create the “negative” shape of the desired metal form. Hot metal is poured into the resin-sand mold and allowed to cool. Once hard, the excess resin-sand material is broken away revealing the metal part. Some recover the broken away sand for reuse. The careful selection of sand type, resin characteristics and coating method results in the desired mold and core properties such as strength, rigidity, flexibility, surface finish, part release and applicability to reuse.</p> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Plastics Engineering Company provides phenolic novolac sand coating resins in pastille form, for consistent melting and coating, efficient transport, and low dust. Resin formulations make use of proprietary accelerants, plasticizers or release agents to achieve a wide range of properties. These additives together with a customized phenol level, melt point, and hexa amount achieve optimal performance for each foundry’s requirements, like a low peel to improve release from the hot metal former. The Plenco product range includes resins for core sands, mold sands, and recyclable sand.</p>
                                        

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Friction</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Phenolic thermoset resin is the choice for composite friction materials: the pads, blocks, linings, discs and adhesives used in brake & clutch systems that create retarding or holding forces with application against a moving part. The inherently heat resistant phenolic resin carbonizes and chars at extreme service temperatures, it does not melt and smear like other polymer matrices. This property results in restored friction properties when the material cools and “recovers” from hard braking. Formulas for phenolic composite friction materials are combinations of friction and wear-controlling agents, reinforcing fibers and inert fillers blended with un-cured phenolic resin in an amount necessary to bond the other ingredients in place with sufficient strength and resiliency when finished. Judicious selection of the types and amounts of raw materials used allows for the optimization of performance with cost and consistency.</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Formulas for basic friction applications may contain 5 to 10 different ingredients while specialized material formulas may include a score or two of raw materials. Only one type of bonding resin is typically used. The effect of that one binder on the final composite’s properties depends on the total formulation and manufacturing method however. That is, no single type of resin product works optimally with all friction formulas or applications.</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">The salient step in the manufacture of phenolic composite friction materials is the molding and initial curing of the composite under heat and pressure. This molding step typically involves pressing a uniform blend of ingredients in a shaped mold preheated to 280° - 400°F (140° - 200°C) from one to three tons of pressure per square inch. The phenolic resin melts and flows during the molding operation to coat and then secure the other ingredients when the resin cross-links or “cures” to an infusible state. The resin’s performance during the hot molding step is most important to assuring an efficient manufacturing process. Friction material manufacturers select the type and amount of binder resin product used as a complement to the envisioned manufacturing process, its compatibility with other raw materials, environmental concerns and the expected service requirements.</p>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">To this end, Plastics Engineering Company is uniquely suited to assist friction material designers with a number of liquid and solid novolac (2-stage) and resol (1-stage) phenolic resins demonstrating a wide variety of flow and cure character combinations. The resins can be custom formulated with cure accelerating or performance enhancing additives. Plenco resins are suitable for all types of brake and clutch uses, including pads for lawn & garden equipment and automotive brakes, blocks for on and off road trucks, and linings for industrial, oil field and marine friction applications.</p>
                                        

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Proppants (Frac Sand)</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Oil and natural gas producers improve well yields using hydraulic fracturing fluids containing round specialty sands coated with phenolic resin. The industry refers to these sands as proppant or frac sands. The hydraulic fracturing fluid containing the proppant sand is pumped into the well effectively pressurizing the borehole and fracturing the surrounding rock. The fluid fills the nascent fissures and the resin-coated sand works as a prop to keep the fissure from sealing on release of pressure. Round sand is used to provide a porous medium through which the oil and gas can easily flow. Proprietary proppant sands made with Plenco resins continually improve petroleum yields every day.</p>

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Refractory</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">High carbon yield, wear resistance, and excellent particle wetting and bonding properties make phenolic resins ideal for refractory products. There are two general categories of refractory products: shaped and unshaped. Hydraulically pressed refractory bricks, slide gates, shrouds, nozzles, and crucibles are examples of shaped products. Examples of unshaped products are tap-hole compounds, tundish liners and ramming mixes used in steel making. Plastics Engineering Company provides phenolic refractory resins as liquids in a variety of solvents, including water based systems. Manufacturers may also choose from a wide range of novolac-hexa powder resin products. Some companies combine phenolic resins with temperature resistant ceramic fibers in a vacuum forming process to manufacture riser sleeves, ladles, and hot toppings. This application typically uses novolac-hexa powder resins with low emission levels. Non-hexa cured Plenco resins are available for this application to reduce ammonia and formaldehyde emissions.</p>

                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Rubber</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Tires and technical rubber goods use straight phenolic novolac resins as reinforcing agents. Plenco novolac resin pastilles are the preferred choice for a manufacturer who compounds the resin into the rubber for superior mix consistency and reduced dusting when compared to using powders or resin in flaked form. Special effort assures consistent pastille size and shape to meet the requirements of the automated dosing systems used by the industry. Plenco phenolic novolac pastille resins are available in a variety of softening point and emission level versions. Some rubber applications require phenolic novolac-hexa powder resin products in combination with the rubber compound. Plastics Engineering Company provides novolac-hexa with customized flow and the hexa curing agent level specific to each application.</p>
                                    
                                        <h3 class="position-relative mb-0 text-start mt-5 text-blue-1 text-uppercase">Substrate Saturation</h3> 
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Many applications use liquid phenolic resins to saturate substrates such as paper, fabrics, and wood. Phenolic resins receive preference because of their high mechanical strength, outstanding chemical resistance, and good flame resistant properties. Typically, solvent-borne resol resins are used, but depending on the specific products and processes, aqueous resol resins or resol cured novolac resins in solvents are preferred. Typical application fields are:</p>        
                                        <ul class="ul_3 d-md-none mt-3 ps-4">
                                            <li class="ul_3__text mt-2">Paper laminates (decorative or functional)</li>
                                            <li class="ul_3__text mt-2">Engineered wood</li>
                                            <li class="ul_3__text mt-2">Filter paper impregnation (Oil filters, Gasoline filters, Air filters)</li>
                                        </ul>
                                        <p class="text_add position-relative mb-0 text-lg-start mt-4">Plastics Engineering Company provides resins for the full range of technologies used in this application field and works to customize specific phenolic resins to the requirements of the individual customer.</p>
                    
                                                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="section_37__img-cont position-relative  d-flex justify-content-end align-self-md-end d-lg-none">
                            <img src="./assets/img/pages/pn-rr-app/pn-rr-app.jpg" alt="Phenolic Novolac And Resol Resins Applications" class="section_37__image position-relative">
                        </div>
                        <h2 class="block_4__header section_37__header-line position-relative mb-4 text-start mt-5 mt-lg-0 d-md-none align-self-start">Phenolic Molding <span class='text-blue-1 font-normal'>Compounds</span></h2>
                    
                        <div class="accordion accordion-flush section_37_accordion d-md-none mt-5 col-12" id="oil-accordion-nav">
                            <div class="row ">
        
                                <div class="acc__item-wrap col-12 px-0">
                                    <div class="accordion-item ">
                                        <h2 class="accordion-header border-bottom border-7 border-yellow-1" id="acc-nav__header-1">
                                            <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-white-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-nav__body-1" aria-expanded="true" aria-controls="acc-nav__body-1">
                                                <h3 class="accordion-header d-block mb-0 text-uppercase text-blue-1">Phenolic Molding Compounds</h3> 
                                            </button>
                                        </h2>
                                        <div id="acc-nav__body-1" class="accordion-collapse collapse" aria-labelledby="acc-nav__header-1" data-bs-parent="">
                                            <div class="accordion-body pt-2 pb-0">
                                                <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Phenolic Novolac & Resol Resins Main Page</h3>
                                                </a>                                                
                                                <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Novolac Resins</h3>
                                                </a>
                                                <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Resol Resins</h3>
                                                </a>
                                                <a href="#" class="section_28__left__link text-decoration-none mt-4 d-flex">
                                                    <h3 class="text-blue-1 mb-0">Resources</h3>
                                                </a>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>





    


    <div class="row section_107_bg h-100 p-0 m-0 overline-r overline_mob-r"> 
        <div class="section_107 col-12 px-0 d-flex align-items-start align-items-md-center pt-5 pb-4 pb-lg-5">
            <div class="container cont-site section_107__content col-md-12 d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center mt-3 mt-md-0">
                <div class="section_107__left col-lg-8 position-relative">
                    <h1 class="section_107__header text-center text-lg-start text-blue-l3 mb-0">Learn More</h1>
                    <p class="section_107__text text-center text-lg-start text-white-1 mb-0 pe-lg-4">About Phenolic Novolac and Resol Resin Applications</p>
                </div>
                <div class="section_107__right col-lg-4  position-relative align-self-center align-self-lg-end">
                    <a class="btn btn-yellow-1 section_107__button ms-0 mt-4 mt-lg-0">Contact Plenco</a>
                </div>
            </div>
        </div>
    </div>

    


    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}

{% block scripts %}
    <script src='./assets/js/questions.js'></script>
{% endblock %}