{% extends "../_layout.twig" %}
{% set pageTitle = 'Series 05000 Graphite Lubricated Phenolic Materials' %}
{% set pageClass = 'body_series-05000' %}

{% set page_series_05000 = {
    heading: {
        heading_top_text: "Graphite Lubricated <br>Phenolic Materials",
        bg_img: "./assets/img/pages/series-05000/heading.jpg",
        class: "",
        heading_top_subheader: "Plenco’s 05000 Series"
    },
    nav_side: {
        visible: false
    }
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig'  with {data: page_series_05000.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_series_05000.heading} %}
    

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">Plenco 05000 materials are generally mineral and graphite reinforced two-stage phenolic molding materials. Some formulations utilize organic fibers for <span class='text-blue-l2'>enhanced toughness or PTFE for additional lubrication</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>
    
    <div class="row section_31_bg overflow-hidden bg-blue-l1">
        <div class="col px-0">
            <div class="container cont-site section_31 col-12 d-flex flex-column ">
                <h2 class="section_31__header mb-0">Series 05000 <span class="text-blue-1">Products</span></h2>


                <div class="accordion accordion-flush section_31_accordion mt-4 mx-n2" id="s5000__accordion-1">
                    <div class="accordion-cont col-12 col-md-6 col-lg-4 px-2">

                        <div class="acc__item-wrap col">
                            <div class="accordion-item h-100 bg-transparent">
                                <h2 class="accordion-header" id="acc-1__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-1" aria-expanded="true" aria-controls="acc-1__body-1">
                                        <p class="d-block text_add-2 mb-0 ms-4 text-uppercase text-blue-l3">05100 Products</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-1" class="acc-body accordion-collapse collapse show" aria-labelledby="acc-1__header-1" data-bs-parent="">
                                    <div class="accordion-body px-0 py-0">
                                        <div class="accordion__items-wrap row row-cols-sm-1 mx-n2 g-3 d-flex flex-row align-items-stretch">                                            
                                            <div class="accordion__item-wrap mt-3">
                                                <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center h-100 position-relative">
                                                    <span class="text_add-2 text-blue-1 text-uppercase mb-0">05118 Two-Stage Phenolic</span>
                                                    <div class="accordion__item__download d-flex align-items-center mt-3">
                                                        <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                    </div>
                                                    <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                    <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                    <div class="d-flex flex-column flex-md-row flex-wrap">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Compression</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Transfer</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Injection</span>
                                                    </div> 
                                                    <a href="link_document.html" class="stretched-link"></a>                                                       
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="accordion accordion-flush section_31_accordion mt-4 mt-md-5" id="s5000__accordion-2">
                    <div class="accordion-cont col-12 col-lg-8">

                        <div class="acc__item-wrap col">
                            <div class="accordion-item h-100 bg-transparent">
                                <h2 class="accordion-header" id="acc-2__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-2__body-1" aria-expanded="true" aria-controls="acc-2__body-1">
                                        <p class="d-block text_add-2 mb-0 ms-4 text-uppercase text-blue-l3">05300 Products</p> 
                                    </button>
                                </h2>
                                <div id="acc-2__body-1" class="acc-body accordion-collapse collapse show" aria-labelledby="acc-2__header-1" data-bs-parent="">
                                    <div class="accordion-body px-0 py-0">
                                        <div class="accordion__items-wrap row row-cols-sm-2 mx-n2 g-3 align-items-stretch">
                                            
                                            <div class="accordion__item-wrap mt-3">
                                                <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center h-100 position-relative">
                                                    <span class="text_add-2 text-blue-1 text-uppercase mb-0">05350 Two-Stage Phenolic</span>
                                                    <div class="accordion__item__download d-flex align-items-center mt-3">
                                                        <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                    </div>
                                                    <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                    <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                    <div class="d-flex flex-column flex-md-row flex-wrap">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Compression</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Injection</span>
                                                    </div> 
                                                    <a href="link_document.html" class="stretched-link"></a>
                                                </div>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center h-100 position-relative">
                                                    <span class="text_add-2 text-blue-1 text-uppercase mb-0">05351 Two-Stage Phenolic</span>
                                                    <div class="accordion__item__download d-flex align-items-center mt-3">
                                                        <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                    </div>
                                                    <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                    <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                    <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Injection</span>
                                                    <a href="link_document.html" class="stretched-link"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion accordion-flush section_31_accordion mt-4 mt-md-5" id="s5000__accordion-3">
                    <div class="accordion-cont col-12 col-lg-8">

                        <div class="acc__item-wrap col">
                            <div class="accordion-item h-100 bg-transparent">
                                <h2 class="accordion-header" id="acc-3__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-3__body-1" aria-expanded="true" aria-controls="acc-3__body-1">
                                        <p class="d-block text_add-2 mb-0 ms-4 text-uppercase text-blue-l3">05400 Products</p> 
                                    </button>
                                </h2>
                                <div id="acc-3__body-1" class="acc-body accordion-collapse collapse show" aria-labelledby="acc-3__header-1" data-bs-parent="">
                                    <div class="accordion-body px-0 py-0">
                                        <div class="accordion__items-wrap row row-cols-sm-2 row-cols-lg-2 mx-n2 g-3 align-items-stretch">
                                            
                                            <div class="accordion__item-wrap mt-3">
                                                <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center h-100 position-relative">
                                                    <span class="text_add-2 text-blue-1 text-uppercase mb-0">05482 Two-Stage Phenolic</span>
                                                    <div class="accordion__item__download d-flex align-items-center mt-3">
                                                        <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                    </div>
                                                    <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                    <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                    <div class="d-flex flex-column flex-md-row flex-wrap">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Transfer</span>
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Injection</span>
                                                    </div>
                                                    <a href="link_document.html" class="stretched-link"></a>
                                                </div>
                                            </div>

                                            <div class="accordion__item-wrap mt-3">
                                                <div class="accordion__item bg-white-1 px-3 py-4 d-flex flex-column justify-content-center h-100 position-relative">
                                                    <span class="text_add-2 text-blue-1 text-uppercase mb-0">05488 Two-Stage Phenolic</span>
                                                    <div class="accordion__item__download d-flex align-items-center mt-3">
                                                        <img src="./assets/img/svg/icon_pdf.svg" class="h-100 me-2" alt="">
                                                        <span class="accordion__item__download-text text-black-1 text-decoration-underline">Safety Data Sheet (SDS)</span>
                                                    </div>
                                                    <div class="accordion__item__line h-0 w-50 border-bottom border-1 border-yellow-1 mt-3"></div>
                                                    <span class="accordion__item__method-name text-grey-4 text-uppercase mb-0 mt-2">Molding Method</span>
                                                    <span class="accordion__item__download-text text-black-1 text-decoration-underline mb-0 mt-2 me-4">Injection</span>
                                                    <a href="link_document.html" class="stretched-link"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row section_32_bg position-relative d-flex align-items-center">
        <img src="./assets/img/svg/section_32__bg.svg" alt="" class="section_32__bg-img position-absolute  d-none d-md-block">
        <img src="./assets/img/svg/section_32__bg_mob.svg" alt="" class="section_32__bg-img_mob position-absolute d-md-none">
        <div class="col px-0">
            <div class="container cont-site section_32 d-flex flex-column-reverse flex-md-row align-items-center">
                <div class="section_32_left col-12 col-md-6 pe-0 pe-md-5">
                    <h2 class="section_32__header mb-0 mt-5 mt-md-0 pt-3 pt-md-0">Plenco’s 05000 <span class="text-blue-1">Series</span></h2>
                    <p class="text_add mt-4 mb-0">Plenco 05000 materials are generally mineral and graphite reinforced two-stage phenolic molding materials. Some
                        formulations utilize organic fibers for enhanced toughness or PTFE for additional lubrication.</p>
                    <p class="text_add mt-4 mb-0">05000 products were developed to provide a low coefficient of friction and very low wear rates for dynamic assemblies. Independent testing shows average COFs to be 0.133 to 0.175 (Pin on Disc Method).</p>
                    <p class="text_add mt-4 mb-0">Plenco 05000 products are available in multiple flow grades for optimized injection, transfer and compression molding.(Plenco 05000 Series Overview text)</p>
                </div>
                <div class="section_32_right col-12 col-md-6">
                    <img src="./assets/img/pages/series-05000/5000-series.jpg"  alt="Plenco’s 05000 Series" class="section_32__image position-relative">
                </div>
            </div>
        </div>
    </div>


    <div class="row section_27_bg bg-grey-2">
        <div class="col px-0">
            <div class="container cont-site section_27 d-flex flex-column justify-content-center">
                <h2 class="section_27__header text-start mb-0">Series 05000 <span class="text-blue-1">Applications</span></h2>
                <p class="text_main mb-0 mt-4">While some thermoplastics are capable of delivering a good, wear resistant surface, Plenco 05000 materials are
                        uniquely suited to delivering the most consistent physical properties, friction coefficient and wear properties across
                        a range of temperatures and under high PV conditions. Furthermore, they are highly resistant to numerous chemicals that can soften or degrade some thermoplastics.</p>
                <p class="text_add mb-0 mt-4">Plenco 05000 materials have been specified in water and hydrocarbon pumping and metering applications for commercial and consumer appliance
                        and automotive industries.</p>
                <p class="text_add mb-0 mt-4">Their thermoset structure makes them well suited for lapping to close tolerances and surface finish requirements. For that reason they are specified
                        in gaseous product metering and medical applications.</p>
                <p class="text_add mb-0 mt-4">05000 materials can be used for static dissipation, but are not recommended for electrical insulation applications. (Plenco 05000 Series Overview text)</p>


                <div class="block_6 position-relative bg-white-1 d-flex flex-column justify-content-between py-3 col-12 col-sm-7 col-md-5 col-lg-4 mt-5">
                    
                    <div class="block_6__header d-flex align-items-center px-4 flex-grow-1">
                        <p class="block_6__text mb-0 text-black-1 pe-4">Example</p>
                    </div>
                    <div class="block_6__line h-0 w-50 border-bottom border-1 border-blue-l2 ms-4"></div>
                    <div class="block_6__links mt-2 ps-4 pe-5">
                        <div class="block_6__link text-decoration-none">
                            <h3 class="mb-0 text-blue-1 d-inline-block text-uppercase">Example</h3>
                        </div> 
                        <div class="btn button_arrow_45_r bg-yellow-1 block_6__button position-absolute bottom-0 end-0"></div>
                    </div>
                    <a href="news-blog-detail.html" class="stretched-link"></a>
                </div>  
            </div>
        </div>
    </div>




    <div class="row section_23_bg overflow-hidden px-0">
        <div class="section_23 col px-0">
            <div class="container cont-site">
                <h2 class="section_23__header mb-0">Typical Data Sheet <span class="text-blue-1">Property Ranges*</span></h2>
                <h3 class="text-blue-1 mt-3 mt-md-2 mb-0">Plenco 05000 Series</h3>
                <div class="section_23__blocks-cont border-start border-20 border-blue-1 mt-4 mt-md-5 pt-2 pb-4">
                    
                    <div class="section_23__table position-relative">
                        <div class="section_23_dt d-none d-md-block">
                            <div class="row section_23__table__hero ms-n2">
                                <div class="section_23__block col-md-5 col-lg-4 col-xl-3 position-relative bg-grey-2 py-1 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Property</span>
                                </div>
                                <div class="section_23__block col-md-4 col-lg-3 col-xl-2 position-relative bg-yellow-1 py-10 px-3 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">English</span>
                                </div>
                                <div class="section_23__block col-md-3 col-lg-3 col-xl-2 position-relative bg-blue-l3 py-10 px-3 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">ASTM Method</span>
                                </div>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add extrabold col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-2 pe-3">Form</p>
                                <p class="section_23__table__text text_add extrabold col-md-4 col-lg-3 col-xl-2 mb-0 ms-0 px-0 mt-2 pe-3">Granular</p>
                                <p class="section_23__table__text text_add extrabold col-md-3 col-lg-3 col-xl-2 mb-0 ms-0 px-0 mt-2"></p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-2 pe-3">Apparent Density (lb/ft3)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-2 pe-3">40.7 - 56.9</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-2">D1895</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Specific Gravity</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">1.43 - 1.83</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D792</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Mold Shrinkage</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.001 - 0.0086**</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D955</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Post Shrink</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.04% - 0.30%</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D1299</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Izod Impact-notched (ft*lb/in)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.28 - 0.31</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D256</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Charpy Impact-notched (ft*lb/in)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.27 - 0.36</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D256</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Tensile Strength (psi)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">4,600 - 9,200</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D638</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Tensile Modulus (msi)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">1.1 - 2.2</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D638</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Tensile Elongation (%)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.26 - 0.94</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D638</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Flexural Strength (psi)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">8,100 - 13,900</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D790</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Flexural Modulus (msi)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">1.1 - 2.0</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D790</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Compressive Strength (psi)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">17,800 - 31,100</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D695</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Rockwell Hardness (E scale)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">59 - 111</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D785</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Heat Resistance (°F)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">390 - 486</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D794</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Heat Deflection - 1.82MPa (°F)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">316 - 383</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D648</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Water Absorption (%)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.03 - 0.31</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D570</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Dielectric Strength - ST (V/mil)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0 - 230</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D149</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Comparative Tracking Index (V)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">175 - 300</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D3638</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">ASTM Arc Resistance (sec)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">20 - 140</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1">D495</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">UL Flammability (@1.47mm)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">HB</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1 ">UL94</p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">CTE by TMA - 40°C to 130°C (/°F)</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">3.2 E-05 - 5.2 E-05</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1"></p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Thermal Conductivity @ 212°F</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-auto mb-0 px-0 mt-1 pe-3">0.24 - 0.76 (Btu/hr/ft/°F)</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1"></p>
                            </div>
                            <div class="row ms-3 me-n3 pe-3">
                                <p class="section_23__table__text text_add col-md-5 col-lg-4 col-xl-3 mb-0 px-0 mt-1 pe-3">Poisson’s Ratio in Tension</p>
                                <p class="section_23__table__text text_add col-md-4 col-lg-3 col-xl-2 mb-0 px-0 mt-1 pe-3">0.32 - 0.35</p>
                                <p class="section_23__table__text text_add col-md-3 col-lg-3 col-xl-2 mb-0 px-0 mt-1"></p>
                            </div>

                        </div>







                        <div class="accordion accordion-flush section_23_accordion d-md-none" id="s5000__accordion-props">
                            <div class="accordion-item">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-1" aria-expanded="true" aria-controls="acc-props__body-1">
                                        <p class="d-block mb-0 ms-4">Apparent Density (lb/ft3)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-1" class="accordion-collapse collapse show ps-3" aria-labelledby="acc-props__header-1" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">40.7 - 56.9</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D1895</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-2">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-2" aria-expanded="true" aria-controls="acc-props__body-2">
                                        <p class="d-block mb-0 ms-4">Specific Gravity</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-2" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-2" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">1.43 - 1.83</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D792</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-3">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-3" aria-expanded="true" aria-controls="acc-props__body-3">
                                        <p class="d-block mb-0 ms-4">Mold Shrinkage</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-3" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-3" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.001 - 0.0086**</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D955</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-4">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-4" aria-expanded="true" aria-controls="acc-props__body-4">
                                        <p class="d-block mb-0 ms-4">Post Shrink</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-4" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-4" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.04% - 0.30%</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D1299</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-5">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-5" aria-expanded="true" aria-controls="acc-props__body-5">
                                        <p class="d-block mb-0 ms-4">Izod Impact-notched (ft*lb/in)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-5" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-5" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.28 - 0.31</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D256</p>
                                    </div>
                                </div>
                            </div>





                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-6">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-6" aria-expanded="true" aria-controls="acc-props__body-6">
                                        <p class="d-block mb-0 ms-4">Charpy Impact-notched (ft*lb/in)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-6" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-6" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.27 - 0.36</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D256</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-7">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-7" aria-expanded="true" aria-controls="acc-props__body-7">
                                        <p class="d-block mb-0 ms-4">Tensile Strength (psi)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-7" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-7" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">4,600 - 9,200</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D638</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-8">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-8" aria-expanded="true" aria-controls="acc-props__body-8">
                                        <p class="d-block mb-0 ms-4">Tensile Modulus (msi)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-8" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-8" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">1.1 - 2.2</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D638</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-9">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-9" aria-expanded="true" aria-controls="acc-props__body-9">
                                        <p class="d-block mb-0 ms-4">Tensile Elongation (%)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-9" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-9" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.26 - 0.94</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D638</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-10">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-10" aria-expanded="true" aria-controls="acc-props__body-10">
                                        <p class="d-block mb-0 ms-4">Flexural Strength (psi)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-10" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-10" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">8,100 - 13,900</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D790</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-11">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-11" aria-expanded="true" aria-controls="acc-props__body-11">
                                        <p class="d-block mb-0 ms-4">Flexural Modulus (msi)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-11" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-11" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">1.1 - 2.0</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D790</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-12">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-12" aria-expanded="true" aria-controls="acc-props__body-12">
                                        <p class="d-block mb-0 ms-4">Compressive Strength (psi)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-12" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-12" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">17,800 - 31,100</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D695</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-13">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-13" aria-expanded="true" aria-controls="acc-props__body-13">
                                        <p class="d-block mb-0 ms-4">Rockwell Hardness (E scale)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-13" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-13" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">59 - 111</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D785</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-14">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-14" aria-expanded="true" aria-controls="acc-props__body-14">
                                        <p class="d-block mb-0 ms-4">Heat Resistance (°F)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-14" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-14" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">390 - 486</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D794</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-15">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-15" aria-expanded="true" aria-controls="acc-props__body-15">
                                        <p class="d-block mb-0 ms-4">Heat Deflection - 1.82MPa (°F)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-15" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-15" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">316 - 383</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D648</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-16">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-16" aria-expanded="true" aria-controls="acc-props__body-16">
                                        <p class="d-block mb-0 ms-4">Water Absorption (%)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-16" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-16" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.03 - 0.31</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D570</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-17">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-17" aria-expanded="true" aria-controls="acc-props__body-17">
                                        <p class="d-block mb-0 ms-4">Dielectric Strength - ST (V/mil)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-17" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-17" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0 - 230</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D149</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-18">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-18" aria-expanded="true" aria-controls="acc-props__body-18">
                                        <p class="d-block mb-0 ms-4">Comparative Tracking Index (V)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-18" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-18" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">175 - 300</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D3638</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-19">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-19" aria-expanded="true" aria-controls="acc-props__body-19">
                                        <p class="d-block mb-0 ms-4">ASTM Arc Resistance (sec)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-19" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-19" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">20 - 140</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">D495</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-20">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-20" aria-expanded="true" aria-controls="acc-props__body-20">
                                        <p class="d-block mb-0 ms-4">UL Flammability (@1.47mm)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-20" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-20" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">HB</p>
                                        <p class="accordion__text-3 text-uppercase mb-0 mt-3">ASTM Method</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">UL94</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-21">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-21" aria-expanded="true" aria-controls="acc-props__body-21">
                                        <p class="d-block mb-0 ms-4 pe-1">CTE by TMA - 40°C to 130°C (/°F)</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-21" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-21" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">3.2 E-05 - 5.2 E-05</p>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-22">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-22" aria-expanded="true" aria-controls="acc-props__body-22">
                                        <p class="d-block mb-0 ms-4">Thermal Conductivity @ 212°F</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-22" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-22" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.24 - 0.76 (Btu/hr/ft/°F)</p>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header ms-n2" id="acc-props__header-23">
                                    <button class="accordion-button d-flex collapsed align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-props__body-23" aria-expanded="true" aria-controls="acc-props__body-23">
                                        <p class="d-block mb-0 ms-4">Poisson’s Ratio in Tension</p> 
                                    </button>
                                </h2>
                                <div id="acc-props__body-23" class="accordion-collapse collapse ps-3" aria-labelledby="acc-props__header-23" data-bs-parent="#s8000__accordion-props">
                                    <div class="accordion-body py-2">
                                        <p class="accordion__text-3 text-uppercase mb-0">English/Granular</p>
                                        <p class="accordion__text-3 text_add text-black-1 mb-0">0.32 - 0.35</p>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>


                <p class="section_23__add-text mb-0 mt-4 mt-md-5">*Properties listed above are the range of properties available from Plenco 
                    material data sheets. The range was taken from injection, compression and transfer molded sample data as available on 
                    www.plenco.com.</p>
                <p class="section_23__add-text text-black-1 mb-0 mt-4">** Mold shrinkage values are generated under controlled 
                    laboratory conditions. Values provided above are for reference only and should not be used alone to design or build 
                    molds.</p>
                    
            </div>
        </div>
    </div>






    <div class="row section_107_bg h-100 p-0 m-0 overline-r overline_mob-r"> 
        <div class="section_107 col-12 px-0 d-flex align-items-start align-items-md-center pt-5 pb-4 pb-lg-5">
            <div class="container cont-site section_107__content col-md-12 d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center mt-3 mt-md-0">
                    <div class="section_107__left col-auto position-relative">
                        <h1 class="section_107__header text-center text-lg-start text-blue-l3 mb-0">Learn More</h1>
                        <p class="section_107__text text-center text-lg-start text-white-1 mb-0"><span class="d-none d-md-inline">About </span>Plenco 05000 Series</p>
                    </div>
                    <div class="section_107__right col-auto position-relative align-self-center align-self-lg-end">
                        <a type="button" class="btn btn-yellow-1 section_107__button ms-0 ms-md-4 mt-4 mt-lg-0 navbtn" data-navbtn="contact_modal">Contact Plenco</a>
                    </div>
            </div>
        </div>
    </div>





{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}