{% extends "../_layout.twig" %}
{% set pageTitle = 'Storage of Thermoset Materials' %}
{% set pageClass = 'body_storage-therm-materials' %}

{% set page_storage_therm_materials = {
    heading: {
        heading_top_text: "Storage of Thermoset Materials",        
        bg_img: "./assets/img/pages/storage-therm-materials/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    },
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_storage_therm_materials.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_storage_therm_materials.heading} %}

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">The proper storage of thermoset materials is <span class='text-blue-l2'>key to maintaining optimum processability</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>

    <div class="row section_23_bg overflow-hidden px-0">
        <div class="section_23 col px-0 mb-0">
            <div class="container cont-site">
                <h2 class="section_23__header mb-0">Storage of <span class="text-blue-1">Thermoset Materials </span></h2>
                <p class="section_23__subheader text_main text-black-1 mb-0 mt-4">Thermoset materials have a theoretical shelf life as determined by standardized laboratory measurements. Shelf life is affected by ambient temperature and is also dependent on the parameters and latitude of the molding process, along with tool and part design. As a result, actual shelf life may vary, perhaps significantly, from the theoretical shelf life for the material. Change in flow characteristics during the storage of material does not occur suddenly, but gradually over a period of time.</p>
                <p class="section_23__subheader text_add text-black-1 mb-0 mt-4">Plenco thermoset materials should always be stored in a clean, dry environment to minimize an increased or decreased moisture content. Store in the unopened original containers until ready for use. Opened containers should be re-sealed to prevent the gain or loss of moisture or other volatiles, which will adversely affect processing. Opened paper bags should be placed inside a re-sealable plastic liner.</p>
                <p class="section_23__subheader text_add text-black-1 mb-0 mt-4 pb-0">When Plenco thermoset material is stored below 18° C (65° F), it should be allowed to warm to 18° C (65° F) to avoid molding or preforming problems. Cold material might take several days for the entire package to reach 18° C (65° F). Preforms of Plenco material should be stored in a sealed container with a re-sealable plastic liner, to prevent the preforms from gaining or losing moisture.</p>



                <p class="section_23__subheader text_add text-black-1 mb-0 mt-4 pb-0 pt-md-4" style="font-family: 'Mulish-800'; line-height: 22px;">The theoretical shelf life of Plenco stored in a relatively dry area has been determined to be:</p>




                <div class="section_23__blocks-cont border-start border-20 border-blue-1 mt-3 pt-3 mb-0 pb-3">
                    
                    <div class="section_23__table position-relative">
                        <div class="section_23_dt d-none d-md-block">
                            <div class="row section_23__table__hero ms-n2">
                                <div class="section_23__block col-4 col-lg-4 position-relative bg-grey-2 py-1 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Material</span>
                                </div>
                                <div class="section_23__block col-4 col-lg-4 position-relative bg-yellow-1 py-10 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Shelf Life</span>
                                </div>
                                <div class="section_23__block col-4 col-lg-4 position-relative bg-blue-l3 py-10 px-4 d-flex align-items-center">
                                    <span class="section_23__table__header mb-0">Storage Temperature</span>
                                </div>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4  mb-0 ms-4 px-0 mt-2">Single Stage Phenolic</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">6 months*</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 30°C (86°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4 mb-0 ms-4 px-0 mt-2">Two Stage Phenolic</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">2 years or more</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 30°C (86°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4 mb-0 ms-4 px-0 mt-2">Melamine-Phenolic</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">9 months*</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 30°C (86°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4  mb-0 ms-4 px-0 mt-2">Granular Polyester</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">2 years</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 30°C (86°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4  mb-0 ms-4 px-0 mt-2">Black BMC</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">1 month</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 21°C (70°F)</p>
                            </div>
                            <div class="row">
                                <p class="section_23__table__text text_add col col-lg-4  mb-0 ms-4 px-0 mt-2">Colored BMC</p>
                                <p class="section_23__table__text text_add col mb-0 ms-3 ms-lg-0 px-0 mt-2">2 months</p>
                                <p class="section_23__table__text text_add col mb-0 ms-4 px-0 mt-2">Less than 21°C (70°F)</p>
                            </div>
                        </div>




                        <div class="accordion accordion-flush section_23_accordion d-md-none" id="storage__accordion-1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="acc-1__header-1">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-1" aria-expanded="true" aria-controls="acc-1__body-1">
                                        <p class="d-block mb-0 ms-4">Single Stage Phenolic</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-1" class="accordion-collapse collapse show" aria-labelledby="acc-1__header-1" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">6 months*</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 30°C (86°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-2">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-2" aria-expanded="true" aria-controls="acc-1__body-2">
                                        <p class="d-block mb-0 ms-4">Two Stage Phenolic</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-2" class="accordion-collapse collapse" aria-labelledby="acc-1__header-2" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">2 years or more</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 30°C (86°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-3">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-3" aria-expanded="true" aria-controls="acc-1__body-3">
                                        <p class="d-block mb-0 ms-4">Melamine-Phenolic</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-3" class="accordion-collapse collapse" aria-labelledby="acc-1__header-3" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">9 months*</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 30°C (86°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-4">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-4" aria-expanded="true" aria-controls="acc-1__body-4">
                                        <p class="d-block mb-0 ms-4">Granular Polyester</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-4" class="accordion-collapse collapse" aria-labelledby="acc-1__header-4" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">2 years</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 30°C (86°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-5">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-5" aria-expanded="true" aria-controls="acc-1__body-5">
                                        <p class="d-block mb-0 ms-4">Black BMC</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-5" class="accordion-collapse collapse" aria-labelledby="acc-1__header-5" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">1 month</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 21°C (70°F)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header" id="acc-1__header-6">
                                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-6" aria-expanded="true" aria-controls="acc-1__body-6">
                                        <p class="d-block mb-0 ms-4">Colored BMC</p> 
                                    </button>
                                </h2>
                                <div id="acc-1__body-6" class="accordion-collapse collapse" aria-labelledby="acc-1__header-6" data-bs-parent="#storage__accordion-1">
                                    <div class="accordion-body ms-4 pb-2">
                                        <p class="accordion__text-1 text-grey-1 text-uppercase mb-0">Suggested Press Settings</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">2 months</p>
                                        <p class="accordion__text-2 text_add text-black-1 mb-0 mt-2">Less than 21°C (70°F)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                
                    
            </div>
        </div>
    </div>



    



    <div class="row section_25_bg overflow-hidden px-0">
        <div class="section_25 px-0">
            <div class="container cont-site">
                <div class="section_25__content mt-0 mt-md-5 mb-5 pt-4 pb-3">
                    <p class="section_25__text mb-0">* The theoretical shelf life of Single Stage Phenolic and Melamine-Phenolic molding materials may be increased by storing at less than 18° C (65° F). This information is suggested as a guide to those interested in processing Plenco Thermoset molding materials. The information presented is for your evaluation and may or may not be compatible for all mold designs, press configurations, and material rheology. Please feel free to call Plenco with any questions about Plenco molding materials or processing and a Technical Service Representative will assist you.</p>
                </div>
            </div>
        </div>
    </div>

{% include '../components/sections/section_21.twig'  %}
{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}