{% extends "../_layout.twig" %}
{% set pageTitle = 'Technical Service - News/Blog Detail Page' %}
{% set pageClass = 'body_tech-service-news-detail' %}

{% set page_tech_service_news_detail = {
    heading: {
        heading_top_text: "Technical Service",
        bg_img: "./assets/img/pages/technical-service/heading.jpg",
        class: "page_tech_service_news_detail"
    },
    nav_side: {
        visible: false
    },
  

}
%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_tech_service_news_detail.nav_side} %}
   


    <div class="row section_heading_bottom bg-blue-3 {{ page_technical_service_nb_detail_1.heading.class }}" style="{{ page_technical_service_nb_detail_1.heading.style }}">
        <div class="col px-0">
            <div class="container cont-site section_heading_bottom__content d-flex flex-column justify-content-center h-100">
                <div class="h1 text-white-1 mb-0">Plenco Assists Black & Decker™ with New Product Line </div>
                <div class="text_heading_add pt-4 text-white-1" style="font-size: 14px;"> November 01, 2021 at 2:55 PM CST</div>
            </div>
        </div>
    </div>




    <div class="row section_108_bg position-relative bg-grey-3">
        <div class="container cont-site">
            <div class="section_108 overflow-hidden bg-white-1 ">
                <div class="section_108__content col-12 px-4 px-md-0 col-md-9 mx-auto">
                    <h2 class="mb-0">Technical Service, Tooling and Material Engineering Supports Quickpress Iron</h2>
                    <p class="text_main mt-2 mt-md-5 mb-0">SHEBOYGAN, Wisconsin – (November 01, 2021) – Black and Decker™ was in 
                        the process of developing and launching a new steam iron into the electric iron market. </p>
                    <p class="text_add mt-4 mb-0">The Engineering Manager of Black & Decker contacted Plastics Engineering Company 
                        (Plenco) to assist them with various production issues that they encountered using a competitor’s material. 
                        It was decided to bring the new steam iron tool into Plenco’s technical molding facility where it was evaluated 
                        and found to have incorporated many thermoplastic design characteristics. With four additional tools in que 
                        to be built due to the large anticipated volume for the new model, time was of critical importance.</p>
                    <p class="text_add mt-4 mb-0">Plenco’s Technical Service Engineers reviewed the tool and CAD models, and a plan 
                        was quickly communicated to Black and Decker’s engineering team. The current tool being built from stainless 
                        steel presented issues where the welding, machining and blending of twelve vents was required to yield 
                        well-molded parts. Knowing the price sensitivity of this project, Plenco’s Tool Room built and installed a 
                        new center block with a reduced size runner system, installed a 7/32” sprue bushing and machined three vents 
                        at the end of the cavity.  Thermocouple holes were drilled into four strategic locations and optimum sized 
                        heating rods were installed.</p>             
                    <img src="./assets/img/pages/tech-service-news-detail/img-1.jpg" alt="Img-1" class="col-12 mt-5">
                    <p class="text_spec mt-4 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod </p>
                    <p class="text_add mt-5 mb-0">While the tool work was being performed, Plenco’s Materials Engineering Lab 
                        formulated Plenco 07466 black, a flock reinforced, two-stage phenolic molding compound.</p>
                    <p class="text_quote_add text-center text-blue-3 mt-5">Plenco 07466 black proved to be capable of meeting the 
                        impact and moisture resistance Black & Decker required.</p>
                    <p class="text_add mt-5 mb-0">Plenco’s extensive processing knowledge was put to the test to engineer a robust 
                        process with a four-cavity tool requiring a 42-second clamp-to-clamp cycle.  The process required:</p>
                    <ul class="ul_3 mt-3 ps-4">
                        <li class="ul_3__text mt-1">Breathing the mold during primary injection to eliminate a gas burn on the water supply nipple</li>
                        <li class="ul_3__text mt-1">Maintaining minimal die opening to avoid thick parting line</li>
                        <li class="ul_3__text mt-1">Yielding a part with no breathe marks on the visible portion of the iron skirt</li>
                    </ul>
                    <p class="text_add mt-5 mb-0">The results of support, experience and effort that Plenco’s technical team put forth 
                        was a complete success.  Black and Decker built the four additional tools incorporating all of the design 
                        suggestions and experienced great success in the molding and sales of millions of steam irons.</p>
        

                         
                    <div id="carousel_tsnd" class="carousel slide mt-5 mx-n4" data-bs-ride="carousel">
                        <div class="carousel-inner col-12">

                            <div class="carousel-item active" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-1.jpg" class="card-img-top" alt="1">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-2.jpg" class="card-img-top" alt="2">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-3.jpg" class="card-img-top" alt="3">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-4.jpg" class="card-img-top" alt="4">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-5.jpg" class="card-img-top" alt="5">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-obj="carousel-item">
                                <div class="card mx-4 border-0">
                                    <img src="./assets/img/pages/news-blog-detail/carousel-6.jpg" class="card-img-top" alt="6">
                                    <div class="card-body pt-4">
                                      <p class="card-text text_spec">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel_tsnd__controls d-flex justify-content-between mx-auto position-absolute">
                            <button class="carousel-control-prev opacity-100 position-relative w-auto" type="button" data-bs-target="#carousel_tsnd" data-bs-slide="prev">
                                <img src="./assets/img/svg/button_60__arrow-right.svg" class="caruosel__button_prev" alt="NEXT">
                            </button>
                            <button class="carousel-control-next opacity-100 position-relative w-auto" type="button" data-bs-target="#carousel_tsnd" data-bs-slide="next">
                                <img src="./assets/img/svg/button_60__arrow-right.svg" class="caruosel__button_next" alt="NEXT">
                            </button>
                        </div>
                    </div>





        
                    <div class="section_108__tags d-flex flex-wrap mx-n2 mt-5 pt-4 col-12">
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">Technical Service</p>
                                </div>
                            </div>
                        </div>
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">Plenco 07000 Series</p>
                                </div>
                            </div>
                        </div>
                        <div class="block_tag_1-wrap px-2 py-1">
                            <div class="text-decoration-none"> 
                                <div class="block_tag_1 px-3 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                    <p class="block_tag_1__text text-black-1 text-center mb-0">Tooling and Material Engineering Support</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
        
                    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mt-5">
                        <span class="text-decoration-none"><h3 class="text-blue-1 mb-0 ">Share article</h3></span>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_facebook_blue.svg" alt="facebook">
                            <p class="text_add_small mb-0 ps-2">Facebook</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_envelope_blue.svg" alt="email">
                            <p class="text_add_small mb-0 ps-2">Email Article</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center position-relative mt-4 mt-md-0 ms-md-5">                        
                            <img src="./assets/img/svg/icon_linkedin_blue.svg" alt="linkedin">
                            <p class="text_add_small mb-0 ps-2">LinkedIn</p>
                            <a href="#" class="stretched-link"></a>
                        </div> 
                    </div>
                
                </div> 
            </div>
        </div>
    </div>










    

    <div class="row section_30_bg overflow-hidden">
        <div class="container cont-site section_30 col-12 d-flex flex-column">
            <h2 class="section_30__header">Related <span class="text-blue-1">News</span> </h2>
            <div class="section_30__cards row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mx-n4 align-items-stretch pt-sm-0 pt-5">

                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Resources Example Heading Placeholder text text</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">White Paper</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="section_30__link text-blue-1 mt-3 mb-0">read article</h3>
                        </div> 
                        <a  class="stretched-link "></a>
                    </div>
                </div>

                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Resources Example Heading consetetur sadipscing elitr</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">Video</p>
                                    </div>
                                </div>
                            </div>
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">Resol Resin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="section_30__link text-blue-1 mt-3 mb-0">Watch Video</h3>
                        </div>
                        <a  class="stretched-link "></a>
                    </div>
                </div>


                <div class="section_30__card-wrap pt-5 pt-md-3">
                    <div class="section_30__card border-start border-7 border-yellow-1 px-3 d-flex flex-column justify-content-evenly h-100 py-5 py-sm-4 position-relative">
                        <p class="text_main mb-0 text-black-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        <div class="section_30__tags d-flex flex-wrap mx-n1 mt-3">
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    </div>
                                </div>
                            </div>
                            <div class="block_tag_1-wrap px-1 py-1">
                                <div class="text-decoration-none"> 
                                    <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
                                        <p class="block_tag_1__text text-black-1 text-center mb-0">tag</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div  class="section_37__left__link text-decoration-none mt-3 d-flex align-items-center">
                                <img src="./assets/img/svg/download_1.svg" alt="download" class="section_37__left__icon">
                                <h3 class="text-blue-1 mb-0 ms-2">DOWNLOAD PDF</h3>
                            </div>

                        </div>
                        <a  class="stretched-link "></a>
                    </div>
                </div>               

            </div>

            <a href="news-blog.html" class="section_30__button btn btn-yellow-1 section_37__button d-inline-flex col-12 col-sm-auto px-4 px-md-5 align-self-center">View all News</a>

        </div>
    </div>



{% endblock %}

     
{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}

{% block scripts %}
    <script src='./assets/js/carousel.js'></script>
{% endblock %}