{% extends "../_layout.twig" %}
{% set pageTitle = 'Terms & Conditions' %}
{% set pageClass = 'body_terms-conditions' %}

{% set page_terms_conditions = {
    heading: {
        heading_top_text: "Terms and Conditions",        
        bg_img: "./assets/img/pages/terms-conditions/heading.jpg",
        class: ""
    },
    nav_side: {
        visible: false
    },
    
}%}



{% block header %}
    {% include '../layouts/_header.twig' %}
{% endblock %}



{% block content %}
    {% include '../layouts/nav/_nav_side.twig' with {data: page_terms_conditions.nav_side} %}
    {% include '../components/sections/section_heading_top.twig' with {data: page_terms_conditions.heading} %}

    <div class="row section_heading_bottom bg-blue-3">
        <div class="col px-0">
            <div class="container cont-site d-flex flex-column justify-content-center h-100">
                <div>
                    <p class="text_heading_main text-white-1 mb-0">These terms and conditions outline the rules and regulations for the use of <span class='text-blue-l2'>Plenco’s website</span>.</p>
                </div> 
                <div>                     
                    <p class="text_heading_add pt-4 text-white-1"></p> 
                </div>                
            </div>
        </div>
    </div>



    <div class="section_101">
        <div>
            <h2>Website <span>Rules and Regulations </span></h2>                
            <div class="subheader">Plenco is located at:</div>
            <p>3518 Lakeshore Road, P.O. Box 758<br>Sheboygan, WI 53082-0758<br>U.S.A</p>
        </div> 
    </div>


    <div class="section_106">    
        <div>
            
            <div class="subheader">By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Plenco’s website if you do not accept all of the terms and conditions stated on this page.</div>                
            <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law of United States. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
    
            <h3>Cookies</h3>
            <p>We employ the use of cookies. By using Plenco’s website you consent to the use of cookies in accordance with Plenco’s privacy policy.</p>
            <p>Most of the modern-day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</p>
            
            <h3>License</h5>
            <p>Unless otherwise stated, Plenco and/or it’s licensors own the intellectual property rights for all material on Plenco. All intellectual property rights are reserved. You may view and/or print pages from https://plenco.com for your own personal use subject to restrictions set in these terms and conditions.</p>
            <p>You must not:</p>               
            <ul>
                <li>Republish material from https://plenco.com</li>
                <li>Sell, rent or sub-license material from https://plenco.com</li>
                <li>Reproduce, duplicate or copy material from https://plenco.com</li>
            </ul>
            <p>Redistribute content from Plenco (unless content is specifically made for redistribution).</p>

            <h3>Hyperlinking to our content</h5>
            <ol>
                <li> The following organizations may link to our Web site without prior written approval:
                    <ol>
                        <li>Government agencies; </li>
                        <li >Search engines; </li>
                        <li >News organizations; </li>
                        <li >Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and</li>
                        <li >Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site. </li>
                    </ol>
                </li>
                <li>These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</li>
                <li>We may consider and approve in our sole discretion other link requests from the following types of organizations:
                    <ol>
                        <li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American Automobile Association, AARP and Consumers Union; </li>
                        <li>dot.com community sites; </li>
                        <li >associations or other groups representing charities, including charity giving sites, </li>
                        <li >online directory distributors; </li>
                        <li >internet portals; </li>
                        <li >accounting, law and consulting firms whose primary clients are businesses; and</li>
                        <li >educational institutions and trade associations. </li>
                    </ol>
                </li>
            </ol>
            <p>We will approve link requests from these organizations if we determine that: (a) the link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink outweighs the absence of Plenco, and (d) where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.</p>
            <p>These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and it products or services; and (c) fits within the context of the linking party’s site.</p>
            <p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending an e-mail to info@plenco.com. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>
            <p>Approved organizations may hyperlink to our Web site as follows:</p>
            <ol>
                <ol>
                    <li >By use of our corporate name; or </li>
                    <li >By use of the uniform resource locator (Web address) being linked to; or </li>
                    <li >By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party’s site. </li>
                </ol>
            </ol>
            <p>No use of Plenco’s logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
            
            <h3 >Iframes</h5>
            <p>Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
            
            <h3>Reservation of Rights</h5>
            <p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>

            <h3>Removal of links from our website</h5>
            <p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>
            <p>Whilst we endeavor to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</p>
        
            <h3>Content Liability</h5>
            <p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

            <h3>Disclaimer</h5>
            <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
            <ol>
                <ol>
                    <li  >limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
                    <li  >limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                    <li  >limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                    <li  >exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                </ol>
            </ol>
            <p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph, and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
            <p>To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature. </p>
        </div> 






        <div class="container cont-site accordion accordion-flush section_106_accordion d-md-none bg-blue-l1 pb-4 pt-5" id="TC__accordion-1">
            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-1">
                    <button class="accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-1" aria-expanded="true" aria-controls="acc-1__body-1">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Cookies</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-1" class="accordion-collapse collapse show mb-5" aria-labelledby="acc-1__header-1" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">We employ the use of cookies. By using Plenco’s website you consent to the use of cookies in accordance with Plenco’s privacy policy.</p>
                        <p class="accordion__text-2 text_add_small text-black-1 p-4 mb-0">Most of the modern-day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</p>
                    </div>
                </div>
            </div>    

            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-2">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-2" aria-expanded="true" aria-controls="acc-1__body-2">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">License</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-2" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-2" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">Unless otherwise stated, Plenco and/or it’s licensors own the intellectual property rights for all material on Plenco. All intellectual property rights are reserved. You may view and/or print pages from https://plenco.com for your own personal use subject to restrictions set in these terms and conditions.</p>
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">You must not:</p>

                        <ul class="ul_3 mb-0 ps-4 pt-4">
                            <li class="ul_3__text text_add_small my-0 px-4 ">Republish material from https://plenco.com</li>
                            <li class="ul_3__text text_add_small my-0 px-4 pt-2">Sell, rent or sub-license material from https://plenco.com</li>
                            <li class="ul_3__text text_add_small my-0 px-4 pt-2">Reproduce, duplicate or copy material from https://plenco.com</li>
                        </ul>
                        <p class="accordion__text-2 text_add_small text-black-1 p-4 mb-0">Redistribute content from Plenco (unless content is specifically made for redistribution).</p>
                    </div>
                </div>
            </div>    

            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-3">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-3" aria-expanded="true" aria-controls="acc-1__body-3">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Hyperlinking to our content</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-3" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-3" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">We employ the use of cookies. By using Plenco’s website you consent to the use of cookies in accordance with Plenco’s privacy policy.</p>
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">Most of the modern-day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</p>
                    
                        <ol class="text_add_small text-left mb-0 ps-4 pt-4 ms-3">
                            <li class="text_add_small my-0 pe-4"> The following organizations may link to our Web site without prior written approval:
                                <ol class="text_add_small mb-0 ps-4 pt-3">
                                    <li >Government agencies; </li>
                                    <li class="pt-2">Search engines; </li>
                                    <li class="pt-2">News organizations; </li>
                                    <li class="pt-2">Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and</li>
                                    <li class="pt-2">Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site. </li>
                                </ol>
                            </li>
                            <li  class="text_add_small my-0 pe-4 pt-3">These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</li>
                            <li  class="text_add_small my-0 pe-4 pt-3">We may consider and approve in our sole discretion other link requests from the following types of organizations:
                                <ol class="text_add_small mb-0 ps-4 pt-3">
                                    <li >commonly-known consumer and/or business information sources such as Chambers of Commerce, American Automobile Association, AARP and Consumers Union; </li>
                                    <li class="pt-2">dot.com community sites; </li>
                                    <li class="pt-2">associations or other groups representing charities, including charity giving sites, </li>
                                    <li class="pt-2">online directory distributors; </li>
                                    <li class="pt-2">internet portals; </li>
                                    <li class="pt-2">accounting, law and consulting firms whose primary clients are businesses; and</li>
                                    <li class="pt-2">educational institutions and trade associations. </li>
                                </ol>
                            </li>
                        </ol>
                        <p class="text_add_small mb-0 pt-4 px-4">We will approve link requests from these organizations if we determine that: (a) the link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink outweighs the absence of Plenco, and (d) where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.</p>
                        <p class="text_add_small mb-0 pt-4 px-4">These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and it products or services; and (c) fits within the context of the linking party’s site.</p>
                        <p class="text_add_small mb-0 pt-4 px-4">If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending an e-mail to info@plenco.com. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>
                        <p class="text_add_small mb-0 pt-4 px-4">Approved organizations may hyperlink to our Web site as follows:</p>
                        <ol class="text_add_small mb-0 pt-4 px-4 ps-4 ms-3">
                            <li >By use of our corporate name; or </li>
                            <li class="pt-2">By use of the uniform resource locator (Web address) being linked to; or </li>
                            <li class="pt-2">By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party’s site. </li>
                        </ol>
                        <p class="text_add_small mb-0 p-4">No use of Plenco’s logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
            
                    </div>
                </div>
            </div>  


            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-4">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-4" aria-expanded="true" aria-controls="acc-1__body-4">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Iframes</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-4" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-4" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 p-4">Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
                    </div>
                </div>
            </div>   

            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-5">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-5" aria-expanded="true" aria-controls="acc-1__body-5">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Reservation of Rights</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-5" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-5" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 p-4">We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>
                    </div>
                </div>
            </div>   

            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-6">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-6" aria-expanded="true" aria-controls="acc-1__body-6">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Removal of links from our website</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-6" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-6" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>   
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 p-4">Whilst we endeavor to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</p>   
                          
                    </div>
                </div>
            </div>   

            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-7">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-7" aria-expanded="true" aria-controls="acc-1__body-7">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Content Liability</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-7" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-7" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0">                                        
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 p-4">We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
                    </div>
                </div>
            </div>   


            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="acc-1__header-8">
                    <button class="collapsed accordion-button d-flex align-items-center justify-content-between position-relative bg-blue-1" type="button" data-bs-toggle="collapse" data-bs-target="#acc-1__body-8" aria-expanded="true" aria-controls="acc-1__body-8">
                        <h3 class="d-block mb-0 ms-4 text-blue-l3 text-uppercase">Disclaimer</h3> 
                    </button>
                </h2>
                <div id="acc-1__body-8" class="accordion-collapse collapse mb-5" aria-labelledby="acc-1__header-8" data-bs-parent="#TC__accordion-1">
                    <div class="accordion-body p-0"> 
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
                        <ol class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4 ps-4 ms-3">
                            <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
                            <li  class="pt-2" >limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                            <li  class="pt-2" >limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                            <li  class="pt-2" >exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                        </ol>
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 pt-4 px-4">The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph, and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
                        <p class="accordion__text-2 text_add_small text-black-1 mb-0 p-4">To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature. </p>                               
                    </div>
                </div>
            </div>    
        </div>   
    </div>


    

{% endblock %}


{% block footer %}
    {% include '../layouts/_footer.twig' with {} %}
{% endblock %}