<div class=" col-12 px-0 row section_heading_top_bg pt-0 section_heading_top overflow-hidden position-relative">
    <div class="section_heading_top__bg_img-cont p-0 m-0 position-absolute bg-blue-1">
        <div class="section_heading_top__bg_img p-0 m-0  w-100" style="background-image:  url({{ data.bg_img }})"></div>
    </div>
    <div class="section_heading_top px-0 col-12">
        <div class="container cont-site">
            <div class="section_heading_top__center-block__cont bg-blue-3 position-relative col-12 col-sm-9  mx-auto col-md-7 col-lg-6 overline overline_mob d-flex flex-column justify-content-center align-items-center px-3">
                <h3 class="text-center my-0 text-blue-l2 text-uppercase"> {{ data.heading_top_subheader }} </h3>
                <h1 class="section_heading_top__center__header text-center my-0 text-white-1"> {{ data.heading_top_text }} </h1>
            </div>            
        </div>
    </div>
</div>