<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco BMC is UL listed and is available in a variety of standard and custom formulations, colors, and <em>extrusions for compression, transfer, and injection molding</em>.
            </div>
            

        </div>
    </div>
</div>