
<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco’s facilities are highly engineered and have allowed us to manufacture/distribute first-rate, consistent products over the last <em>87 years</em>.
            </div>
        </div>
    </div>
</div>