<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco Thermoset materials offer a proven blend of physical strength, thermal stability and chemical resistance that makes them ideally suited for high-temperature applications in combination with automotive fluids and electrical distribution.
            </div>
            
            
            
        </div>
    </div>
</div>