<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plastics Engineering Company manufactures an extensive range of products for many application fields that benefit from the outstanding characteristics and <em>performance advantages of phenolic resins</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                We welcome the opportunity to be of service to your company, and to customize a Plenco phenolic resin specifically for your application.
            </div>


        </div>
    </div>
</div>