
<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Explore careers that will help define <em>a new era of thermoset polymers</em>.
            </div>
            <div class="section_heading_bottom__content__text">
            Our vision is to create a world that utilizes material science to advance technical projects in many areas including the energy, automotive, and aerospace industries.
            </div>
        </div>
    </div>
</div>