<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                PLENCO’s years of experience in the thermoset molding industry have given us some insight into what steel to use in <em>various components of the mold and press</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                We offer to share these tips with our molding compound customers, for whatever value they may have. As with all suggestions, they may not necessarily apply in every circumstance, but we believe that they are generally accurate and we hope you find them helpful. (Steel Types Used in Thermoset Molds text)
            </div>


        </div>
    </div>
</div>