<div class="row section_11_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_11 col-12 px-0">
        <div class="container cont-site">
            <h3 class="section_11__header text_bicolor mb-0">Customer <em>Relations</em></h3>
            <p class="section_11__text mb-0">At Plenco we are committed to building strategic relationships 
                with our customers. To achieve this goal, Plenco is dedicated to the following principles of doing 
                business: Consistently manufacturing quality molding materials and resins. (Customer Relations text)</p>
                
                {% for block in data.blocks %}
                    {% include block.block with {data: block} %} 
                {% endfor %}
        </div>
    </div>
</div>