<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                PLENCO’s years of experience in the thermoset molding industry have given us some insight into designing vents for molding <em>PLENCO phenolic and polyester materials</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                We offer to share these tips with our molding compound customers, for whatever value they may have. As with all suggestions, they may not necessarily apply in every circumstance, but we believe they are generally accurate and we hope you find them helpful. We offer these ideas for you to use at your own discretion. (Mold Vent Tips text)
            </div>


        </div>
    </div>
</div>