<div class="row">
    <div class="section_1 col align-items-center d-flex overline_mob-r">
        <div class="container cont-site">
            <div class="row">
                <div class="section_1__sub-cont col offset-md-4 col-md-8 offset-lg-6 col-lg-6">
                    <div class="row justify-content-center">
                        <span class="section_1__sub-cont__header">The Environment in Which We Live and Work</span>
                        <p class="section_1__sub-cont__text">The environment in which we live and work is of utmost importance to Plenco. The principle and 
                            process are clear. Ever since our founding, Plenco has been a good employer, supplier and neighbor when it comes to the environment.</p>
                        <div class="button_wrapper d-flex justify-content-between w-100 px-0">
                            <button class="button_yellow col">Policy</button>
                            <div class="gap col-1"></div>
                            <button class="button_yellow col">CSR Manual</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>