<div class="row section_19_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_19 col">
        <div class="container cont-site">
            <div class="section_19__data">
                <h3 class="section_19__header text_bicolor">{{ data.header }}</h3>
                {% include data.block with {data: data } %} 
                </div>
            </div>
        </div> 
    </div>
</div>