<div class="row section_12_bg col-12 overline_mob-r {{ data.class }}" style="{{ data.style }}">
    <div class="section_12 col">
        <div class="container cont-site">
            <div class="section_12__data row position-relative">
                <div class="section_12__textarea col-12 col-lg-5 position-relative">
                    <h3 class="section_12__header text_bicolor">Plenco’s <em>History</em></h3>
                    <p class="section_12__text">Plastics Engineering Company, a family owned and managed business founded 
                        in 1934, established as its corporate mission a sincere desire to respond efficiently to the 
                        needs of our customers through development, manufacture, and servicing of useful, high-value 
                        products. </p>
                    <p class="section_12__text_add">Our mission is accomplished by an uncompromising adherence to customer
                        requirements and safety in manufacturing, with consideration given to our environment and 
                        surrounding community, and with sensitivity to the needs of our employees. (Company Information 
                        text)</p>
                    <button class="section_12__button button_yellow">Continue reading</button>
                </div>
                <div class="section_12__videoarea">
                    <iframe class="section_12__video" src="https://www.youtube.com/embed/hS5CfP8n_js" title="YouTube video player" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                    <p class="section_12__video-descr">“Placeholder pulled quote: Lorem ipsum dolor sit amet, 
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                        dolore magna aliquyam erat, sed diam voluptua.”</p>
                </div> 
            </div>

            <div class="section_12__data_mob row position-relative">
                <h3 class="section_12__header text_bicolor">Plenco’s <em>History</em></h3>
                <iframe class="section_12__video" src="https://www.youtube.com/embed/hS5CfP8n_js" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                <p class="section_12__text">Plastics Engineering Company, a family owned and managed business founded 
                    in 1934, established as its corporate mission a sincere desire to respond efficiently to the 
                    needs of our customers through development, manufacture, and servicing of useful, high-value 
                    products. </p>
                <p class="section_12__text_add">Our mission is accomplished by an uncompromising adherence to customer
                    requirements and safety in manufacturing, with consideration given to our environment and 
                    surrounding community, and with sensitivity to the needs of our employees. (Company Information 
                    text)</p>
                <button class="section_12__button button_yellow">Continue reading</button>
                <p class="section_12__video-descr">“Placeholder pulled quote: Lorem ipsum dolor sit amet, 
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                    dolore magna aliquyam erat, sed diam voluptua.”</p>
            </div>


        </div>
    </div>
    <div class="section_12__bg-img_bottom"></div>
</div>

