<div class="row section_heading_bottom {{ data.class }}" style-"{{data.style}}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco thermoset materials offer the thermal stability, electrical resistance, UL flammability ratings and toughness needed for a <em>range of lighting applications</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                From metalized automotive forward lighting and in-home light baffles to electrical connectors, switches and mounting brackets,
                Plenco Thermosets will help your lighting project shine.
            </div>


        </div>
    </div>
</div>