<div class="row section_21_bg h-100 p-0 m-0 overline-r overline_mob-r"> 
    <div class="section_21 col-12 px-0 d-flex align-items-start align-items-md-center pt-5 pb-4 pb-lg-5">
        <div class="container cont-site section_21__content col-md-12 d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center">
                <div class="section_21__left col-auto position-relative">
                    <h1 class="section_21__header text-center text-lg-start text-blue-l3 mb-0">Reports & Resources CTA</h1>
                    <p class="section_21__text text-center text-lg-start text-white-1 mb-0">Plenco’s Reports & Resources text</p>
                </div>
                <div class="section_21__right col-auto position-relative align-self-center align-self-lg-end">
                    <a href="reports-resources.html" class="btn btn-yellow-1 section_21__button ms-0 ms-md-4 mt-4 mt-lg-0">Reports & Resources</a>
                </div>
        </div>
    </div>

</div>