<div class="section_10 col align-items-center d-flex {{ data.class }}" style="{{ data.style }}">
    <div class="container cont-site">
        <div class="row">
            <div class="section_10__sub-cont col">
                <div class="section_10__data row justify-content-center">
                    <span class="section_10__header">Environmental Policy</span>
                    <p class="section_10__text">The environment in which we live and work is of utmost importance 
                        to Plenco. The principle and process are clear. Ever since our founding, Plenco has been 
                        a good employer, supplier and neighbor when it comes to the environment.</p>
                    <div class="button_wrapper d-flex justify-content-between w-100 px-0">
                        <button class="button_yellow section_10__button col">Read full Policy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>