<div class="row section_9_bg overflow-hidden overline_mob-r {{ data.class }}"  style="{{ data.style }}">
    <div class="section_9 col">
        <div class="container cont-site">
            <div class="section_9__data row position-relative">
                <div class="section_9__left">
                    <p class="section_9__left_text">Plenco believes the quality of its products 
                        is second to none, but more importantly that the search for quality 
                        improvement never ends.</p>
                </div>
                <div class="section_9__right">
                    <p class="section_9__right_text">Formal corrective and preventive action 
                        procedures drive our continuous improvement program. These procedures have 
                        kept Plenco products in step with the increasing expectations of our 
                        customers in today’s market where consistent quality is a key ingredient 
                        of success. (Quality Assurance text)</p>
                    <button class="button_yellow section_9__button">Research & Development</button>
                    <button class="button_yellow section_9__button">Technical Service</button>
                    
                </div>
            </div>
        </div> 
    </div>
</div> 