<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
               04000 products are primarily mineral-filled phenolic molding materials. Their formulations are designed to improve heat resistance, dimensional stability and <em>property retention at elevated temperatures</em>.
            </div>
            
        </div>
    </div>
</div>