<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
               07000 products are phenolic molding materials enhanced by the addition of organic or glass fibers. They provide superior shock, vibration and impact resistance as compared to other organic and mineral filled phenolic materials, <em>while maintaining a low specific gravity</em>.
            </div>
            
        </div>
    </div>
</div>