<div class="row section_heading_bottom col-12  {{ data.class }}" style="{{ data.style }}">
    <div class="col px-0">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text-start text_bicolor_3">
                Plenco prides itself on the technical service provided customers to assure <em>optimum production levels</em>.
            </div>
            
        </div>
    </div>
</div>