<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                The purpose of this manual is to serve as an information guide for <em>thermoset product designers, mold designers, mold makers and molders</em>
            </div>
            <div class="section_heading_bottom__content__text">
                It has been compiled by the Plenco Technical Service Group from many years of experience in the thermoset molding industry. We offer to share this information with our molding compound customers, for whatever value it may have. As with all suggestions, they may not necessarily apply in every circumstance, but we believe they are generally accurate and we hope you find them helpful. (Processing Guide text)
            </div>


        </div>
    </div>
</div>