<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plastics Engineering Company’s state-of-the-art research and development lab is located in Sheboygan, Wisconsin and plays an important role in our strategic plan to <em>lead the industry in the development and refinement of next generation thermoset technology</em>.
            </div>
            <div class="section_heading_bottom__content__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            </div>

        </div>
    </div>
</div>