<div class="row section_3_bg overflow-hidden overline_mob-r {{ data.class }}">
    <div class="section_3 col">
        <div class="container cont-site">
            <div class="section_3__data row d-flex align-items-center position-relative">
                <div class="section_3__textarea col-12 col-lg-5 position-relative">
                    {% include data.block_left %}
                    <img src="./assets/img/sections/section_3_bg-mobile.jpg" alt="" class="section_3__img_mobile position-absolute ">
                </div>
                <div class="section_3__img-wrapper" style="background-image:  url({{ data.img }})">
                    <img src={{ data.img }} alt="" class="section_3__image position-absolute">
                </div> 
            </div>
        </div> 
    </div>
</div>