<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                03000 products are mineral and organic-filled phenolic molding materials. Their formulations are designed to improve arc tracking resistance and provide UL flammability <em>suitable for unattended electrical devices</em>.
            </div>
            
        </div>
    </div>
</div>