<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                01500 products are styrene-free, thermosetting polyester molding materials. They provide exceptional electrical properties, heat resistance and <em>physical strength in a high-gloss finish</em>.
            </div>
            
        </div>
    </div>
</div>