<div class="row section_4_bg col-12 overline_mob-r">
    <div class="section_4 col">
        <div class="container cont-site">
            <h3 class="section_4__header text_bicolor">Plenco <em>News</em></h3>
            <div class="section_4__content row col-12">
                
                
                <div class="section_4__item section_4__item_1 col-12 col-lg-5 position-relative d-flex flex-column">
                    <h4 class="section_4__item__header col-12">Plenco Reaches 15% on Energy Savings from Better Plants Program</h4>
                    <div class="section_4__item__other d-flex flex-column">
                        <div class="blank"></div>
                        <div class="section_4__item__img-wrapper">
                            <img src="./assets/img/pages/home/news.jpg" alt="Tech line" class="w-100 section_4__item__img">
                        </div>
                        <a href="#" class="section_4__item__link uppercase text-center">
                            <button class="section_4__item__button">Read Article</button>
                        </a>
                        <div class="blank"></div>
                    </div>
                    <div class="section_4__item__line position-absolute"></div>
                </div>


                <div class="section_4__right-side col-12 col-lg-6 offset-0 offset-lg-1 px-0">
                    
                    <div class="section_4__item section_4__item_2 col-12 position-relative d-flex flex-column">
                        <h4 class="section_4__item__header col-12 ">Plenco’s Story, A Video Journey</h4>
                        <div class="section_4__item__other d-flex flex-column justify-content-between flex-grow ">
                            <div class="blank"></div>
                            <a href="#" class="section_4__item__link uppercase text-left">Watch Video</a>
                            <div class="blank"></div>

                        </div>
                        <div class="section_4__item__line h-2 w-14 position-absolute top-12"></div>
                    </div>
    
                    <div class="section_4__item section_4__item_2 section_4__item_3 col-12 position-relative d-flex flex-column">
                        <h4 class="section_4__item__header col-12 text-white mb-0">Placeholder: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </h4>
                        <div class="section_4__item__other d-flex flex-column justify-content-between flex-grow ">
                            <div class="blank"></div>
                            <a href="#" class="section_4__item__link uppercase text-left">Read Article</a>
                            <div class="blank"></div>
                        </div>
                        <div class="section_4__item__line h-2 w-14 position-absolute"></div>
                    </div>

                    <button class="section_4__right-side__button button_yellow col-10 offset-1 col-sm-6 col-lg-6 offset-sm-3 offset-lg-0">View all news</button>
                </div>



            </div>
        </div>
    </div>
</div>