<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Phenolics are the recommended choice over all other resin systems with respect to their exceptionally good <em>thermal behavior, low smoke density and high flame resistance</em>
            </div>
            <div class="section_heading_bottom__content__text">
                Molding compounds engineered with either Resol or Novolac resin systems exhibit good electrical and mechanical properties and can be used across all industry.
            </div>


        </div>
    </div>
</div>