<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
               06000 products are mostly glass fiber reinforced phenolic molding materials. Some, however, were designed to perform highly specialized functions in <em>oil and gas, military, medical and aerospace applications</em>.
            </div>
            
        </div>
    </div>
</div>