<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco Thermoset materials provide a durable, high-gloss finish with industry leading thermal stability, UL flammability, <em>electrical insulation and chemical resistance</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                This makes them ideal for metal or thermoplastic replacement in hot-zone, electrical device components. Thermoset chemistry gives our products a surface hardness unmatched by thermoplastics. They will maintain their great looks after years of abuse and
                repeated cleaning making them perfect for cosmetic surfaces your customers will proudly display.
            </div>


        </div>
    </div>
</div>