<div class="row section_heading_bottom {{ data.class }}" style-"{{data.style}}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plastics Engineering Company manufactures a full range of <em>phenolic molding materials</em>.
            </div>
            <div class="section_heading_bottom__content__text">
               Plenco thermoset compounds are suitable for evaluation in industrial and consumer applications, which require molded properties to be maximized, but unit cost to be minimized. Plenco phenolic two-stage, single-stage, and pigmented molding materials are produced in granular, nodular, and briquette forms.
            </div>


        </div>
    </div>
</div>