<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Infinite <em>chemistry</em>
            </div>
            <div class="section_heading_bottom__content__text">
                For over 85 years Plastics Engineering Company has been developing new phenolic chemistries and performance materials. These advanced materials connect our world together to create a safer and cleaner world in which we live. Come and benefit from the Plenco difference.
            </div>


        </div>
    </div>
</div>