<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
               08000 products are thermosetting polyester bulk molding compounds (BMC). These materials employ mineral and fiberglass additives to provide <em>excellent impact strength, heat resistance, dimensional stability and electrical insulation</em>.
            </div>
            
        </div>
    </div>
</div>