<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                02000 products are organic-filled phenolic molding materials. They offer an outstanding combination of mechanical strength and electrical insulation<em> at a low cost per cubic inch</em>.
            </div>
            
        </div>
    </div>
</div>