<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                A basic (alkaline) catalyst and, usually but not necessarily, a molar excess of formaldehyde is used to make resol resins. The following two stages <em>describe a simplified view of the reaction</em>.
            </div>


        </div>
    </div>
</div>