<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">Plenco Reaches 15% on Energy Savings from Better Plants Program</div>
            <div class="section_heading_bottom__content__text_regular">October 12, 2021</div>
            <div class="section_heading_bottom__content__text_semibold">Author Name (if needed)</div>

        </div>
    </div>
</div>