<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco Thermoset materials provide an exceptional combination of electrical insulation, UL Flammability, creep resistance and dimensional stability across<em> the widest range of temperatures</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                This makes them ideal materials to insulate electrical devices used in high and low voltage industrial power transmission, automotive switches and relays, home appliance controls and many other areas where close tolerances must be maintained for years across varying environmental conditions.
            </div>


        </div>
    </div>
</div>