<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                The core of Plenco’s research and development facilities is a complete synthesis laboratory for the production of prototype resins: resins are designed for specific applications; process improvements are scrutinized; additives and curing agents are blended to produce <em>finished resin products</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                This versatility facilitates the testing of specific ideas, but more important, it enables the use of experimental design and optimization techniques.
            </div>
        </div>
    </div>
</div>