<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco thermoset molding compounds can and are being successfully molded by cold powder compression, preheat compression, <em>transfer and injection molding methods</em>.
            </div>
            <div class="section_heading_bottom__content__text">
               However, in some instances, there can be problems associated with the processing of some compounds by a particular molding method. The following table summaries these problems by compound and molding method. (Molding Method text)
            </div>


        </div>
    </div>
</div>