<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                At Plastics Engineering Company, we conform to a set of specialized standards that help our company and products achieve expected results and <em>continually improve all of our business processes</em>.
            </div>
            <div class="section_heading_bottom__content__text">
            We believe that having a consistent process will produce dependable, homogeneous products all of the time that will perform in its application.
            </div>
        </div>
    </div>
</div>