<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plastics Engineering Company offers high-performance material solutions and technical support across various industries. From industrial to energy and automotive to aerospace, we’ve been driving innovation through the use of <em>Infinite Chemistry for over eighty-five years</em>.
            </div>
            <div class="section_heading_bottom__content__text">
            Creating versatile solutions across a wide range of industries. Look and you’ll see a part of us there.
            </div>

        </div>
    </div>
</div>