<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Phenolic thermosetting resin products are some of the most adaptive materials in the marketplace and <em>hundreds of industries benefit from their use</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                Five generations of product designers worldwide have come to rely on phenolic-resin-based materials many times a day. Plastics Engineering Company is proud of our history designing materials that have passed the test of time, whether used in the morning coffee maker, the Apollo lunar module, or the newest automotive safety systems.
            </div>


        </div>
    </div>
</div>