<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco melamine-phenolic compounds are also available in electrical grades for use in those applications requiring good ratings for <em>electrical arc and track resistance</em>.
            </div>
            

        </div>
    </div>
</div>