<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                An acidic catalyst and a molar excess of phenol to formaldehyde are conditions used to make novolac resins. The following simplified chemistry illustrates the wide range of <em>polymers possible</em>.
            </div>
        </div>
    </div>
</div>