<div class="section_10 px-0 col-12 align-items-center d-flex {{ data.class }}" style="{{ data.style }}">
    <div class="container cont-site">
        <div class="row">
            <div class="section_10__sub-cont col-12 d-flex flex-column justify-content-end px-0">
                <div class="section_10__data d-flex flex-column justify-content-center col-10 offset-1">
                    <h4 class="section_10__header mb-0 text-start text-sm-center">Environmental Policy</h4>
                    <p class="section_10__text">The environment in which we live and work is of utmost importance 
                        to Plenco. The principle and process are clear. Ever since our founding, Plenco has been 
                        a good employer, supplier and neighbor when it comes to the environment.</p>
                    <div class="button_wrapper d-flex justify-content-between w-100 px-0">
                        <button class="button_yellow section_10__button col mx-auto">Read full Policy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>