<div class="row section_heading_bottom {{ data.class }}" style-"{{data.style}}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                This glossary is intended to assist plastic professionals in the better understanding of <em>technical thermoset terminology</em>.
            </div>
            <div class="section_heading_bottom__content__text">
               The following definitions represent the meanings understood and shared by the majority of the thermoset plastics industry.
            </div>


        </div>
    </div>
</div>