<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                Plenco Thermoset materials have been providing the oil and gas industry with dependable alternatives to metal and thermoplastic <em>for more than 30 years</em>.
            </div>
            <div class="section_heading_bottom__content__text">
                Their proven property retention under extreme heat and chemical exposure makes them ideal for a wide range of severe duty applications.
            </div>


        </div>
    </div>
</div>