<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                These terms and conditions outline the rules and regulations for the use of <em>Plenco’s website</em>
            </div>
            <div class="section_heading_bottom__content__text">
                
            </div>


        </div>
    </div>
</div>