<div class="row section_heading_bottom {{ data.class }}" style="{{ data.style }}">
    <div class="col">
        <div class="container cont-site section_heading_bottom__content">
            <div class="section_heading_bottom__content__header text_bicolor_3">
                El propósito de este manual es servir como una guía de información para los diseñadores de <em>productos termostáticos, diseñadores de moldeos, fabricantes de moldeos y modelistas</em>
            </div>
            <div class="section_heading_bottom__content__text">
                Ha sido compilado por el Grupo de Servicio Técnico de Plenco a través de muchos años de experiencia en la industria de moldeo termoendurecido. Ofrecemos compartir esta información con nuestros clientes de compuestos de moldeo, sea cual sea el valor que pueda tener. Como sucede con todas las sugerencias, pueden no aplicarse necesariamente a todas las circunstancias, pero creemos que son generalmente correctas y esperamos que las encuentren útiles. (Processing Guide Spanish text)

            </div>


        </div>
    </div>
</div>