<div class="block_8 col-12 position-relative" style="{{ data.props }}">
    {% for item in data %}
        <h5 class="block_8__header mb-0">{{ item.header }}</h5>
        <p class="block_8__text mb-0">{{ item.text }}</p>
    {% endfor %}
</div>