<div class="block_3 d-flex align-items-center flex-column flex-md-row" style="{{ data.props }}">
    <div class="block_3__left h-100 col-12 col-md-6">
        <div class="block_3__img-wrap col-12 col-md-11">
            <img src={{ data.img }} alt="Customer-1" class="block_3__left__img h-100 col-12">
        </div>
    </div>
        <div class="block_3__right d-flex flex-column align-items-start col-12 col-md-6 px-0 {{ data.pic_position }}">
            <ul class="ul_1 mt-0">
                {% for text in data.texts %}
                    <li class="ul_1__text">{{ text }}</li>
                {% endfor %}
            </ul>
        </div>
</div>