<div class="block_tag_1-wrap px-1 py-1">
    <a href={{ data.link_to }} class="text-decoration-none"> 
        <div class="block_tag_1 px-2 d-flex align-items-center justify-content-center col-auto border border-1 border-blue-l3 ">
            <p class="block_tag_1__text text-black-1 text-center mb-0">{{ data.text }}</p>
        </div>
    </a>
</div>