<a href={{ data.link_to }} class="text-decoration-none">
    <div class="block_6 position-relative col-12 col-sm-6 col-md-5 col-lg-4">
        <p class="block_6__text mb-0">{{ data.text }}</p>
        <div class="block_6__line"></div>
        <p class="block_6__link mb-0">{{ data.link_text }}</p>
        <button class="button_yellow_arrow_45 block_6__button position-absolute bottom-0 end-0"></button>
    </div>    
</a>
