<div class="block_8" style="{{ data.props }}">
    {% for item in data %}
        <h5 class="block_8__header">{{ item.header }}</h5>
        <p class="block_8__text">{{ item.text }}</p>
    {% endfor %}
</div>