<a href={{ data.link_to }} class="text-decoration-none">
    <div class="block_6">
        <p class="block_6__text">{{ data.text }}</p>
        <div class="block_6__line"></div>
        <p class="block_6__link">{{ data.link_text }}</p>
        <button class="button_yellow_arrow_45 block_6__button"></button>
    </div>    
</a>
