<div class="block_1">
    <h3 class="block_1__header text_bicolor">Plenco Reports & <em>Resources</em></h3>
    <p class="block_1__text">Search our website for product information and data reports.</p>
    {% include '../blocks/_block_input_1.twig' with {searcharea_p: "col-12", type: "text", ph: "Search"} %}
    <div class="w-100"></div>
    <span class="block_1__span col-10">Quick Links</span>
    <a href="#" class="block_1__link">Plenco Data Reports/SDS</a>
    <a href="#" class="block_1__link">Plenco Data Glossary</a>
    <a href="#" class="block_1__link">Technical Tips</a>
    <a href="#" class="block_1__link">Plenco Processing Guide (English)</a>
    <a href="#" class="block_1__link">Plenco Processing Guide (Spanish)</a>
    <a href="#" class="block_1__link">Material Storage</a>
    <button class="block_1__button button_yellow d-none d-lg-block col-md-7 col-lg-9">Reports & Resources</button>
</div>    
