<div class="block_cookies collapse" id="block_cookies" data-bs-toggle="false">
    <div class="block_cookies__content container">
        <p class="block_cookies__text">Cookies make our site work properly and securely. By allowing us, you will 
            get the best user experience with brand enriched content & relevant products and services. 
            <a class="block_cookies__link" href="#">More information about Cookies.</a></p>
        <div class="block_cookies__decisions">
            <button class="block_cookies__btn_accept btn_cookies" id="cookies_accept" data-cookieaction="accept">accept</button>
            <button class="block_cookies__btn_close btn_cookies" id="cookies_deny" data-cookieaction="deny">Close</button>
        </div>
    </div>
    <img class="block_cookies__close d-none d-md-block col-6 col-md btn_cookies" src="./assets/img/svg/close.svg" id="cookies_close" data-cookieaction="close">

</div>