.nav_bottom__btn {
    //right: 0;
    //padding: 0;
    height: 84px;
}


.nav_bottom {

    //position: fixed;
    //overflow: hidden;
    //background-color: #fff;
    //z-index: 1000;
    //height: 100vh;

    & .nav_bottom_menu-wrap {
        //padding-right: 0 !important;
        //padding-left: 0 !important;
        //background-color: #fff;
        //padding-left: 8px !important;
        //padding-right: 0px !important;
        //padding-top: 0;
        //padding-bottom: 0;
        height: 84px;
        //background-color: ;


        & .nav_bottom_menu {
           // padding-right: 0 !important;
           height: 83px !important;
           //padding-left: 0 !important;
           //padding-right: 0 !important;
           //border: 3px solid red;


            & .nav_bottom__logo {
                margin-right: 50px;
                //min-width: 167px;//!important;
                //width: 208px;
                //max-height: 64px;

                @include respond-to(lg) {
                    margin-right: 20px;
                    margin-left: 0px;
                }

                @include respond-to(md) {
                    margin-right: 7px;
                    //border: 2px solid red;
                    //margin-right: 0px;
                    //width: 20%;
                    //height: auto;
                    margin-left: 10px;
                    width: 157px;
                }

                @include respond-to(sm) {
                    //border: none;
                    width: 208px !important;
                    max-height: 64px !important;
                   //width: 167px;
                }
            }


            & .nav_bottom__links {
                padding-right: calc(270px - ((100vw - 1160px) / 2));
                //margin-left: 32px;
                //border: 3px solid red;

                @include respond-to(lg) {
                    padding-right: 0;
                    //margin-left: 0;
                    
                }
        
                @include respond-to(md) {
                    //margin-left: 0;
                }

        
        
                & .nav_bottom__link-cont {
                    padding: 13px 24px;
                    max-height: 62px;

                    &:nth-child(1) {
                        @include respond-to(md) {
                            //text-align: center;
                        }
                    }
        
                    @include respond-to(md) {
                        padding: 8px 10px;
                    }
        
                    &.opened {
                        border: 2px solid $yellow-1;
                    }
        
                    & .nav_bottom__link {
                        //text-transform: uppercase;
                        //text-decoration: none;
                        font-size: 16px;
                        //color: black;
                        font-family: "Mulish-800"; 
                        white-space: nowrap;
                        @include ls(75);
                        //margin: 0;
                
                        @include respond-to(xl) {
                            white-space: normal;
                        }
                
                        @include respond-to(md) {
                            font-size: 14px;
                            letter-spacing: 0;
                            
 
                        }
                
                        &:hover {
                            color: $black;
                
                        }
                    }
                }
        
                & .nav_bottom__btn_yellow {
                    height: 84px;
                    //padding: 0;
                    //margin-left: 25px;
                }
            
        
        
            }


            & .nav_bottom__btn_mob {
                //height: 100%;
                //margin-left: 24px;
                //padding: 0 !important;


                /*
                & .button_yellow_nav_mob_1 {
                    height: 20px;
                    padding-bottom: 8px;
                }
*/
                & .button_yellow_nav_mob__text-cont {
                    height: 23px;
                }
            }


        }
    }





    //---------------------Section Markets -------------------
    
    & .nav-section_markets {
        //width: 100%;
        //background-color: $dark-blue-1;
        //position: fixed;
        top: 116px;


        & .nav-section_markets__header {
            margin-top: 84px;
            font-family: "Mulish-800";
            font-size: 22px;
            @include ls(75);
            //margin-bottom: 0;
            //color: $white;
        }

        & .nav-section_markets__items {
            //margin-top: 24px;
            margin-left: -16px !important;
            margin-right: -16px !important;

            & .nav-section_markets__item{
                //padding-left: 18px;
                //padding-right: 18px;
                //width: 360px;
                height: 142px;
                //@at-root: $blue-1;
                //margin-bottom: 32px;
                


                & .nav-section_markets__item__icon {
                    max-width: 60px;
                    max-height: 60px;;
                }

                & .nav-section_markets__item__text {
                    //color: $white;
                    //margin-left: 20px;
                    //margin-bottom: 0 !important;
                    font-family: "Almarai-700";
                    font-size: 24px;
                    @include ls(25);
                    //text-transform: capitalize;

                    @include respond-to(md) {
                        font-size: 16px;
                    }
                }
            }
        }

        & .nav-section_markets__button  {
            //margin-left: auto;
            //margin-right: auto;
            margin-top: 80px;
            height: 70px;
            margin-bottom: calc(100vh - 730px);
        }




    }

//-----------------Section Products -------------------

    & .nav-section_products {
        //position: fixed;
        top: 116px;
        //width: 100%;
        //background-color: $dark-blue-1;


        & .nav-section_products__header {
            margin-top: 84px;
            font-family: "Mulish-800";
            font-size: 22px;
            //color: $white;
            @include ls(75);

        }

        & .nav-section_products__items {
           //margin-top: 24px;
            margin-left: -16px;
            margin-right: -16px;

            & .nav-section_products__item{
                //padding-left: 14px;
                //padding-right: 14px;
                //width: 265px;
                height: 170px;
                //background-color: $blue-1;
                //padding-bottom: 16px;
                //padding-top: 16px;
                

                @include respond-to(lg) {
                    //width: 50%;
                }

                        

                & .nav-section_products__item__inner-cont {
                    //border: 1px solid red;
                    //width: 100%;
                    //height: 100%;
                    //border-bottom: 1px solid $light-blue-2;
                    //padding-bottom: 16px;

                    & .nav-section_products__item__text {
                        font-family: "Almarai-700";
                        font-size: 24px;
                        @include ls(25);
                        //color: $white;
                        //margin-left: 0;
                        //text-transform: capitalize;
                        //margin-bottom: 0;
        
                        @include respond-to(lg) {
                            font-size: 20px;
                        }

                        @include respond-to(md) {
                            font-size: 17px;
                        }
                    }
                }

            }
        }

        & .nav-section_products__button  {
            height: 70px;
            //margin-left: auto;
            //margin-right: auto;
            margin-top: 80px;
            margin-bottom: calc(100vh - 570px);
        }

    }

//---------------------Section SEARCH----------------------------------


    & .nav-section_search {
        //background-color: rgba($blue-1, 0.8);
        //bottom: 0;
        top: 116px;


        & .nav-section_search-cont {
            //background-color: $dark-blue-1;
            //padding-top: 30px;
            //height: 253px;
            //margin-left: auto;
            //margin-right: 0;
            //width: 690px;
            margin-bottom: calc(100vh - 374px);


            & .nav-section_search__header {
                //color: $light-blue-2;
                font-size: 12px;
                letter-spacing: 0.15rem;
            }


            & .nav-section_search__input-cont {
                //border-bottom: 7px solid $light-blue-3;


                & .nav-section_search__input {
                    height: 30px;
                    //width: 100%;
                    font-family: "Almarai-700";
                    font-size: 22px;
                    //padding-left: 0px;
                    //background-color: transparent;
                    //color: #FFF;

                    &:active, &:hover, &:focus {
                        outline: 0 !important;
                        outline-offset: 0 !important;
                    }
        
                    &::placeholder {
                        color: $white-1;
                        font-family: "Almarai-700";
                        font-size: 22px;
                    }
                }

            }


            & .nav-section_search__checkboxes {
                //margin-top: 19px;


                & .nav-section_search__checkbox-item {
                    //margin-right: 53px;
                    

                    & .nav-section_search__checkbox {
                        //position: absolute;
                        z-index: -1;
                        //opacity: 0;


                        &:checked+.nav-section_search__label::before {
                                background-color: $light-blue-2;
                                background-image: url("../img/svg/checkmark.svg");
                        }
                        
                    }
                    
                    
                    
                    & .nav-section_search__label {
                        //color: #FFF;
                        //display: inline-flex;
                        //align-items: center;
                        user-select: none;
                        font-family: "Mulish-800";
                        //color: $light-blue-2 !important;
                        font-size: 14px; 
                        @include ls(75);                          


                        &::before {
                            content: '';
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            border: 2px solid $light-blue-2;
                            margin-right: 0.5em;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 80% 80%;
                        }
                    }
                }
            }



            & .nav-section_search__button {
                //margin-top: 25px;
            }



        }


    }

}







//---------------------------DROP------------------------------

.nav_bottom__drop__cont {
   /*padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;*/
    //background-color: transparent;

    & .nav__drop__opacity-block {
        //background-color: rgba($dark-blue-1, 0.8);
        //padding: 0;
        //margin: 0;
        //width: 100%;
        height: calc(100vh - 580px) !important;
    }







    & .nav_bottom__drop__back {
        //width: 100%;
        height: 71px;
        font-family: "Mulish-300";
        font-size: 18px;
        text-transform: none;
        //background-color: $light-blue-1;
        //left: 0;
        //padding-left: 20px;
        //padding-right: 20px;
        //border: 3px solid red !important;


        & .nav_bottom__drop__back__arrow {
            width: 27px;
            height: 3px;
            //background-color: $blue-1;
            //border: 3px solid red !important;

            &::before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                border-right: 3px solid $blue-1;
                border-top: 3px solid $blue-1;
                transform: rotate(-135deg);
                top: -6px;
                left: 1px;
            }
        }

        & .nav_bottom__drop__back__text {
            //margin-top: 0 !important;
            //margin-bottom: 0px !important;
            //margin-left: 12px;
        }
    }


}


.nav_bottom__drop {
    //position: relative !important;
    //padding-left: 0 !important;
    //padding-right: 0 !important;
    //top: 0px;
    //height: 100vh;
    //background-color: rgba($dark-blue-1, 0.75);
}

.nav_bottom__drop__cont-1 {
    //background-color: $light-blue-1;
    //border: 3px solid red;
    //padding-left: 30px;
    //padding-right: 30px;
}


.nav_bottom__drop__input-block {
    //width: 100%;
    height: 71px;
    //margin-bottom: 20px;


    & .nav_bottom__drop__input-cont {
        //width: 100%;
        //border-bottom: 2px solid $blue-2;
        height: 33px;
        left: 200px;



        & .nav_bottom__drop__input {
            font-family: "Mulish-300";
            font-size: 18px;
            //padding-left: 10px;
            //background-color: transparent;
            //height: 100%;

            &:active, &:hover, &:focus {
                outline: 0;
                outline-offset: 0;
            }

            &::placeholder {
                color: $black;
            }
        }

        & .nav_bottom__drop__input-btn {
            background-image: url("../img/svg/nav_top__search-icon.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 20px;
            width: 20px;
            //margin-left: 12px;
            //margin-right: 12px;
        }
        
    }



}





.nav_bottom__drop__block_1 {
    //height: 316px;
    //margin-bottom: 12px;

    & .nav_bottom__btn_1 {
        //background-color: $blue-1;
        font-family: "Mulish-800";
        font-size: 18px;
        @include ls(75);
        //width: 100%;
        //color: $white;
        //text-transform: uppercase;
        height: 64px;
        //margin-top: 12px;
        /*&:first-child {
            margin-top: 8px;
        }*/
    }

    & .nav_bottom__btn_1_spec {
        //background-color: $yellow-1;
        //color: $black;
        &::after {
            content: "";
            height: 1px;
            width: 50%;
            left: calc(50% + 60px);
            position: absolute;
            background-color: $blue-1;
            margin-left: 0px;
        }
    
        &::before {
            content: "";
            height: 1px;
            width: 350px;
            right: calc(50% - 125px);
            position: absolute;
            background-color: $blue-1;
            margin-right: 190px;
        }
    }
}


.nav_bottom__drop__cont-2 {
    //background-color: $dark-blue-1;
    //padding-left: 30px;
    //padding-right: 30px;
    //border: 3px solid red;
    //height: 400px;

    & .nav_bottom__drop__block_2 {
        //height: 212px;
        padding-top: 20px;
        padding-bottom: 20px;
        //margin-left: -6px;
        //margin-right: -6px;

        @include respond-to(xs) {
            //justify-content: space-between;
        }

        & .nav_bottom__btn_2 {
            font-family: "Almarai-700";
            font-size: 16px;
            //border: 3px solid $blue-1;
            line-height: 16px;
            height: 50px;
            @include ls(50);
            //padding-left: 10px;
            //padding-right: 10px;
            //color: $white;
            height: 48px;
            //background-color: transparent;
            
            @include respond-to(xs) {
                //width: 48%;
            }
        }
    }
}



.nav_bottom__drop__cont-add-menu {
    //margin: 0;
    //border: 3px solid red;
    //padding-left: 30px;
    //padding-right: 30px;
    //height: 530px;
    //background-color: $dark-blue-1;
    //min-height: 529px;
    padding-top: 30px;
    //padding-bottom: 25px;

    & .nav_bottom__drop__add-menu__header {
        font-family: "Mulish-800";
        font-size: 18px;
        //color: $white;
        @include ls(75);
    }
    & .nav_bottom__drop__add-menu__links {
        //margin-top: 18px;
        //min-height: 320px;
        & .nav_bottom__drop__add-menu__link-cont {
            min-height: 53px;
            //padding-top: 10px;
            //padding-bottom: 10px;
            //border-bottom: 3px solid $blue-1;
            //width: 100%;

            & .nav_bottom__drop__add-menu__link_text {
                font-family: "Almarai-700";
                font-size: 18px;
                @include ls(50);
                //text-transform: capitalize;
                //  color: $white;
                //margin-top: 0 ;
                //margin-bottom: 0;
                //text-align: left;
            }
    
            & .nav_bottom__drop__add-menu__arrow {
                width: 27px;
                height: 3px;
                //background-color: $yellow-1;

                &::after {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    border-right: 3px solid $yellow-1;
                    border-top: 3px solid $yellow-1;
                    transform: rotate(45deg);
                    top: -6px;
                    right: 1px;
                }
            }

        }
    }
    
    & .nav_bottom__drop__add-menu__button {
        //height: auto;
        //display: flex;
        margin-top: 32px;
        //padding-top: 19px;
        //padding-bottom: 19px;
        font-size: 18px !important;
        line-height: 22px;
        @include ls(75);
        /*
        &_products {
            margin-top: 43px;
        }*/
    }

    


}    

