.nav_side__btn-msg {
    top: 640px;
    width: 130px !important;
    height: 114px !important;
    z-index: 100;

    & .nav_side__btn-msg__icon {
        height: 43px;
        width: 43px;
    }

    & .nav_side__btn-msg__text_1 {
        font-family: "Gotham-700";
        font-size: 14px;
    }

    & .nav_side__btn-msg__text_2 {
        font-family: "Gotham-book";
        font-size: 14px;
    }
}




.contactUsModal-cont {
    width: 837px !important;
    max-width: none !important;

    .contactUsModal {
        padding-bottom: 62px;
    
        & .contactUsModal__header-cont {
    
            & .contactUsModal__header {
                margin: 82px 0 0 !important;
            }

            & .contactUsModal__btn_close {
                background-image: url("../img/svg/close.svg");
                background-size: 25px 25px;

                &:focus, &:active, &:checked {
                    outline: 0;
                    outline-offset: 0;
                }
            }
        }
    
    
        & .contactUsModal__body {

            & .contactUsModal__body__inputs-wrap {
                margin-left: -16px !important;
                margin-right: -16px !important;

                & .modal-body__header {
                    font-family: "Mulish-400";
                    font-size: 16px;
                    @include ls(25);
                }


                & .modal-body__input::placeholder {
                    color: $grey-1;
                }


                & .contactUsModal__add-text {
                    font-family: "Muli-300";
                    font-size: 12px;
                    @include ls(25);
                }
            }
    
        
            & .contactUsModal__btn_submit {
                width: $btn-small-width;
                top: 26px;
            }
        }
    }
    
}

.modal-backdrop {
    background-color: $dark-blue-1 !important;
    opacity: 0.8 !important;
 }




