<button  type="button" class="nav_side__btn-msg d-none d-md-flex flex-column navbtn position-fixed align-items-center justify-content-center px-0 bg-blue-l3 end-0 {{ data.visible ? '' : 'd-md-none'}}" data-navbtn="contact_modal"> 
    <img src="./assets/img/svg/chat.svg" alt="Chat" class="nav_side__btn-msg__icon">
    <span class="nav_side__btn-msg__text_1 text-uppercase">Message</span>
    <span class="nav_side__btn-msg__text_2 text-capitalize">plenco</span>
</button>




<!-- Modal -->
<div class="modal fade needs-validation novalidate" id="contactUsModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered contactUsModal-cont ">
    <div class="modal-content contactUsModal rounded-0 bg-blue-l1 px-5">
      <div class="modal-header contactUsModal__header-cont m-0 p-0 border-0">
        <h5 class="modal-title contactUsModal__header text_bicolor p-0" id="exampleModalLabel">Contact <span class="text-blue-1">Plenco</span></h5>
        <button type="button" class="btn-close contactUsModal__btn_close button_arrow_60_r position-absolute top-0 end-0 p-0 m-0 bg-yellow-1 opacity-100 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body contactUsModal__body border-start border-5 border-blue-l2 ps-4 pe-0 py-0 mt-2" id="contactUsModalForm">
            <div class="contactUsModal__body__inputs-wrap px-0 w-auto d-flex flex-wrap justify-content-between">
                    <div class="block_input_2__inputarea col-6 px-3 d-flex flex-column align-items-start mb-4">
                        <label class="modal-body__header mb-2 text-capitalize" for="modal-contact_name-first">First Name*</label>
                        <input type="text" class="form-control modal-body__input validate col-12" id="modal-contact_name-first" placeholder="First Name" required>
                      </div> 
                    <div class="block_input_2__inputarea col-6 px-3 d-flex flex-column align-items-start mb-4">
                        <p class="modal-body__header mb-2 text-capitalize" for="modal-contact_name-last">Last Name*</p>
                        <input type="text" class="form-control modal-body__input validate col-12 px-3" id="modal-contact_name-last" placeholder="Last Name" required>
                    </div> 
                    <div class="block_input_2__inputarea col-6 px-3 d-flex flex-column align-items-start mb-4">
                        <p class="modal-body__header mb-2 text-capitalize" for="modal-contact_email">Email Address*</p>
                        <input type="email" class="form-control modal-body__input validate col-12 px-3" id="modal-contact_email" placeholder="mail@adress.com" required>
                    </div> 
                    <div class="block_input_2__inputarea col-6 px-3 d-flex flex-column align-items-start mb-4">
                        <p class="modal-body__header mb-2 text-capitalize" for="modal-contact_phone">phone number*</p>
                        <input type="text" class="form-control modal-body__input validate col-12 px-3" id="modal-contact_phone" placeholder="(000) 000-0000">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-4">
                        <p class="modal-body__header mb-2 text-capitalize" for="modal-contact_company">Company Name</p>
                        <input type="text" class="form-control modal-body__input validate col-12 px-3" id="modal-contact_company" placeholder="My Company’s Name">
                    </div> 
                    <div class="block_input_2__inputarea col-12 px-3 d-flex flex-column align-items-start mb-0">
                        <p class="modal-body__header mb-2 text-capitalize" for="modal-contact_message">message*</p>
                        <textarea type="text" class="form-control modal-body__input validate col-12 px-3" id="modal-contact_message" placeholder="Write your message" style="height: 119px"></textarea>
                        <p class="form-text contactUsModal__add-text mb-0 w-100 px-0 mt-1">*fields are required. Our team will try to respond as soon as we can.</p> 
                    </div> 
            </div>
            <button type="submit" form="contactUsModalForm" class="btn btn-yellow-1 contactUsModal__btn_submit mx-auto position-relative my-0" >Submit</button>
      </form>
    </div>
  </div>
</div>


