<nav class="navbar navbar-expand-md d-none d-md-flex bg-light-blue-1">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="facility.html">Facility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#">Research & Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="research-development.html">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="environmental-policy.html">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="processing-guide.html">Careers</a>
        </li>

        
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center navbtn" role="button" id="nav_top__btn_search" data-navbtn="search">Search
              <img src="./assets/img/svg/nav_top__search-icon.svg" class="m-0 pl-2" />
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>