<nav class="navbar navbar-expand-md d-none d-md-flex bg-blue-l1">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto mb-0">
        <li class="nav-item px-0">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item px-0">
          <a class="nav-link text-nowrap px-0" href="facility.html">Facility</a>
        </li>
        <li class="nav-item px-0">
          <a class="nav-link text-nowrap px-0" href="research-development.html">Research & Development</a>
        </li>
        <li class="nav-item px-0">
          <a class="nav-link text-nowrap px-0" href="news-blog.html">News</a>
        </li>
        <li class="nav-item px-0">
          <a class="nav-link text-nowrap px-0" href="certifications.html">Certifications</a>
        </li>
        <li class="nav-item px-0">
          <a class="nav-link text-nowrap px-0" href="careers.html">Careers</a>
        </li>

        
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center navbtn px-0" role="button" id="nav_top__btn_search" data-navbtn="nav-section_search">Search
              <img src="./assets/img/svg/nav_top__search-icon.svg" class="m-0 ps-2" />
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>