.body_environmental-policy {

    & .section_heading_top__bg_img {
        
        background-position: 50% 20% !important;
        background-size: cover;
        opacity: 0;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: auto 115% !important;
        }
    }

    
    & .section_heading_bottom {    
        height: 414px;

        @include respond-to(lg) {        
            height: 400px;
        }
        @include respond-to(md) {        
            height: 380px;
        }
        @include respond-to(sm) {        
            height: 340px;
        }
        @include respond-to(xs) {        
            height: 293px;
        }
    
        & .section_heading_bottom__content {
            margin-top: 160px;    
            
            @include respond-to(lg) {
                margin-top: 120px;
                
            }
            @include respond-to(md) {
                margin-top: 100px;
                
            }
            @include respond-to(sm) {
                margin-top: 50px;
                
            }
            @include respond-to(xs) {
                margin-top: 30px;
                
            }
        
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;
                @include ls(50);
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 40px;
                }
        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 34px;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }
        
            }    
            & .section_heading_bottom__content__text {
                font-family: "Mulish-400";
                font-size: 18px;
                line-height: 24px;
                margin-top: 30px;
                @include ls(25);
        
                @include respond-to(sm) {
                    margin-bottom: 20px;
                }
                @include respond-to(xs) {
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 20px;
                    
                }
            }
        }    
    }

    & .section_15_bg {
        padding-bottom: 201px !important;

        @include respond-to(sm) {
            padding-bottom: 117px !important;

        }       

        & .block_3 {
            @include respond-to(sm) {
                margin-top: 42px !important;
            }
        }

        & .block_6 {
            @include respond-to(xs) {
                width: 100%;
            }
        }

    }

    & .section_13_bg {
        @include respond-to(sm) { 
            position: unset;
        }

        
        & .section_13__button {
            width: 250px;
            
        }
    }

    
}