.body_mp-mm-app {
    & .section_heading_top {
        @include respond-to(md) {            
            padding-top: 100px;            
        }
        @include respond-to(sm) {            
            padding-top: 230px;
        }
    }
    & .section_heading_top__center__header {       

        @include respond-to(xs) {            
            line-height: 30px !important;
        }
    }
    & .section_heading_top__center-block__cont {               
        height: 150px;
        width: 807px;

        @include respond-to(lg) {            
            padding-left: 30px;
            padding-right: 30px;
            width: 700px;
            height: 150px;
        }
        @include respond-to(md) {            
            padding-left: 0px;
            padding-right: 0px;
            max-width: 80% !important;                       
        }
        @include respond-to(sm) {            
            max-width: 85% !important;
            height: 170px;
        }
        @include respond-to(xs) { 
            max-width: 100% !important;
            height: 160px;
        }
       
    }
    & .section_heading_bottom {    
        height: 432px;

        @include respond-to(lg) {        
            height: 400px;
        }
        @include respond-to(md) {        
            height: 380px;
        }
        @include respond-to(sm) {        
            height: 430px;
        }
        @include respond-to(xs) {        
            height: 400px;
        }   
       
    }

//---------------------SECTION 37---------------------------------

    & .section_37 {
        margin-top: 108px;

        @include respond-to(sm) {
            margin-top: 0px;
        }


        & .section_37__data {

            & .section_37_accordion {

                & .accordion-button:after {
                    background-image: url('../img/svg/accordion__arrow_blue_down.svg');
                    background-size: 45%;
                    background-position: center center;
                }
            
                & .accordion-button:not(.collapsed)::after {
                    background-image: url('../img/svg/accordion__arrow_blue_up.svg');
                }
            }



        }


        & .section_37__header-line {

            &::before {
                content: "";
                position: absolute;
                left: -40px;
                top: 12px;
                height: 7px;
                width: 27px;
                background-color: $light-blue-2;
            }



            @include respond-to(sm) {
                &::before {
                    content: "";
                    position:relative;
                    display: inline-block;
                    left: 0px;
                    top: -8px;
                    height: 7px;
                    width: 27px;
                    margin-right: 15px;
                    background-color: $light-blue-2;
                }
            }
        }



        & .block_7 {

            margin-top: 60px;
        
            @include respond-to(sm) {
                margin-top: 42px;
            }

            
            & .block_7__left {
                max-height: 356px;
        
                @include respond-to(md) {
                    max-height: none;
                }
            }
        }




    }


//---------------------SECTION 27---------------------------------

& .section_27_bg {
    margin-top: 80px;
    padding-bottom: 86px;
    margin-bottom: 130px;

    @include respond-to(sm) {
        margin-top: 120px;
        padding-bottom: 30px;
        margin-bottom: 90px;
    }

}

& .section_27 {



    & .block_6 {
        //height: 100%;
        min-height: 136px;

        //& .block_6__header {
            //flex-grow: 1;
            //border: 1px solid red;
            //flex:1 0;
        //}

        & .block_6__text {
            font-family: "Mulish-600";
            font-size: 16px;
            line-height: 22px;
            @include ls(25);
        }

    }
}



//---------------------SECTION 107---------------------------------

& .section_107_bg {
    min-height: 182px;
    background-image: url('../img/pages/bmc-app/heading.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;

    @include respond-to(md) {
        min-height: 254px;
        overflow: visible;
    }
}


& .section_107 {
    background-color: rgba($blue-1, 0.85);
    //min-height: 182px;

    @include respond-to(sm) {
        //min-height: 254px;
        //padding-bottom: 22px;
    }


    & .section_107__content {

        & .section_107__left {
    
        
            & .section_107__text {
                font-family: "Mulish-600";
                @include ls(50);
                line-height: 30px;
                font-size: 24px;
                margin-top: 7px;
                

                @include respond-to(sm) {
                    font-size: 22px;
                    line-height: 28px;
                    margin-top: 0px;
                }                
            }

            &::before {
                content: "";
                position: absolute;
                height: 7px;
                width: 450px;
                background-color: $light-blue-2;
                left: -480px;
                top: 27px;

                
                @include respond-to(md) {
                    display: none;
                }
            }
    
        }

        & .section_107__right {

            & .section_107__button {
                width: 331px;

                @include respond-to(sm) {
                    width: 251px;
                    margin-top: 35px !important;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 7px;
                width: 450px;
                background-color: $light-blue-2;
                right: -482px;
                top: 22px;

                @include respond-to(md) {
                    display: none;
                }
            }
        }
    }

    &::before {

        @include respond-to(md) {
            content: "";
            position: absolute;
            left: 50%;
            top: -21px;
            width: 7px;
            height: 62px;
            background-color: $light-blue-2;
        }
    }
}


    
}