.body_pmc-cost-param {

    & .section_heading_top__center-block__cont {               
        height: 140px;        

        @include respond-to(lg) {            
            padding-left: 0px;
            padding-right: 0px;   
            width: 600px;         
        }
        
        @include respond-to(md) {
            max-width: 85% !important;            
        }

        @include respond-to(xs) {            
            max-width: 100% !important;
            
        }        

    }
    & .section_heading_bottom {
        height: 459px;        
        
        @include respond-to(md) {
            height: 400px;
        }
        @include respond-to(sm) {
            height: 350px;
        }
        @include respond-to(xs) {        
            height: 315px;
        }  
    }

//---------------------SECTION 37---------------------------------

    & .section_37 {
        margin-top: 108px;

        @include respond-to(sm) {
            margin-top: 25px;
        }

        & .section_37__left {
            margin-top: 55px;
        }

        & .section_37__data {


            & .block_4__text {
                font-family: "Muli-600";
                font-size: 24px;
                line-height: 30px;
                @include ls(50);
            }

            & .block_4__header {
                margin-top: 65px;
            }

            & .block_4__text_add  {
                font-family: "Muli-300";
                font-size: 16px;
                line-height: 18px;
                @include ls(25);
            }

            & .section_37__img-cont {
                
                @include respond-to(md) {
                    width: 80%;
                    overflow: hidden;
                }

                @include respond-to(sm) {
                    width: 100%;
                    right: -25px;
                }
            }

            & .section_37__image {
                
                @include respond-to(md) {
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                }
    
                @include respond-to(sm) {
                    width: 70vw;
                }
            }

            & .mock {
                height: 587px;
                width: 330px;


                & .section_37__img-cont_dt {
                    height: 587px;
                    width: 800px;
                    //border: 3px solid red;
                    overflow: hidden;
    
                    & .section_37__image_dt {
                        @include respond-to(lg) {
                            left: -150px;
                        }
                    }
    
                }
            }




            & .section_37_accordion {

                & .accordion-button:after {
                    background-image: url('../img/svg/accordion__arrow_blue_down.svg');
                    background-size: 45%;
                    background-position: center center;
                }
               
                & .accordion-button:not(.collapsed)::after {
                    //transform: rotate(180deg)!important;

                    background-image: url('../img/svg/accordion__arrow_blue_up.svg');
        
                }
            }



        }


        & .section_37__table-2  {

            & .table-2__item span:first-child {
                @include respond-to(sm) {
                    font-family: "Mulish-700";
                }
            }
        }


        & .section_37__subheader {
            font-family: "Play-700";
            font-size: 24px;
            @include ls(50);
            line-height: 30px;
        }


        & .section_37__button {
            min-width: 281px;
        }

        & .section_37__header-line {

            margin-top: 80px;

            &::before {
                content: "";
                position: absolute;
                left: -40px;
                top: 12px;
                height: 7px;
                width: 27px;
                background-color: $light-blue-2;
            }



            @include respond-to(sm) {
                &::before {
                    content: "";
                    position:relative;
                    display: inline-block;
                    left: 0px;
                    top: -8px;
                    height: 7px;
                    width: 27px;
                    margin-right: 15px;
                    background-color: $light-blue-2;
                }
            }
        }

        & .extrabold {
            font-family: "Mulish-900";
        }


        & .section_37__accordions {
            
            
            & .section_37_accordion {
    
                & .accordion-item {
    
                    & .accordion-header {
    
                        & .accordion-button {
                            font-family: "Mulish-700";
                            font-size: 20px;
                            line-height: 24px;
                            @include ls(25);
                            height: 45px;
    
                            &:after {
                                height: 45px;
                                width: 45px;
                                margin-left: 20px;
                                background-image: url('../img/svg/acc-arrow-down_45.svg');
                                background-position: center center;
                                background-size: contain;
                            }
                           
                            &:not(.collapsed)::after {
                                //transform: rotate(180deg)!important;
                                background-image: url('../img/svg/acc-arrow-up_45.svg');
                    
                            }
    
    
                        }    
                    }  
    
                }   
    
            }
        }
    }

    //---------------------SECTION 27---------------------------------

    & .section_27_bg {
        margin-top: 90px;
        padding-bottom: 86px;
        margin-bottom: 130px;

        @include respond-to(sm) {
            margin-top: 63px;
            padding-bottom: 30px;
            margin-bottom: 83px;
        }

    }

    & .section_27 {



        & .block_6 {
            //height: 100%;
            min-height: 136px;

            //& .block_6__header {
                //flex-grow: 1;
                //border: 1px solid red;
                //flex:1 0;
            //}

            & .block_6__text {
                font-family: "Mulish-600";
                font-size: 16px;
                line-height: 22px;
                @include ls(25);
            }

        }
    }

//---------------------SECTION 107---------------------------------

    & .section_107_bg {
        min-height: 182px;
        background-image: url('../img/pages/pmc-envir-details/section_107.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;

        @include respond-to(md) {
            min-height: 254px;
            overflow: visible;
        }
    }


    & .section_107 {
        background-color: rgba($blue-1, 0.85);
        //min-height: 182px;

        @include respond-to(sm) {
            //min-height: 254px;
            //padding-bottom: 22px;
        }


        & .section_107__content {

            & .section_107__left {
        
            
                & .section_107__text {
                    font-family: "Mulish-600";
                    @include ls(50);
                    line-height: 30px;
                    font-size: 24px;
                    margin-top: 7px;
                    

                    @include respond-to(sm) {
                        font-size: 22px;
                        line-height: 28px;
                        margin-top: 0px;
                    }                
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 7px;
                    width: 450px;
                    background-color: $light-blue-2;
                    left: -480px;
                    top: 27px;

                    
                    @include respond-to(md) {
                        display: none;
                    }
                }
        
            }

            & .section_107__right {

                & .section_107__button {
                    width: 331px;

                    @include respond-to(sm) {
                        width: 251px;
                        margin-top: 35px !important;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 7px;
                    width: 450px;
                    background-color: $light-blue-2;
                    right: -482px;
                    top: 22px;

                    @include respond-to(md) {
                        display: none;
                    }
                }
            }
        }

        &::before {

            @include respond-to(md) {
                content: "";
                position: absolute;
                left: 50%;
                top: -21px;
                width: 7px;
                height: 62px;
                background-color: $light-blue-2;
            }
        }
    }


    
}


