.body_priv-policy {
    & .section_heading_top__bg_img {
        
        background-position: 30% 45% !important;
        background-size: cover !important;
        opacity: .5;
        

        @include respond-to(sm) {
            background-position: 70% 50% !important;
            background-size: 200% !important;
        }
        @include respond-to(xs) {
            background-position: 75% 50% !important;
            background-size: 300% !important;
        }
    }
    & .section_heading_bottom {
        height: 378px;
        
        @include respond-to(md) {
            height: 360px;
        }
        @include respond-to(sm) {
            height: 350px;
        }
        @include respond-to(xs) {        
            height: 346px;
        }    
    }



//--------------------------SECTION 106----------------

    & .section_106 {

        & .section_106_accordion {

            & .accordion-button {
                height: 45px;

                
                &:after {
                    height: 45px;
                    width: 45px;
                    margin-left: 20px;
                    background-image: url('../img/svg/acc-arrow-down_45.svg');
                    background-position: center center;
                    background-size: contain;
                }
               
                &:not(.collapsed)::after {
                    //transform: rotate(180deg)!important;
                    background-image: url('../img/svg/acc-arrow-up_45.svg');
        
                }
            }

        }

    }


//--------------------------SECTION 103----------------

    & .section_103_bg {
        @include respond-to(xs) {        
            background-color: $light-blue-1;
        } 
    }

    & .section_103 {        
        height: 690px;

        & .section_103__input {
            height: 50px;
        }


        & .section_103__checkbox {            
            z-index: -1;
            opacity: 0;
            

            &:checked+.section_103__label::before {                
                background-image: url("../../img/svg/checkmark.svg");
                background-color: $light-blue-2;
                border: none;
                         
            }
        }
        & .section_103__label {                
            display: inline-flex;
            align-items: center;
            user-select: none;
                             


            &::before {
                content: '';
                display: inline-block;
                width: 23px;
                height: 23px;                    
                border: 1px solid $blue-1;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 80% 80%;
            }
            
        }
    }
}
