.body_research-development {

    & .section_heading_top__bg_img {
        
        background-position: 40% 50% !important;
        background-size: cover;
        opacity: 0;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: auto 115% !important;
        }
    }

    /*& .section_heading_top__center-block__cont {
        width: 700px;
        padding-left: 5px;
        padding-right: 5px; 
    }*/

    & .section_heading_bottom {    
        height: 496px;

        @include respond-to(lg) {        
            height: 480px;
        }
        @include respond-to(sm) {        
            height: 470px;
        }
        @include respond-to(xs) {        
            height: auto;
        }
    
        & .section_heading_bottom__content {
           margin-top: 150px;    
            
            @include respond-to(lg) {
                margin-top: 130px;
                
            }
            @include respond-to(sm) {
                margin-top: 50px;
                
            }
            @include respond-to(xs) {
                margin-top: 50px;
            }
        
        
        
            & .section_heading_bottom__content__header {
                font-family: "Almarai-700";
                font-size: 34px;
                line-height: 46px;
                @include ls(50);
        
                @include respond-to(lg) {
                    font-size: 28px;
                    line-height: 36px;
                }
        
                @include respond-to(sm) {
                    font-size: 26px;
                    line-height: 32px;
                }
        
                @include respond-to(xs) {
                    font-size: 22px;
                    line-height: 28px;
                }
        
            }    
            & .section_heading_bottom__content__text {
                font-family: "Mulish-400";
                font-size: 16px;
                line-height: 22px;
                //display: none;
                @include ls(25);
                
                /*@include respond-to(xs) {
                    font-family: "Mulish-400";
                    font-size: 16px;
                    line-height: 22px;
                    //display: block;
                    //margin-top: 20px;
                    //margin-bottom: 50px;
                }*/
            }
        }    
    }


    & .section_105_bg {
        height: 1240px;
        background: linear-gradient(180deg, rgba(231,242,242,1) 60%, rgba(255,255,255,1) 40%);
    }
    

    .section_105 {

        & .section_105__header {
            font-family: "Almarai-700";
            font-size: 28px;
        }

        & .section_105__text {
            font-family: "Mulish-600";
            font-size: 20px;
            line-height: 28px; 
            @include ls(25);
        }

        & .section_105__text_add {
            font-family: "Mulish-400";
            font-size: 16px; 
            line-height: 24px; 
            @include ls(25);
        }
    }
}
/*<div class="section_105__photo_container">
                </div>*/