.body_runner-design-tips {
    & .section_heading_top__bg_img {
        
        background-position: 60% 50% !important;
        background-size: cover !important;
        opacity: .5;
        

        @include respond-to(sm) {
            background-position: 40% 100% !important;
            background-size: 150% !important;
        }
        @include respond-to(xs) {
            background-position: 40% 100% !important;
            background-size: 200% !important;
        }
    }

    & .section_heading_bottom {    
        height: 533px;
        
        
        @include respond-to(xs) {        
            height: 519px;
        }
    }


//-------------------------------SECTION 16---------------------------

    & .section_16 {
        padding-top: 107px;
        padding-bottom: 143px;

        
        @include respond-to(sm) {
            padding-top: 70px;
            padding-bottom: 118px;
        }



        & .block_7 {

            margin-top: 73px;
        
            @include respond-to(sm) {
                margin-top: 60px;
            }

            
            & .block_7__left {
                max-height: 356px;
        
                @include respond-to(sm) {
                    max-height: none;
                }
        
        
                & .block_7__left__img {
                    max-height: 356px;
                    
                    @include respond-to(sm) {
                        max-height: none;
                    }
                }
        
            }
        
        
            & .block_7__right {
                padding-top: 28px;
                padding-bottom: 28px;
                min-height: 240px !important;
        
                @include respond-to(sm) {
                    top: -20px;
                    padding-top: 54px;
                    padding-bottom: 34px;
                    min-height: auto;
                }
        
        
                & .block_7__text-wrap {
        
                    @include respond-to(sm) {
                        margin-left: 15px;
                        width: calc(100% - 25px);
                    }
        
    
                }
            }

            & ~ .block_7 {
                margin-top: 120px;

                @include respond-to(sm) {
                    margin-top: 80px;
                }
            }

        }

    }

    
}
