.body_series-06000 {

    & .section_heading_top {
        @include respond-to(xs) {
            padding-top: 220px;
        }
    }
    & .section_heading_top__center-block__cont {     
        height: 150px;
        @include respond-to(lg) {
            width: 600px;
        }
        @include respond-to(md) {
            max-width: 85% !important;
        }
        @include respond-to(sm) {
            padding-left: 0;
            padding-right: 0; 
            max-width: 100% !important;
            height: 170px;
        } 
        
        
    }
    & .section_heading_bottom {
        height: 476px;
        
        @include respond-to(lg) {
            height: 430px;
        }
        @include respond-to(md) {
            height: 400px;
        }
        @include respond-to(sm) {
            height: 370px;
        }
        @include respond-to(xs) {        
            height: 334px;
        }   
    }    

//-------------------------------SECTION 31---------------------------

    & .section_31_bg {
        padding-top: 118px;
        padding-bottom: 137px;

        @include respond-to(sm) {
            padding-top: 52px;
            padding-bottom: 66px;
        }
    }

    & .section_31 {

        & .section_31_accordion {


            /*& .accordion__item__header {
                font-family: "Play-700";
                font-size: 18px;
                @include ls(25);
            }*/

            & .accordion-button {
                height: 45px;

                &::after {
                    height: 45px;
                    width: 45px;
                    background-position: center center;
                    background-size: 45px 45px;
                }
            }

            & .accordion__item__download-text {
                font-family: "Mulish-600";
                font-size: 16px;
                @include ls(25);
                line-height: 20px;
            }

            & .accordion__item__method-name {
                font-family: "Mulish-800";
                font-size: 14px;
                @include ls(75);
            }



        }

    }


//-------------------------------SECTION 32---------------------------

    & .section_32_bg {

        & .section_32__bg-img {
            height: 855px;
            width: auto;
            left: 70%;
            //top: -17%;

        }

        & .section_32__bg-img_mob {
            height: 95vw;
            width: auto;
            right: 0;
            top: -5%;
        }

    }

    & .section_32 {
        padding-top: 147px;
        padding-bottom: 100px;

        @include respond-to(sm) {
            padding-top: 45px;
            padding-bottom: 65px;
        }

        & .section_32__image {
            height: 464px;
            

            @include respond-to(sm) {
                height: auto;
                width: 100%;
            }
        }

    }


//---------------------SECTION 27---------------------------------

    & .section_27_bg {
        padding-top: 64px;
        padding-bottom: 80px;

        @include respond-to(sm) {
            padding-top: 45px;
            padding-bottom: 36px;
        }

    }


    & .section_27 {



        & .block_6 {
            min-height: 136px;


            & .block_6__text {
                font-family: "Mulish-600";
                font-size: 16px;
                line-height: 22px;
                @include ls(25);
            }

        }
    }




//------------------------SECTION 23--------------------

    & .section_23_bg {
        padding-top: 110px;
        padding-bottom: 85px;
        
        @include respond-to(sm) {
            padding-top: 90px;
            padding-bottom: 80px;
        }

        & .section_23 {

            & .section_23__table {

                & .section_23__table__header {
                    font-family: "Mulish-700";
                    font-size: 20px;
                    line-height: 24px;
                    @include ls(25);
                }

                & .extrabold {
                    font-family: "Mulish-900";
                }

                & .section_23__block {
                    min-height: 45px;
                }

                & .section_23_accordion {

                    & .accordion-item {

                        & .accordion-header {

                            & .accordion-button {
                                font-family: "Mulish-800";
                                font-size: 16px;
                                line-height: 24px;
                                @include ls(25);                                                          
                                height: 45px;
                
                                &::after {
                                    height: 45px;
                                    width: 45px;
                                    background-position: center center;
                                    background-size: 45px 45px;
                                }
                            }

                        }

                        & .accordion__text-3 {
                            font-family: "Mulish-600";
                            font-size: 16px;
                            line-height: 24px;
                            @include ls(25);
                        }

                    }

                }

            }
            
            & .section_23__add-text {
                font-family: "Mulish-Italic";
                font-size: 14px;
                line-height: 20px;
                @include ls(25);

            }
        }
    }
//---------------------SECTION 107---------------------------------

    & .section_107_bg {
        min-height: 182px;
        background-image: url('../img/pages/polymer-rd-lab/heading.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;

        @include respond-to(md) {
            min-height: 254px;
            overflow: visible;
        }
    }


    & .section_107 {
        background-color: rgba($blue-1, 0.85);
        //min-height: 182px;

        @include respond-to(sm) {
            //min-height: 254px;
            //padding-bottom: 22px;
        }


        & .section_107__content {

            & .section_107__left {
        
            
                & .section_107__text {
                    font-family: "Mulish-600";
                    @include ls(50);
                    line-height: 30px;
                    font-size: 24px;
                    margin-top: 7px;
                    

                    @include respond-to(sm) {
                        font-size: 22px;
                        line-height: 28px;
                        margin-top: 0px;
                    }                
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 7px;
                    width: 450px;
                    background-color: $light-blue-2;
                    left: -480px;
                    top: 27px;

                    
                    @include respond-to(md) {
                        display: none;
                    }
                }
        
            }

            & .section_107__right {

                & .section_107__button {
                    width: 331px;

                    @include respond-to(sm) {
                        width: 251px;
                        margin-top: 35px !important;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 7px;
                    width: 450px;
                    background-color: $light-blue-2;
                    right: -482px;
                    top: 22px;

                    @include respond-to(md) {
                        display: none;
                    }
                }
            }
        }

        &::before {

            @include respond-to(md) {
                content: "";
                position: absolute;
                left: 50%;
                top: -21px;
                width: 7px;
                height: 62px;
                background-color: $light-blue-2;
            }
        }
    }


    
}