.body_storage-therm-materials {
    & .section_heading_top__center-block__cont {        
        @include respond-to(xs) {        
            height: 130px;            
        }
    }
    & .section_heading_bottom {
        height: 364px;
        
        @include respond-to(lg) {
            height: 330px;
        }
        @include respond-to(md) {
            height: 300px;
        }
        @include respond-to(sm) {
            height: 250px;
        }
        @include respond-to(xs) {        
            height: 222px;
        }   
    }
    

//------------------------SECTION 23--------------------

    & .section_23_bg {
        padding-top: 120px;
        
        
        @include respond-to(sm) {
            padding-top: 60px;
            padding-bottom: 50px;
        }

        & .section_23 {


            & .section_23__table {

                /*& .section_23__table__hero {
                    margin-left: -8px !important;
                }*/

                & .section_23__table__header {
                    font-family: "Mulish-700";
                    font-size: 20px;
                    line-height: 24px;
                    @include ls(25);
                }

                & .section_23__block {
                    min-height: 45px;
                }

                & .section_23_accordion {

                    & .accordion-item {

                        & .accordion-header {
                            margin-left: -8px;

                            & .accordion-button {
                                font-family: "Mulish-700";
                                font-size: 20px;
                                line-height: 24px;
                                @include ls(25);
                                height: 54px;
                            }

                        }

                        & .accordion__text-1 {
                            font-family: "Mulish-800";
                            font-size: 14px;
                            @include ls(75);
                        }

                    }


                }

            }
            
            & .section_23__subheader {
                margin-top: 69px;                
            }
            & .text-add {
                margin-top: 21px; 
                padding-bottom: 13px;               
            }
        }

    }



//------------------------SECTION 25--------------------

    & .section_25_bg {

        & .section_25__text {
 
            font-family: "Mulish-Italic";
            font-size: 14px;
            line-height: 20px;
            @include ls(25);
        }
    }
}

