<div class="row footer_bg position-relative">
    <div class="footer__bg-cont position-absolute overflow-hidden">
        <img src="./assets/img/plenco__logo_footer-main.png" alt="" class="footer__bg__img_main position-absolute">
    </div>

    <div class="footer px-0">
        <div class="container cont-site col-12 px-36 d-flex flex-column d-md-flex flex-md-row justify-content-start pb-3 position-relative">

            <div class="footer__block_left col-12 col-md-4 col-lg-3 offset-md-2 offset-lg-1 offset-xl-0">
                <p class="footer__text_bold mb-0 text-center text-md-start position-relative">Plastics Engineering Company</p>
                <p class="footer__text text-center text-md-start position-relative">3518 Lakeshore Road</p>
                <p class="footer__text text-center text-md-start position-relative">P.O. Box 758</p>
                <p class="footer__text text-center text-md-start position-relative">Sheboygan, WI 53082-0758</p>
                <div class="footer__logos_wrapper_left d-none d-md-flex">
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_fb.svg" alt="FB" class="footer__logo">
                    </a>
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_youtube.svg" alt="Youtube" class="footer__logo">
                    </a>
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_linkedin.svg" alt="LinkedIn" class="footer__logo">
                    <a>
                </div>
                <div class="footer__website-by_wrapper d-none d-md-flex d-flex align-items-center">
                    <p class="footer__text footer__website-by">Website by: </p>
                    <img src="./assets/img/svg/logo_5-color.svg" alt="Logo" class="footer__logo">
                </div>
            </div>

            <div class="footer__logos__cont offset-0 col-12 offset-md-1 offset-lg-4 offset-xl-6 col-md-3 col-lg-3 d-flex justify-md-content-end">
                <div class="footer__logos_wrapper_middle col-6 col-md-1 d-md-none d-flex justify-content-evenly ">
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_fb.svg" alt="FB" class="footer__logo">
                    </a>
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_youtube.svg" alt="Youtube" class="footer__logo">
                    </a>
                    <a href="facebook.com">
                        <img src="./assets/img/svg/footer__logo_linkedin.svg" alt="LinkedIn" class="footer__logo">
                    <a>
                </div>
                <div class="footer__right-block col-6 col-md-9 col-lg-7 col-xl-6 offset-0 offset-md-12 offset-lg-5 offset-xl-6 d-flex flex-column">
                    <a href="priv-policy.html" class="footer__link order-3 order-md-1 position-relative"><p class="footer__text footer__text_spec">Privacy Policy</p></a>
                    <a href="terms-conditions.html" class="footer__link order-4 order-md-2 position-relative"><p class="footer__text">Terms & Conditions</p></a>
                    <a href="accessibility.html" class="footer__link order-5 order-md-3 position-relative"><p class="footer__text">Accessibility</p></a>
                    <a href="#" class="footer__link order-2 order-md-4 position-relative"><p class="footer__text_bold">Employee Login</p></a>
                    <a href="certificate" class="footer__link order-1 order-md-5 position-relative"><p class="footer__text_bold">ISO Certificate & Certifications</p></a>
                    
                    <div class="footer__website-by_wrapper d-flex d-md-none align-items-center order-5">
                        <p class="footer__text footer__website-by">Website by: </p>
                        <img src="./assets/img/svg/logo_5-color.svg" alt="Logo" class="footer__logo">
                    </div>

                    <div class="footer__desing d-flex align-items-center justify-content-center position-absolute">
                            <a href="plenco-wireframes.html" class="footer__design_text text-center ">Exit Design</a>
                    </div>
    
                </div>
            </div>


        </div>
    </div>
</div>