.block_3 {
    max-height: 355px;
    //border: 2px solid red;
    display: flex;
    margin-top: 62px;
    align-items: center;

    @include respond-to(sm) {
        flex-direction: column;
        max-height: none;
        margin-top: 60px !important;
    }


    & .block_3__left {
        width: 47%;
        //border: 2px solid blue;
        height: 100%;
        max-height: 355px;

        @include respond-to(sm) {
            width: 100%;
            max-height: none;
        }


        & .block_3__left__img {
            height: 100%;
            width: 100%;
        }
    }


    & .block_3__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 48%;
        margin-left: 5%;

        @include respond-to(sm) {
            //height: 100%;
            width: 100%;
            margin-top: 27px;
            margin-left: 0;
        }
        //border: 1px solid green;

        & .ul_1 {
            margin-top: 0;
            //display: flex;
           // flex-direction: column;
           // align-items: flex-start;
           // justify-content: flex-start;
/*
            & .block_3__item__marker {
                height: 9px;
                width: 9px;
                background-color: $light-blue-2;
                margin-right: 14px;
                margin-top: 8px; //line-height/2
            }
*/
            & .ul_1__text {
                font-size: 16px;
                line-height: 24px;

            }
        }

        &.right { //if pictute is on the right
            order: -1; 
            margin-left: 0; 
            margin-right: 5%;


            @include respond-to(sm) {
                order: 0; 
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    
}
/*

                    <div class="block_3__item">
                        <p class="block_3__item__text">Meeting or exceeding customers’ total expectations.</p>
                        <p class="block_3__item__text">Participating in an exchange of knowledge and ideas to 
                            enhance our customers’ processing capabilities.</p>
                        <p class="block_3__item__text">Meeting periodically with our customers’ management, 
                            technical, and manufacturing personnel to review continuous improvement toward mutual 
                            goals.</p>
                        <p class="block_3__item__text">Constantly exploring options for cost containment. 
                            (Customer Relations text)</p>
                    </div>

*/

/*

            <li class="block_3__item__text">{{ data.}}</li>
            <li class="block_3__item__text">Participating in an exchange of knowledge and ideas to 
                enhance our customers’ processing capabilities.</li>
            <li class="block_3__item__text">Meeting periodically with our customers’ management, 
                technical, and manufacturing personnel to review continuous improvement toward mutual 
                goals.</li>
            <li class="block_3__item__text">Constantly exploring options for cost containment. 
                (Customer Relations text)</li>


*/

/*
    {% if data.pic_position == "right" %}
     style="order: -1; margin-left: 0; margin-right: 5%"
    {% endif %}



*/