.block_input_1__searcharea {

    .block_input_1__input {
        border: 2px solid $blue-1;
        font-family: "Mulish-300";
        font-size: 18px;
        z-index: 30;
        padding-left: 25px;
        height: 100%;
        width: 100%;
        display: inline-block;
        
        &::placeholder {
            color: black;
        }
    }

}







